<section class="control">
        <div class="tm-btn-group">
          <a class="tm-btn tm-dropdown-toggle" data-toggle="dropdown" href="javascript:;">
            Category: Type A
            <span class="caret"></span>
          </a>
          <ul class="tm-dropdown-menu">
            <li><a href="javascript:;">Category: Type A</a></li>
            <li><a href="javascript:;">Category: Type B</a></li>
            <li><a href="javascript:;">Category: Type C</a></li>
          </ul>
        </div>
        <div class="tm-btn-group pull-right">
          <a class="tm-btn tm-dropdown-toggle" data-toggle="dropdown" href="javascript:;">
            Jan 12, 2015 - Oct 12, 2016
            <span class="caret"></span>
          </a>
          <ul class="tm-dropdown-menu">
            <li><a href="javascript:;">Last 4 hours</a></li>
            <li><a href="javascript:;">Last 7 days</a></li>
            <li><a href="javascript:;">Last 30 days</a></li>           
          </ul>
        </div>
      </section><section class="container with-summary">
        <ul class="chart-summary">
          <li class="detections">
            <div class="block">
              <div class="centered">
                <summary>206</summary>
                <span>Detections</span>
              </div>
            </div>
          </li>
          <li class="critical">
            <div class="block">
              <div class="centered">
                <summary>3</summary>
                <span>Critical</span>
              </div>
            </div>
          </li>
          <li class="similarity">
            <div class="block">
              <div class="centered">
                <summary class="error">98%</summary>
                <span>Similarity</span>
              </div>
            </div>
          </li>
        </ul>
        <div class="chart-container"></div>
      </section><section class="legend">
        <ul></ul>
      </section>