<section class="control">
        <div class="tm-btn-group">
          <a class="tm-btn tm-dropdown-toggle" data-toggle="dropdown" href="javascript:;">
            Detections
            <span class="caret"></span>
          </a>
          <ul class="tm-dropdown-menu">
            <li><a href="javascript:;">Detections</a></li>
            <li><a href="javascript:;">Unsucessful</a></li>
            <li><a href="javascript:;">Affected Endpoints</a></li>
          </ul>
        </div>        
        <!--div class="tm-btn-group pull-right" data-toggle="buttons-radio">
          <button class="tm-btn">Month</button>
          <button class="tm-btn">Day</button>         
        </div-->
        <div class="tm-btn-group pull-right">
          <a class="tm-btn tm-dropdown-toggle" data-toggle="dropdown" href="javascript:;">
            Mar 1, 2016 - Mar 7, 2016
            <span class="caret"></span>
          </a>
          <ul class="tm-dropdown-menu">
            <li><a href="javascript:;">Last 4 hours</a></li>
            <li><a href="javascript:;">Last 7 days</a></li>
            <li><a href="javascript:;">Last 30 days</a></li>           
          </ul>
        </div>
      </section><section class="container">        
        <div class="chart-container"></div>
      </section><section class="legend">
        <ul></ul>
      </section>