<section class="control">
        <div class="tm-btn-group">
          <a class="tm-btn tm-dropdown-toggle" data-toggle="dropdown" href="javascript:;">
            View by: Malware sources
            <span class="caret"></span>
          </a>
          <ul class="tm-dropdown-menu">
            <li><a href="javascript:;">View by: Malware sources</a></li>
            <li><a href="javascript:;">View by: Malware severity</a></li>
            <li><a href="javascript:;">View by: Malware destination</a></li>           
          </ul>
        </div>
        <!--select class="span2">
          <option value="a">Category: Type A</option>
          <option value="a">Category: Type B</option>
          <option value="a">Category: Type C</option>
        </select-->
      </section><section class="container with-vertical-summary">        
        <ul class="chart-summary">
          <li class="detections">
            <div class="block">
              <div class="centered">
                <summary>207</summary>
                <span>Detections</span>
              </div>
            </div>
          </li>
          <li class="critical">
            <div class="block">
              <div class="centered">
                <summary>3</summary>
                <span>Critical</span>
              </div>
            </div>
          </li>
          <li class="similarity">
            <div class="block">
              <div class="centered">
                <summary class="error">98%</summary>
                <span>Similarity</span>
              </div>
            </div>
          </li>
        </ul>
        <div class="chart-container"></div>
      </section>