<section class="container pie-chart with-summary">
        <div class="pei-container"></div>
        <a href="javascript:;" class="more pull-right">View Details</a>
        <ul class="chart-summary">
          <li>
            <div class="block">
              <div class="centered">
                <summary>823</summary>
                <span class="online">Online</span>
              </div>
            </div>
          </li>
          <li>
            <div class="block">
              <div class="centered">
                <summary>357</summary>
                <span class="roaming">Roaming</span>
              </div>
            </div>
          </li>
          <li>
            <div class="block">
              <div class="centered">
                <summary>50</summary>
                <span class="offline">Offline</span>
              </div>
            </div>
          </li>
          <li>
            <div class="block">
              <div class="centered">
                <summary class="danger">2</summary>
                <span class="abnormal">Abnormal</span>
              </div>
            </div>
          </li>
        </ul>
        
      </section>