<section class="container">
        <table>
          <thead>
            <tr>
              <th></th>
              <th></th>
              <th>Detections</th>
              <th>Enable</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><div class="icon-trebdx"></div></td>
              <td>TrebdX</td>
              <td><span><a href="javascript:;">5</a></span></td>
              <td><span>5%</span></td>
            </tr>
            <tr>
              <td><div class="icon-web-reputation"></div></td>
              <td>Web Reputation</td>
              <td><span><a href="javascript:;">1,200</a></span></td>
              <td><span>100%</span></td>
            </tr>
            <tr>
              <td><div class="icon-suspicious-connection"></div></td>
              <td>Suspicious Connection</td>
              <td><span>0</span></td>
              <td><span>0%</span></td>
            </tr>
            <tr>
              <td><div class="icon-firewall"></div></td>
              <td>Firewall<span class="ps">(License required)</span></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td><div class="icon-device-control"></div></td>
              <td>Device Control</td>
              <td><span><a href="javascript:;">1,012</a></span></td>
              <td><span>78%</span></td>
            </tr>
            <tr>
              <td><div class="icon-behavior-monitoring"></div></td>
              <td>Behavior Monitoring</td>
              <td><span><a href="javascript:;">921</a></span></td>
              <td><span>73%</span></td>
            </tr>
            <tr>
              <td><div class="icon-virus-spyware-scan"></div></td>
              <td>Virus/Spyware Scan</td>
              <td><span><a href="javascript:;">1,200</a></span></td>
              <td><span>100%</span></td>
            </tr>
          </tbody>
        </table>
      </section>