<section class="container with-summary">
        <ul class="chart-summary">
          <li class="detections">
            <div class="block">
              <div class="centered">
                <summary>206</summary>
                <span>Detections</span>
              </div>
            </div>
          </li>
          <li class="critical">
            <div class="block">
              <div class="centered">
                <summary>3</summary>
                <span>Critical</span>
              </div>
            </div>
          </li>
          <li class="similarity">
            <div class="block">
              <div class="centered">
                <summary class="error">98%</summary>
                <span>Similarity</span>
              </div>
            </div>
          </li>
        </ul>
        <div class="chart-container">
          <table>
            <thead>
              <tr>
                <th>Indicator</th>
                <th class="occurences">Occurences</th>
                <th class="change">Change</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Blocked and lockdown applications over previous 7 days</td>
                <td class="occurences"><a href="javascript:;">500</a></td>
                <td><i>&#x21D1;</i><span class="cont">500</span><span class="percentage">(100%)</span></td>
              </tr>
              <tr>
                <td>Endpoints with lockdown applications over previous 14 days</td>
                <td class="occurences"><a href="javascript:;">6</a></td>
                <td><i>&#x21D1;</i><span class="cont">96</span><span class="percentage">(13%)</span></td>
              </tr>
              <tr>
                <td>Offline endpoints over previous 14 days</td>
                <td class="occurences"><a href="javascript:;">11</a></td>
                <td><i>&#x21D3;</i><span class="cont">16</span><span class="percentage">(62.5%)</span></td>
              </tr>
              <tr>
                <td>Stopped agents over previous 14 days</td>
                <td class="occurences"><a href="javascript:;">18</a></td>
                <td><i>&#x21D1;</i><span class="cont">5</span><span class="percentage">(32.7%)</span></td>
              </tr>
              <tr>
                <td>Uncategorized applications over previous 14 days</td>
                <td class="occurences"><a href="javascript:;">37</a></td>
                <td><i>&#x21D3;</i><span class="cont">32</span><span class="percentage">(1.18%)</span></td>
              </tr>
              <tr>
                <td>User requests for new applications over previous 14 days</td>
                <td class="occurences"><a href="javascript:;">68</a></td>
                <td><i>&#xA0;</i><span class="cont">0</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>