<section class="css-reference">
  <h5>Tag container</h5>
  <pre>
    <style data-selector=".tokenfield .token"></style>
  </pre>
  <pre data-title="Selected">
    <style data-selector=".tokenfield .token.active"></style>
  </pre>
  <pre data-title="Editable">
      <style data-selector=".tokenfield.editable .token:hover">:hover</style>
    </pre>
  <h5>Text container</h5>
  <pre>
    <style data-selector=".tokenfield .token .token-label"></style>
  </pre>
  <pre data-title="Editable">
    <style data-selector=".tokenfield.editable .token .token-label"></style>
  </pre>
  <h5>Remove icon container</h5>
  <pre>
    <style data-selector=".tokenfield .token .close"></style>
  </pre>
  <pre data-title=":hover">
    <style data-selector=".tokenfield .token .close:hover"></style>
  </pre>
  <h5>Icon class</h5>
  <p>The icon class should only be used on elements that do not contain any text or child elements. We recommend wrapping any <code data-tag="span"></code> or <code data-tag="i"></code> elements.</p>
  <pre data-title="For image icon(svg or png):">
    <style data-selector=".icon"></style>
  </pre>
  <h5>Remove icon</h5>
  <pre>
    <style data-selector=".icon-cancel"></style>
  </pre>
</section>
<section class="form-tags-example">
  <p>Tags are often used to represent a category or to label an object. Tags should be removable.</p>
  <h5>Basic</h5>
  <div class="tokenfield form-control">
    <div class="token">
      <span class="token-label">1.10.2.11</span>
      <a href="javascript:;" class="close icon icon-cancel"></a>
    </div><div class="token">
      <span class="token-label">Known threats</span>
      <a href="javascript:;" class="close icon icon-cancel"></a>
    </div>
  </div>
  <h5>Focus</h5>
  <div class="tokenfield form-control">
    <div class="token active">
      <span class="token-label">1.10.2.11</span>
      <a href="javascript:;" class="close icon icon-cancel"></a>
    </div><div class="token active">
      <span class="token-label">Known threats</span>
      <a href="javascript:;" class="close icon icon-cancel"></a>
    </div>
  </div>
  <h5>Editable</h5>
  <div class="tokenfield form-control editable">
    <div class="token">
      <span class="token-label">1.10.2.11</span>
      <a href="javascript:;" class="close icon icon-cancel"></a>
    </div><div class="token">
      <span class="token-label">Known threats</span>
      <a href="javascript:;" class="close icon icon-cancel"></a>
    </div>
  </div>
  <h5>Truncated</h5>
  <div class="tokenfield form-control">
    <div class="token">
      <span class="token-label">Loreamet_psums12121@gmail.com</span>
      <a href="javascript:;" class="close icon icon-cancel"></a>
    </div>
  </div>
</section>