<section class="css-reference">
  <h5>Basic token container</h5>
  <pre>
    <style data-selector=".tag-editor"></style>
  </pre>
  <pre data-title="Focus state:">
    <style data-selector=".tag-editor.focused"></style>
  </pre>

  <h5>Editable text container</h5>
  <p>Extend the text container of the tag components.</p>
  <pre data-title="Normal state tag in editable text container">
    <style data-selector=".tag-editor .tag-editor-editTag"></style>
  </pre>
  <pre data-title="Active state tag in editable text container ">
    <style data-selector=".tag-editor .tag-editor-tag.active"></style>
  </pre>

  <h5>Input wrapped within text container</h5>
  <pre>
    <style data-selector=".tag-editor input"></style>
  </pre>

  <h5>Token filter wrapper</h5>
  <p>Wrap the token container, icon, and drop-down menu with a <code data-tag="div"></code> element.</p>
  <pre>
    <style data-selector=".tokenize"></style>
  </pre>

  <h5>Token filter container</h5>
  <p>Extend the basic token container class.</p>
  <pre>
    <style data-selector=".tokenize .tag-editor"></style>
  </pre>
  <pre data-title=":after for dropdown caret ">
    <style data-selector=".tokenize .tag-editor:after"></style>
  </pre>

  <h5>Icon class</h5>
  <p>The icon class should only be used on elements that do not contain any text or child elements. We recommend wrapping any <code data-tag="span"></code> or <code data-tag="i"></code> elements.</p>
  <pre data-title="For image icon(svg or png):">
    <style data-selector=".input-icon-group .icon"></style>
  </pre>
  <h5>Remove icon</h5>
  <p>Do not display the remove icon when the token with filter field is empty.</p>
  <pre>
    <style data-selector=".icon-cancel"></style>
    <style data-selector=".tokenize > .icon-cancel"></style>
  </pre>
  <pre data-title=":hover">
    <style data-selector=".tokenize > .icon-cancel:hover"></style>
  </pre>

  <h5>Drop-down menu</h5>
  <p>For details on drop-down control styles, refer to <a href="#/styles/{{theme}}/{{version}}/c30559fc-1076-4d01-a05a-ea5ef0b20f69">Drop-downs</a>.</p>
  <pre data-title="No matches list item">
    <style data-selector=".dropdown-menu .no-matches"></style>
  </pre>
  <pre data-title=":hover for No matches list item">
    <style data-selector=".dropdown-menu .no-matches:hover"></style>
  </pre>
</section>
<section class="form-advanced-example">
  <p>In a token field, users can select and gather multiple tokens.</p>
	<h5>Basic</h5>
  <input type="text" class="form-control input-width-lg" id="tags" value="Hello, World, Example, Tags" />
  <h5>Token with filter</h5>
  <input type="text" class="form-control input-width-lg" id="filterTags" value="Japan, Korea, Malaysia" />
	<h5>Editable</h5>
	<input type="text" class="form-control input-width-lg" id="editTags" value="1.10.2.11, 1.10.2.12, 10.19.148.12" />
</section>