<section class="css-reference">
  <h5>Drop-down menu</h5>
  <p>For details on drop-down control styles, refer to <a href="#/styles/{{theme}}/{{version}}/c30559fc-1076-4d01-a05a-ea5ef0b20f69">Drop-downs</a>.</p>
  <pre data-title="normal and :hover for No matches list item">
    <style data-selector=".ui-autocomplete.dropdown-menu.no-match .ui-menu-item-wrapper.ui-state-active"></style>
	</pre>
	<pre data-title="matches list item">
    <style data-selector=".ui-autocomplete.dropdown-menu .ui-menu-item-wrapper .matched"></style>
  </pre>
</section>
<section class="form-token-example">
	<p>Users could enter values which are not in the defined set. For more information, see <a href="http://tw-hiesrv.tw.trendnet.org/uiwww/segment/01_enterprise/ENT_UX_Go/Style%20Portal%20Guidelines/Component%20Interaction%20Design/Token%20Field/html/token_field_with_auto-complete_vs__multiple-select.html" target="_blank">Interaction Flowchart</a>.</p>
	<input type="text" class="form-control input-width-lg" id="autocompleteToken" value="2.2.2.2, 2.2.2.3"/>
</section>