<section class="form-token-example">
	<p>Users can only select values from a defined list. For more information, see <a href="http://tw-hiesrv.tw.trendnet.org/uiwww/segment/01_enterprise/ENT_UX_Go/Style%20Portal%20Guidelines/Component%20Interaction%20Design/Token%20Field/html/token_field_with_auto-complete_vs__multiple-select.html" target="_blank">Interaction Flowchart</a>.</p>
  <input type="text" class="form-control input-width-lg" id="tokenCombobox" value="Japan, Korea, Malaysia" />
</section>