<section class="css-reference">
  <h5>Basic token container</h5>
  <pre>
    <style data-selector=".tag-editor"></style>
  </pre>
  <pre data-title="Focus state:">
    <style data-selector=".tag-editor.focused"></style>
  </pre>

  <h5>Editable Text container</h5>
  <p>Extend the text container of the tag components.</p>
  <pre data-title="Tag normal state in editable text container">
    <style data-selector=".tag-editor .tag-editor-editTag"></style>
  </pre>
  <pre data-title="Tag active state in editable text container">
    <style data-selector=".tag-editor .tag-editor-tag.active"></style>
  </pre>

  <h5>Input wrapped within text container</h5>
  <pre>
    <style data-selector=".tag-editor input"></style>
  </pre>

  <h5>Token filter wrapper</h5>
  <p>Wrap the token container, icon, and drop-down menu with a <code data-tag="div"></code> element.</p>
  <pre>
    <style data-selector=".tokenize"></style>
  </pre>

  <h5>Token filter container</h5>
  <p>Extend the basic token container class.</p>
  <pre>
    <style data-selector=".tokenize .tag-editor"></style>
  </pre>
  <pre data-title=":after for dropdown caret ">
    <style data-selector=".tokenize .tag-editor:after"></style>
  </pre>

  <h5>Icon class</h5>
  <p>The icon class should only be used on elements that do not contain any text or child elements. We recommend wrapping any <code data-tag="span"></code> or <code data-tag="i"></code> elements.</p>
  <pre data-title="For image icon(svg or png):">
    <style data-selector=".input-icon-group .icon"></style>
  </pre>
  <h5>Remove Icon</h5>
  <p>Remove only appears if filter token is more than 0 items.</p>
  <pre>
    <style data-selector=".icon-cancel"></style>
    <style data-selector=".tokenize > .icon-cancel"></style>
  </pre>
  <pre data-title=":hover">
    <style data-selector=".tokenize > .icon-cancel:hover"></style>
  </pre>

  <h5>Dropdown menu</h5>
  <p>Dropdown menu should be a drop-down menu style. Please refer to <a href="#/styles/{{theme}}/{{version}}/c30559fc-1076-4d01-a05a-ea5ef0b20f69">Components > Drop-downs</a>.</p>
  <pre data-title="No matches list item">
    <style data-selector=".dropdown-menu .no-matches"></style>
  </pre>
  <pre data-title=":hover for No matches list item">
    <style data-selector=".dropdown-menu .no-matches:hover"></style>
  </pre>
</section>
<section class="form-advanced-example">
  <p>In a token field, users can select and gather multiple tokens.</p>
	<h5>Basic</h5>
	<input type="text" data-input-tag="tags">
	<h5>Token with filter</h5>
	<div class="token-filed" data-token-field="initialize">
		<select id="tokenize" multiple="multiple" data-token-field="token">
		  	<option value="Japan" selected>Japan</option>
		  	<option value="Korea" selected>Korea</option>
		  	<option value="Malaysia" selected>Malaysia</option>
		  	<option value="Switzerland">Switzerland</option>
	    	<option value="Syria">Syria</option>
	    	<option value="Tahiti">Tahiti</option>
	    	<option value="Taiwan">Taiwan</option>
			<option value="Tajikistan">Tajikistan</option>
		</select>
	</div>
	<h5>Editable</h5>
	<input type="text" data-input-tag="editTags">
</section>