.form-layout-example ul {
  margin-bottom: 0;
}
.form-layout-example .form-group {
  margin-left: 24px;
}
.form-layout-example .form-inline .form-group {
  margin-left: 0;
}
.form-layout-example .form-group:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .form-layout-example .form-horizontal .form-group .control-label {
    width: 84px;
  }
  .form-layout-example .form-horizontal .form-group .control-wrapper-offset {
    margin-left: 84px;
  }
  .form-layout-example .form-inline .form-group .form-control {
    width: 168px;
  }
  .form-layout-example .example .form-horizontal .form-group .control-label {
    width: 85px;
  }
  .form-layout-example .form-horizontal fieldset legend {
    width: 616px;
  }
  .form-layout-example .form-horizontal .form-group .control-label {
    width: 68px;
  }
}