.form-layout-example ul {
  margin-bottom: 0;
}
.form-layout-example .form-group {
  margin-left: 24px;
}
.form-layout-example .form-inline .form-group {
  margin-left: 0;
}
.form-layout-example .checkbox-label {
  margin-top: 0;
}
@media (min-width: 768px) {
  .form-layout-example .form-group > .form-control {
    width: 579px;
  }
  .form-layout-example .form-horizontal fieldset .form-group:last-child {
    margin-bottom: 0;
  }
  .form-layout-example .form-horizontal fieldset legend {
    width: 604px;
  }
  .form-layout-example .form-horizontal .form-group .control-label {
    width: 84px;
  }
  .form-layout-example .form-horizontal .form-group .control-wrapper {
    width: 512px;
  }
  .form-layout-example .form-horizontal .form-group .control-wrapper-offset {
    margin-left: 84px;
  }
  .form-layout-example .form-inline .form-group .form-control {
    width: 168px;
  }
  .form-layout-example .example .form-group > .form-control {
    width: 598px;
  }
  .form-layout-example .example .form-horizontal .form-group .control-label {
    width: 86px;
  }
}