<section class="tables-style-example">
  <p>The side menu is used for navigating content, while tabs are used for switching views of the same content. Vertical navigation is optimised for using the left hand side of pages to navigate through a set of screens.</p>
  <div class="lists-unordered">
    <ul>
      <li>Side menu usually used for second menu selected.</li>
      <li>Don't recommend side menu used third menu selected.</li>
      <li>The menu width adject to accommodate the content in limited space.</li>
      <li>Use at left hand side of pages.</li>
      <li>Use side menu for moving between related sets of pages.</li>
    </ul>
  </div>
</section>