.drag-drop-row-example .table-row-draggable > thead > tr > th:nth-child(2),
.drag-drop-row-example .table-row-selection > tbody > tr > td:nth-child(2) {
	width: 72px;
}
.drag-drop-row-example .table-row-draggable > thead > tr > th:nth-child(3),
.drag-drop-row-example .table-row-draggable > tbody > tr > td:nth-child(3) {
	width: 60.53%;
}
.draggable-table-helper {
	border: 0 !important;
}
.draggable-table-helper thead th {
    line-height: 0 !important;
    font-size: 0 !important;
    height: 0 !important;
    padding: 0 !important;
		border: 0 !important;
}

.drag-drop-column-example .table-col-draggable-container th.ui-column-highlight {
  background-color: #f8f8f8;
  color: #dddddd;
}

.drag-drop-column-example .table-col-draggable-container tbody td {
  transition: all 1s;
}

.drag-drop-column-example .draggable-table-col-helper thead th {
  background-color: #ffffff;
  border-color: #bbb;
  box-shadow: 0 1px 4px rgba(0,0,0,.3);
}

.drag-drop-column-example .table-col-draggable-container-2 td.ui-column-highlight2 {
  color: #dddddd;
}
.drag-drop-column-example .table-col-draggable-container-2 th.ui-column-highlight2 {
  background-color: #f8f8f8;
  color: #dddddd;
}

.drag-drop-column-example .draggable-table-col-helper2 thead th {
  background-color: #ffffff;
  border-color: #bbb;
  box-shadow: 0 1px 4px rgba(0,0,0,.3);
}
