<section class="css-reference">
  <h5>Draggable indicator</h5>
	<p>Wrap an indicator class using <code data-tag="span"></code> within the first column to indicate that a row can be dragged.</p>
  <pre>
    <style data-selector=".table-row-draggable .ui-sortable-handle:hover td .draggable-indicator"></style>
  </pre>
	<pre data-title=":before">
    <style data-selector=".table-row-draggable .ui-sortable-handle:hover td .draggable-indicator:before"></style>
  </pre>
  <h5>Helper</h5>
	<p>Use this style on the dragged row.</p>
	<pre>
    <style data-selector=".ui-sortable-helper"></style>
  </pre>
	<h5>Placeholder</h5>
	<p>Use this style (gray background) to indicate where a dragged row will be dropped.</p>
  <pre>
    <style data-selector=".table-row-draggable .table-draggable-placeholder td"></style>
  </pre>
	<pre data-title=":first-child">
    <style data-selector=".table-row-draggable .table-draggable-placeholder td:first-child"></style>
  </pre>
	<pre data-title=":last-child">
    <style data-selector=".table-row-draggable .table-draggable-placeholder td:last-child"></style>
  </pre>
</section>

<section class="drag-drop-row-example">
	<p>Tables with draggable rows allow users to rearrange the order of records within tables.</p>
    <div class="lists-unordered">
		<ul>
			<li>Only allow one row to be dragged at a time.</li>
			<li>Display a visual hint (a hand cursor) while hovering over a draggable row.</li>
			<li>Display a visual hint (a move cursor) while dragging a row.</li>
			<li>Display a visual hint (gray background) to indicate where a dragged row will be dropped.</li>
			<li>Display a visual hint (a not-allowed cursor) if a row is dragged somewhere it cannot be dropped.</li>
			<li>Return a row to its original position in the table if the row is dropped where it cannot be dropped.</li>
			<li>Drag-and-drop tables should have less than 100 rows and not display pagination controls.</li>
		</ul>
	</div>
	<div class="table-draggable-container">
		<table class="table table-bordered table-hover table-row-selection table-row-draggable">
			<thead>
				<tr>
					<th class="gutter">
						<div class="checkbox">
							<input type="checkbox" name="tablecheckboxs" id="table-draggable-checkbox-ctrl" class="input-checkbox">
							<label for="table-draggable-checkbox-ctrl"></label>
						</div>
					</th>
					<th>Priority</th>
					<th>User</th>
					<th>Applied Rules</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td scope="row">
						<span class="draggable-indicator"></span>
						<div class="checkbox">
							<input type="checkbox" name="tablecheckboxs" id="table-draggable-checkbox-row-1" class="input-checkbox">
							<label for="table-draggable-checkbox-row-1"></label>
						</div>
					</td>
					<td>1</td>
					<td class="td-link"><a href="javascript:;">Alice_Hacker, Tome Random, Juan Castrol</a></td>
					<td>1 Block, 2 Allow</td>
				</tr>
				<tr>
					<td scope="row">
						<span class="draggable-indicator"></span>
						<div class="checkbox">
							<input type="checkbox" name="tablecheckboxs" id="table-draggable-checkbox-row-2" class="input-checkbox">
							<label for="table-draggable-checkbox-row-2"></label>
						</div>
					</td>
					<td>2</td>
					<td class="td-link"><a href="javascript:;">Any</a></td>
					<td>1 Block</td>
				</tr>
				<tr>
					<td scope="row">
						<span class="draggable-indicator"></span>
						<div class="checkbox">
							<input type="checkbox" name="tablecheckboxs" id="table-draggable-checkbox-row-3" class="input-checkbox">
							<label for="table-draggable-checkbox-row-3"></label>
						</div>
					</td>
					<td>3</td>
					<td class="td-link"><a href="javascript:;">Betty_Chen, Tim_Huang</a></td>
					<td>1 Block, 1 Allow</td>
				</tr>
				<tr>
					<td scope="row">
						<span class="draggable-indicator"></span>
						<div class="checkbox">
							<input type="checkbox" name="tablecheckboxs" id="table-draggable-checkbox-row-4" class="input-checkbox">
							<label for="table-draggable-checkbox-row-4"></label>
						</div>
					</td>
					<td>4</td>
					<td class="td-link"><a href="javascript:;">Cindy_Wang, Katy_Chiang</a></td>
					<td>1 Block, 1 Allow</td>
				</tr>
				<tr>
					<td scope="row">
						<span class="draggable-indicator"></span>
						<div class="checkbox">
							<input type="checkbox" name="tablecheckboxs" id="table-draggable-checkbox-row-5" class="input-checkbox">
							<label for="table-draggable-checkbox-row-5"></label>
						</div>
					</td>
					<td>5</td>
					<td class="td-link"><a href="javascript:;">Danny_Random</a></td>
					<td>1 Allow</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>