<section class="drag-drop-column-example">
  <div class="table-col-draggable-container">
    <table class="table table-bordered table-column-draggable">
      <thead class="ui-state-highlight">
        <tr>
          <th class="gutter">
            <div class="checkbox">
              <input type="checkbox" name="tablecheckboxs" id="table-column-draggable-checkbox" class="input-checkbox">
              <label for="table-column-draggable-checkbox"></label>
            </div>
          </th>
          <th class="column-sortable">Deployment Plan</th>
          <th class="column-sortable">Type</th>
          <th class="column-sortable">Appliance</th>
          <th class="column-sortable">Deployed</th>
          <th class="column-sortable">Creator</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row">
            <span class="draggable-indicator"></span>
            <div class="checkbox">
              <input type="checkbox" name="tablecheckboxs" id="table-column-draggable-checkbox-1" class="input-checkbox">
              <label for="table-column-draggable-checkbox-1"></label>
            </div>
          </td>
          <td>Hotfix_DDEI</td>
          <td>Hotfix</td>
          <td>8</td>
          <td>2016-06-02 23:15:00</td>
          <td>Administrator</td>
        </tr>
        <tr>
          <td scope="row">
            <span class="draggable-indicator"></span>
            <div class="checkbox">
              <input type="checkbox" name="tablecheckboxs" id="table-column-draggable-checkbox-2" class="input-checkbox">
              <label for="table-column-draggable-checkbox-2"></label>
            </div>
          </td>
          <td>Hotfix_DDI_01</td>
          <td>Virtual Analyzer image</td>
          <td>12</td>
          <td>2016-04-18 23:17:20</td>
          <td>Administrator</td>
        </tr>
        <tr>
          <td scope="row">
            <span class="draggable-indicator"></span>
            <div class="checkbox">
              <input type="checkbox" name="tablecheckboxs" id="table-column-draggable-checkbox-3" class="input-checkbox">
              <label for="table-column-draggable-checkbox-3"></label>
            </div>
          </td>
          <td>TW_Patch_01_DDI</td>
          <td>Firmware</td>
          <td>29</td>
          <td>2016-04-17 21:20:18</td>
          <td>Operator</td>
        </tr>
        <tr>
          <td scope="row">
            <span class="draggable-indicator"></span>
            <div class="checkbox">
              <input type="checkbox" name="tablecheckboxs" id="table-column-draggable-checkbox-4" class="input-checkbox">
              <label for="table-column-draggable-checkbox-4"></label>
            </div>
          </td>
          <td>Patch_02_DDI</td>
          <td>Hotfix</td>
          <td>10</td>
          <td>2016-03-20 21:00:55</td>
          <td>Operator</td>
        </tr>
        <tr>
          <td scope="row">
            <span class="draggable-indicator"></span>
            <div class="checkbox">
              <input type="checkbox" name="tablecheckboxs" id="table-column-draggable-checkbox-5" class="input-checkbox">
              <label for="table-column-draggable-checkbox-5"></label>
            </div>
          </td>
          <td>JP_Hotfix_DDI</td>
          <td>Hotfix</td>
          <td>7</td>
          <td>2016-03-11 12:34:02</td>
          <td>Operator</td>
        </tr>
        <tr>
          <td scope="row">
            <span class="draggable-indicator"></span>
            <div class="checkbox">
              <input type="checkbox" name="tablecheckboxs" id="table-column-draggable-checkbox-6" class="input-checkbox">
              <label for="table-column-draggable-checkbox-6"></label>
            </div>
          </td>
          <td>Hotfix_DDEI</td>
          <td>Hotfix</td>
          <td>8</td>
          <td>2016-06-02 23:15:00</td>
          <td>Administrator</td>
        </tr>
        <tr>
          <td scope="row">
            <span class="draggable-indicator"></span>
            <div class="checkbox">
              <input type="checkbox" name="tablecheckboxs" id="table-column-draggable-checkbox-7" class="input-checkbox">
              <label for="table-column-draggable-checkbox-7"></label>
            </div>
          </td>
          <td>Hotfix_DDI_01</td>
          <td>Virtual Analyzer image</td>
          <td>12</td>
          <td>2016-04-18 23:17:20</td>
          <td>Administrator</td>
        </tr>
        <tr>
          <td scope="row">
            <span class="draggable-indicator"></span>
            <div class="checkbox">
              <input type="checkbox" name="tablecheckboxs" id="table-column-draggable-checkbox-8" class="input-checkbox">
              <label for="table-column-draggable-checkbox-8"></label>
            </div>
          </td>
          <td>TW_Patch_01_DDI</td>
          <td>Firmware</td>
          <td>29</td>
          <td>2016-04-17 21:20:18</td>
          <td>Operator</td>
        </tr>
        <tr>
          <td scope="row">
            <span class="draggable-indicator"></span>
            <div class="checkbox">
              <input type="checkbox" name="tablecheckboxs" id="table-column-draggable-checkbox-9" class="input-checkbox">
              <label for="table-column-draggable-checkbox-9"></label>
            </div>
          </td>
          <td>Patch_02_DDI</td>
          <td>Hotfix</td>
          <td>10</td>
          <td>2016-03-20 21:00:55</td>
          <td>Operator</td>
        </tr>
        <tr>
          <td scope="row">
            <span class="draggable-indicator"></span>
            <div class="checkbox">
              <input type="checkbox" name="tablecheckboxs" id="table-column-draggable-checkbox-10" class="input-checkbox">
              <label for="table-column-draggable-checkbox-10"></label>
            </div>
          </td>
          <td>JP_Hotfix_DDI</td>
          <td>Hotfix</td>
          <td>7</td>
          <td>2016-03-11 12:34:02</td>
          <td>Operator</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="table-col-draggable-container-2" style="margin-top: 20px;">
      <table class="table table-bordered table-column-draggable">
        <thead class="ui-state-highlight">
          <tr>
            <th>Deployment Plan</th>
            <th>Type</th>
            <th>Appliance</th>
            <th>Deployed</th>
            <th>Creator</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Hotfix_DDEI</td>
            <td>Hotfix</td>
            <td>8</td>
            <td>2016-06-02 23:15:00</td>
            <td>Administrator</td>
          </tr>
          <tr>
            <td>Hotfix_DDI_01</td>
            <td>Virtual Analyzer image</td>
            <td>12</td>
            <td>2016-04-18 23:17:20</td>
            <td>Administrator</td>
          </tr>
          <tr>
            <td>TW_Patch_01_DDI</td>
            <td>Firmware</td>
            <td>29</td>
            <td>2016-04-17 21:20:18</td>
            <td>Operator</td>
          </tr>
          <tr>
            <td>Patch_02_DDI</td>
            <td>Hotfix</td>
            <td>10</td>
            <td>2016-03-20 21:00:55</td>
            <td>Operator</td>
          </tr>
          <tr>
            <td>JP_Hotfix_DDI</td>
            <td>Hotfix</td>
            <td>7</td>
            <td>2016-03-11 12:34:02</td>
            <td>Operator</td>
          </tr>
          <tr>
            <td>Hotfix_DDEI</td>
            <td>Hotfix</td>
            <td>8</td>
            <td>2016-06-02 23:15:00</td>
            <td>Administrator</td>
          </tr>
          <tr>
            <td>Hotfix_DDI_01</td>
            <td>Virtual Analyzer image</td>
            <td>12</td>
            <td>2016-04-18 23:17:20</td>
            <td>Administrator</td>
          </tr>
          <tr>
            <td>TW_Patch_01_DDI</td>
            <td>Firmware</td>
            <td>29</td>
            <td>2016-04-17 21:20:18</td>
            <td>Operator</td>
          </tr>
          <tr>
            <td>Patch_02_DDI</td>
            <td>Hotfix</td>
            <td>10</td>
            <td>2016-03-20 21:00:55</td>
            <td>Operator</td>
          </tr>
          <tr>
            <td>JP_Hotfix_DDI</td>
            <td>Hotfix</td>
            <td>7</td>
            <td>2016-03-11 12:34:02</td>
            <td>Operator</td>
          </tr>
          <tr>
            <td>Hotfix_DDEI</td>
            <td>Hotfix</td>
            <td>8</td>
            <td>2016-06-02 23:15:00</td>
            <td>Administrator</td>
          </tr>
          <tr>
            <td>Hotfix_DDI_01</td>
            <td>Virtual Analyzer image</td>
            <td>12</td>
            <td>2016-04-18 23:17:20</td>
            <td>Administrator</td>
          </tr>
          <tr>
            <td>TW_Patch_01_DDI</td>
            <td>Firmware</td>
            <td>29</td>
            <td>2016-04-17 21:20:18</td>
            <td>Operator</td>
          </tr>
          <tr>
            <td>Patch_02_DDI</td>
            <td>Hotfix</td>
            <td>10</td>
            <td>2016-03-20 21:00:55</td>
            <td>Operator</td>
          </tr>
          <tr>
            <td>JP_Hotfix_DDI</td>
            <td>Hotfix</td>
            <td>7</td>
            <td>2016-03-11 12:34:02</td>
            <td>Operator</td>
          </tr>
          <tr>
            <td>Hotfix_DDEI</td>
            <td>Hotfix</td>
            <td>8</td>
            <td>2016-06-02 23:15:00</td>
            <td>Administrator</td>
          </tr>
          <tr>
            <td>Hotfix_DDI_01</td>
            <td>Virtual Analyzer image</td>
            <td>12</td>
            <td>2016-04-18 23:17:20</td>
            <td>Administrator</td>
          </tr>
          <tr>
            <td>TW_Patch_01_DDI</td>
            <td>Firmware</td>
            <td>29</td>
            <td>2016-04-17 21:20:18</td>
            <td>Operator</td>
          </tr>
          <tr>
            <td>Patch_02_DDI</td>
            <td>Hotfix</td>
            <td>10</td>
            <td>2016-03-20 21:00:55</td>
            <td>Operator</td>
          </tr>
          <tr>
            <td>JP_Hotfix_DDI</td>
            <td>Hotfix</td>
            <td>7</td>
            <td>2016-03-11 12:34:02</td>
            <td>Operator</td>
          </tr>
        </tbody>
      </table>
    </div>
</section>  