<section class="css-reference">
  <h5>Navigation bar</h5>
  <p>A navigation bar can created with a <code data-tag="nav"></code> element.</p>
  <pre>
    <style data-selector=".navbar"></style>
    <style data-selector=".navbar-default"></style>
  </pre>
  <pre data-title=":before">
    <style data-selector=".navbar:before"></style>
  </pre>
  <pre data-title=":after">
    <style data-selector=".navbar:after"></style>
  </pre>

  <h5>Navigation bar wrapper</h5>
  <p>Wrap all tabs with a <code data-tag="ul"></code> element.</p>
  <pre>
    <style data-selector=".nav"></style>
    <style data-selector=".navbar-nav"></style>
  </pre>
  <pre data-title=":before">
    <style data-selector=".nav:before"></style>
  </pre>
  <pre data-title=":after">
    <style data-selector=".nav:after"></style>
  </pre>
  <pre data-title="Navigation bar container within banner">
    <style data-selector=".navbar-right"></style>
  </pre>

  <h5>Navigation bar item</h5>
  <p>Use <code data-tag="li"></code> options under <code data-tag="ul"></code> elements.</p>
  <pre>
    <style data-selector=".nav > li"></style>
    <style data-selector=".navbar-nav > li"></style>
    <style data-selector=".navbar-default .navbar-nav > li"></style>
  </pre>
  <pre data-title="Navigation bar tab within banner">
    <style data-selector="header .nav > li"></style>
  </pre>

  <h5>Navigation bar item options</h5>
  <p>Use <code data-tag="a"></code> options under <code data-tag="li"></code> elements.</p>
  <pre>
    <style data-selector=".nav > li > a"></style>
    <style data-selector=".navbar-default .navbar-nav > li > a"></style>
  </pre>
  <pre data-title=":hover, :focus">
    <style data-selector=".navbar-default .navbar-nav > li > a:hover"></style>
  </pre>
  <pre data-title="Active state">
    <style data-selector=".navbar-default .navbar-nav > .active > a"></style>
  </pre>
  <pre data-title=":hover, :focus">
    <style data-selector=".navbar-default .navbar-nav > .active > a:hover"></style>
  </pre>
  <pre data-title="Item icon without text">
    <style data-selector=".navbar-nav .navbar-icon"></style>
  </pre>
  <pre data-title="Navigation bar tab item within banner">
    <style data-selector="header .nav > li > a"></style>
  </pre>
  <pre data-title=":hover">
    <style data-selector=".nav > li > a:hover"></style>
  </pre>
  <pre data-title=":active, :focus">
    <style data-selector=".nav > li > a:focus"></style>
  </pre>

  <h5>Dropdown menu</h5>
  <p>About the dropdown menu style, please refer to dropdowns component.</p>
  <pre>
    <style data-selector=".navbar-nav > li > .dropdown-menu"></style>
  </pre>
  <pre data-title="Dropdown menu within banner">
    <style data-selector="header .nav > li.dropdown .dropdown-menu"></style>
  </pre>

  <h5>Dropdown menu caret</h5>
  <pre>
    <style data-selector=".nav > li > a .caret"></style>
  </pre>
  <pre data-title="Dropdown menu caret within banner">
    <style data-selector="header .nav > li > a .caret"></style>
  </pre>

  <h5>Dropdown menu items</h5>
  <p>About the dropdown menu items style, please refer to dropdowns component.</p>
  <pre>
    <style data-selector=".navbar-nav > li > .dropdown-menu > li > a"></style>
  </pre>
  <pre data-title="Dropdown menu items within banner">
    <style data-selector="header .navbar-nav > li > .dropdown-menu > li > a"></style>
    <style data-selector="header .nav > li.dropdown .dropdown-menu > li"></style>
  </pre>

  <h5>Submenu items</h5>
  <p>About the submenu style, please refer to dropdowns component.</p>

  <h5>Icon class</h5>
  <p>The icon class should only be used on elements that do not contain any text or child elements. We recommend wrapping any <code data-tag="span"></code> or <code data-tag="i"></code> elements.</p>
  <pre data-title="For image icon(svg or png):">
    <style data-selector=".icon"></style>
  </pre>
  <pre data-title="Icon within Banner">
    <style data-selector="header .nav > li > a .icon"></style>
  </pre>
  <pre data-title="Icon In Banner with text">
    <style data-selector="header .nav > li.dropdown .icon"></style>
  </pre>
  <pre data-title="Icon within navigation bar">
    <style data-selector=".navbar-nav .icon-favorite"></style>
  </pre>
  <pre data-title="Icon favorite">
    <style data-selector=".icon-favorite"></style>
  </pre>
  <pre data-title="Icon t-ball">
    <style data-selector=".icon-t-ball-white"></style>
  </pre>

  <h5>Navigation bar animation</h5>
  <p>The animated progress are created using CSS3 keyframes.</p>
  <pre data-title="Navigation bar first tab">
    <style data-selector=".affix-top .navbar-first"></style>
  </pre>
  <pre data-title="When navigation bar fiexd top">
    <style data-selector=".affix .navbar-first"></style>
  </pre>
  <pre>
    <style data-keyframes="slideleft"></style>
    <style data-keyframes="slideright"></style>
  </pre>
</section>

<section class="navbar-example">
  <div>
    <ul class="description">
      <li>Horizontal navigation bar without arrow icons</li>
      <li>When all tabs contain sub-items, do not use any arrows to indicate sub-items.</li>
    </ul>
    <div>
      <header class="site-header">
        <a href="javascript:;" class="banner">
          <!--div class="placeholder" data-type="image" data-refer="theme" data-src="tball.svg"></div-->
          <h1 class="site-title">Product Name</h1>
        </a>             
        <ul class="nav navbar-nav navbar-right">
          <li><a href="javascript:;"><span class="icon icon-alert"></span></a></li>
          <li class="dropdown">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span><span class="icon icon-user"></span>Admin_TW
            </a>
            <ul class="dropdown-menu">
              <li><a href="javascript:;">Change Password</a></li>
              <li><a href="javascript:;">Log off</a></li>
            </ul>
          </li>
        </ul>
      </header>
      <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
          <li><a class="navbar-icon" href="javascript:;"><span class="icon icon-favorite"></span></a></li>
          <li class="dropdown active">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">link 1</a>
            <ul class="dropdown-menu open">
              <li class="active"><a href="javascript:;">Menu item one</a></li>
              <li><a href="javascript:;">Menu item two</a></li>
              <li><a href="javascript:;">Menu item three</a></li>
              <li class="dropdown-submenu">
                <a href="javascript:;">Menu item four</a>
                <ul class="dropdown-menu">
                  <li><a href="javascript:;">Second level item one</a></li>
                  <li><a href="javascript:;">Second level item two</a></li>
                  <li><a href="javascript:;">Second level item three</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">link 2</a>
            <ul class="dropdown-menu open">
              <li><a href="javascript:;">Menu item one</a></li>
              <li><a href="javascript:;">Menu item two</a></li>
              <li><a href="javascript:;">Menu item three</a></li>
              <li class="dropdown-submenu">
                <a href="javascript:;">Menu item four</a>
                <ul class="dropdown-menu">
                  <li><a href="javascript:;">Second level item one</a></li>
                  <li><a href="javascript:;">Second level item two</a></li>
                  <li><a href="javascript:;">Second level item three</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">link 3</a>
            <ul class="dropdown-menu open">
              <li><a href="javascript:;">Menu item one</a></li>
              <li><a href="javascript:;">Menu item two</a></li>
              <li><a href="javascript:;">Menu item three</a></li>
              <li class="dropdown-submenu">
                <a href="javascript:;">Menu item four</a>
                <ul class="dropdown-menu">
                  <li><a href="javascript:;">Second level item one</a></li>
                  <li><a href="javascript:;">Second level item two</a></li>
                  <li><a href="javascript:;">Second level item three</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">link 4</a>
            <ul class="dropdown-menu open">
              <li><a href="javascript:;">Menu item one</a></li>
              <li><a href="javascript:;">Menu item two</a></li>
              <li><a href="javascript:;">Menu item three</a></li>
              <li class="dropdown-submenu">
                <a href="javascript:;">Menu item four</a>
                <ul class="dropdown-menu">
                  <li><a href="javascript:;">Second level item one</a></li>
                  <li><a href="javascript:;">Second level item two</a></li>
                  <li><a href="javascript:;">Second level item three</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <ul class="description">
      <li>Horizontal navigation bar with arrow icons</li>
      <li>When you have a mix of tabs that do and do not contain sub-items, use arrows to indicate sub-items.</li>
    </ul>
    <div>
      <header class="site-header">
        <a href="javascript:;" class="banner">
          <!--img src="dist/img/tball.svg" alt="Style Portal"-->
          <!--div class="placeholder" data-type="image" data-refer="theme" data-src="tball.svg"></div-->
          <h1 class="site-title">Product Name</h1>
        </a>             
        <ul class="nav navbar-nav navbar-right">
          <li><a href="javascript:;"><span class="icon icon-alert"></span></a></li>
          <li class="dropdown">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span><span class="icon icon-user"></span>Admin_TW
            </a>
            <ul class="dropdown-menu">
              <li><a href="javascript:;">Change Password</a></li>
              <li><a href="javascript:;">Log off</a></li>
            </ul>
          </li>
        </ul>
      </header>
      <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
          <li><a class="navbar-icon" href="javascript:;"><span class="icon icon-favorite"></span></a></li>
          <li class="active"><a href="javascript:;">Link 1</a></li>
          <li><a href="javascript:;">Link 2</a></li>
          <li class="dropdown">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span>link 3</a>
            <ul class="dropdown-menu open">
              <li class="active"><a href="javascript:;">Menu item one</a></li>
              <li><a href="javascript:;">Menu item two</a></li>
              <li><a href="javascript:;">Menu item three</a></li>
              <li class="dropdown-submenu">
                <a href="javascript:;">Menu item four</a>
                <ul class="dropdown-menu">
                  <li><a href="javascript:;">Second level item one</a></li>
                  <li><a href="javascript:;">Second level item two</a></li>
                  <li><a href="javascript:;">Second level item three</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span>link 4</a>
            <ul class="dropdown-menu open">
              <li><a href="javascript:;">Menu item one</a></li>
              <li><a href="javascript:;">Menu item two</a></li>
              <li><a href="javascript:;">Menu item three</a></li>
              <li class="dropdown-submenu">
                <a href="javascript:;">Menu item four</a>
                <ul class="dropdown-menu">
                  <li><a href="javascript:;">Second level item one</a></li>
                  <li><a href="javascript:;">Second level item two</a></li>
                  <li><a href="javascript:;">Second level item three</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <ul class="description">
      <li>Navigation bar animation:</li>
      <li>Always keep the navigation bar on the top of the UI when scrolling down the page.</li>
    </ul>
    <!--iframe class="fixed-example" src="themes/components/navigations/fixed-top-example/index.html"></iframe-->
    <div class="placeholder" data-type="iframe" data-class="fixed-example" data-src="fixed-top-example.html"></div>
  </div>
</section>