.com {
  color: #888;
  white-space: normal;
}

/* TODO: It should be replace for sepecifying*/
ul.description { 
  list-style-type: disc;      
  margin-bottom: 20px;   
}

.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}
.example {
  position: relative;
  padding: 45px 0 15px;
  margin-bottom: 20px;
  &:after {
    position: absolute;
    top: 15px;
    left: 0;
    font-size: 14px;
    color: #888;
    text-transform: uppercase;
    letter-spacing: 1px;
    content: "Example";
  }
  &:last-child {
    margin-bottom: 0;
  }
}