.table-single-field-edit-example .lists-unordered ul {
  list-style-type: none;
  padding-left: 0;
}
.table-validation-edit-example {
	margin-top: 24px;
}
.table-validation-edit-example .table-edit > tbody > tr td.edit-cell .editable-inline .form-group .form-invalid {
	border-color: #db3d44;
}
.table-validation-edit-example .edit-cell .editable {
	outline: none;
}