<section class="table-inline-editing-example table-validation-edit-example">
  <p>This example allows users to quickly modify values in a table. The most common way for users to start editing values in a table is to click a table cell.</p>
	<table class="table table-bordered table-hover table-longtext-truncated table-edit validation">
    <thead>
      <tr>
        <th>Plan Name</th>
        <th>Type</th>
        <th>Creator</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="edit-cell"><span>Hotfix_DDEI</span></td>
        <td>Hotfix</td>
        <td>David Wu</td>
        <td class="edit-cell"><span>ipsum dolor sit amet, consectetuer adipiscing elit.</span></td>
      </tr>
      <tr>
        <td class="edit-cell"><span>Hotfix_DDI_01</span></td>
        <td>Virtual Analyzer image</td>
        <td>Michael Chen</td>
        <td class="edit-cell"><span>Aenean commodo ligula eget dolor.</span></td>
      </tr>
      <tr>
        <td class="edit-cell"><span>TW_Patch_01_DDI</span></td>
        <td>Firmware</td>
        <td>Eric Lin</td>
        <td class="edit-cell"><span>Donec vitae sapien ut libero venenatis faucibus.</span></td>
      </tr>
    </tbody>
  </table>
</section>