body {
	background: #222222;
    left: 0;
    right: 0;
    height: 100%;
    position: absolute;
}
.wrapper {
    position: relative;
    min-height: 100%;
}
.container-fluid {
    padding: 0 16px;
}
header.site-header {
    padding: 0 24px;
    padding-right: 0;
}
.site-header {
    position: relative;
    padding: 0 20px;
    height: 64px;
    line-height: 62px;
    margin-bottom: 0;
    background-color: #2c2c2c;
    border-bottom: 1px #ddd solid;
}
.brand-logo {
    display: inline-block;
    background: url(../images/tball.svg);
    height: 32px;
    width: 32px;
    background-size: 94.93px 32px;
    vertical-align: middle;
}
.navbar {
    padding: 0;
}
.site-header a:link,
.site-header a:hover,
.site-header a:active,
.site-header a:visited,
.site-header a:focus {
    color: #222;
}
.site-header .banner {
    background: none;
    display: inline-block;
    height: 62px;
    padding: 0;
}
.site-header .banner,
.site-header .banner :hover {
    text-decoration: none;
}
.site-title {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    line-height: 26px;
    margin-top: 17px;
    margin-bottom: 17px;
}
.site-header .dropdown-toggle {
    margin-top: 0;
}
.breadcrumb {
    padding-left: 24px;
    padding-right: 24px;
}
.breadcrumb.with-line {
    border-bottom: 1px #111111 solid;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.panel-body p:last-child {
    margin-bottom: 0;
}
.panel-body a {
    text-decoration: none;
}
.about-content {
    max-width: 700px;
}