<section class="column-charts-example">
	<p>Column charts display vertical bars that are used to compare multiple values over time or over values containing an intrinsic order. The best way to represent these values is to use the horizontal axis.</p>
	<div class="lists-unordered">
		<ul>
			<li>Use the <a href="#/styles/{{theme}}/{{version}}/dffba378-6723-4701-9087-3d527c831509">qualitative palette color</a> to display category items.</li>
			<li>Ensure the category has an intrinsic order. If not, consider useing a bar chart instead.</li>
			<li>Avoid the labels are displayed at 45° or 90° on X-axis, it makes labels difficult to read.</li>
			<li>Shorten well-known names. Long data labels affect the readability, when labels are well-known terms, it is best to shorten them. (example: Jan, Feb, Mar...)</li>
			<li>Avoid using gradient color and 3-D bar charts.</li>
		</ul>
	</div>
</section>