<section class="css-reference">
  <h5>Buffer indicator</h5>
  <p>Extend determinate indicator class to create buffer indicator and put buffer indicator element before determinate indicator. Update its' width to indicate bufferd progress</p>
  <pre>
    <style data-selector=".progress-bar.progress-bar-buffered"></style>
  </pre>
  <h5>Determinate indicator</h5>
  <p>Adjust determinate indicator position</p>
  <pre>
    <style data-selector=".progress-bar-buffered + .progress-bar"></style>
  </pre>
</section>
<section class="progress-buffered-example">
  <p>For operations where the user wants to indicate some activity or loading from the server, use the buffer indicator:</p>
  <div class="progress-warpper">
    <div class="progress-container">
      <div class="progress progress-with-label">
        <div class="progress-bar progress-bar-buffered" role="progressbar-buffered" aria-bufferednow="0" aria-bufferedmin="0" aria-bufferedmax="100">
        </div>
        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
          <span>0%</span>
        </div>
      </div>
    </div>
  </div>
</section>