@keyframes progress-bar-animation {
  0% { width: 0%; }
  20% { width: 25%; }
  40% { width: 50%; }
  60% { width: 75%; }
  80% { width: 100%; }
  100% { width: 100%; }
}
.progress-example .progress-bar {
  animation: progress-bar-animation 7s linear infinite;
}