@keyframes progress-bar-determinate-animation {
  0% { width: 0%; }
  20% { width: 25%; }
  40% { width: 50%; }
  60% { width: 75%; }
  80% { width: 100%; }
  100% { width: 100%; }
}
.indeterminate-determinate-example .progress-bar-determinate {
  animation: progress-bar-determinate-animation 4s linear infinite;
}