<section class="indeterminate-determinate-example">
  <p>For situations where the user wants to indicate pre-loading (until the loading can actually be made), use the query indicator:</p>
  <div class="progress-warpper">
    <div class="progress-container">
      <div class="progress progress-with-label">
        <div class="progress-bar progress-bar-indeterminate" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
          <span>0%</span>
        </div>
      </div>
    </div>
  </div>
</section>