.table .input-checkbox + label:before {
	margin-right: 0;
}
.table-with-pagination .table > thead > tr > th:nth-last-child(3) {
	text-align: left;
}
.table-with-pagination .table-pagination {
	width: 100%;
}
.table-with-pagination .table-pagination .table-pagination-block .pagination {
	margin-bottom: 0;
}
.table-with-pagination .table-scrollable .table {
	border: 0;
}
.table-with-pagination .table-scrollable .mCSB_inside > .mCSB_container {
	margin-right: 0;
}
.table-with-pagination .mCustomScrollbar-dragger-hover .mCSB_draggerRail {
	background-color: #e6e6e6;
	border: 1px solid #ddd;
    border-left: 0;
}
.table-with-pagination .table-scrollable .table > tbody > tr:first-child > td {
	border-top: 0;
}
.table-with-pagination .table-scrollable .table > tbody > tr:last-child > td {
	border-bottom: 0;
}
.div-header .table > thead > tr > th:nth-child(1),
.table-scrollable .table > tbody > tr > td:nth-child(1) {
	width: 20%;
}
.div-header .table > thead > tr > th:nth-child(2),
.table-scrollable .table > tbody > tr > td:nth-child(2) {
	width: 25%;
}
.div-header .table > thead > tr > th:nth-child(3),
.table-scrollable .table > tbody > tr > td:nth-child(3) {
	width: 15%;
}
.div-header .table > thead > tr > th:nth-child(4),
.table-scrollable .table > tbody > tr > td:nth-child(4) {
	width: 20%;
}

.table-with-pagination .div-header .table > thead > tr > th:nth-child(3) {
	text-align: right;
}

.table-with-pagination .div-header .table > thead > tr > th:nth-child(5) {
	border-right: 0
}

.table-fixed-example {
	width: 100%;
  	height: 250px;
  	overflow-y: auto;
  	border: 1px solid #ccc;
  	margin-top: 24px;
}
