<section class="css-reference">
  <h5>Table row status</h5>
  <pre>
    <style data-selector=".table-hover > tbody > tr:hover">Hovered state</style>
  </pre>
  <pre>
    <style data-selector=".table > tbody > tr.active > td">Selected state</style>
  </pre>
  <h5>Check box table column</h5>
  <pre>
    <style data-selector=".table > thead > tr > th.gutter">Set a certain width on the table header cell</style>
  </pre>
  <h5>Table cell with hyperlink</h5>
  <pre>
    <style data-selector=".table-hover > tbody > tr > td.td-link:hover">:hover</style>
  </pre>
  <pre>
    <style data-selector=".table > tbody > tr > td a">Link text</style>
    <style data-selector=".table-hover > tbody > tr > td.td-link:hover a">Link text :hover</style>
  </pre>
  <h5>Table header sortable status</h5>
  <pre>
    <style data-selector=".table-sortable > thead > tr > th:hover">:hover</style>
  </pre>
  <pre>
    <style data-selector=".table-sortable .sortabled">Sortable state</style>
  </pre>
  <h5>Sort icon</h5>
  <p>The icon class should only be used on elements that do not contain text or child elements. We recommend using the <code data-tag="span"></code> element for the icon class.</p>
  <pre data-title="For Image icon:">
    <style data-selector=".icon">Default size of icon</style>
  </pre>
  <pre>
    <style data-selector=".table-sortable .sortabled .icon_sortDescending"></style>
  </pre>
  <pre>
    <style data-selector=".icon_sortDescending">Sort descending icon</style>
  </pre>
  <pre>
    <style data-selector=".icon-sortAscending">Sort ascending icon</style>
  </pre>
  <h5>Table wrapper for loader overlay</h5>
  <p>Wrap the table and loader overlay with a <code data-tag="div"></code> element.</p>
  <pre>
    <style data-selector=".table-container"></style>
  </pre>
  <h5>Loader</h5>
  <p>For details on loader styles, refer to <a href="#/styles/{{theme}}/{{version}}/4cd601bb-d7a7-4b4a-8d4d-d087a630929a">Loaders</a>.</p>
  <pre data-title="Loader overlay to wrap a large loader">
    <style data-selector=".loader-overlay"></style>
  </pre>
  <pre>
    <style data-selector=".table + .loader-overlay"></style>
  </pre>
  <h5>Column for table without data</h5>
  <pre>
    <style data-selector=".table-no-data tbody > tr td"></style>
  </pre>
</section>

<section class="tables-example">
	<h5>Row hover</h5>
	<p>Change the color of a table row when the user hovers over any part of that row</p>
  <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Deployment Plan</th>
          <th>Type</th>
          <th>Appliance</th>
          <th>Deployed</th>
          <th>Creator</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Hotfix_DDEI</td>
          <td>Hotfix</td>
          <td>8</td>
          <td>2016/06/02 23:15:00</td>
          <td>Administrator</td>
        </tr>
        <tr>
          <td>Hotfix_DDI_01</td>
          <td>Virtual Analyzer image</td>
          <td>12</td>
          <td>2016/04/18 23:17:20</td>
          <td>Administrator</td>
        </tr>
        <tr>
          <td>TW_Patch_01_DDI</td>
          <td>Firmware</td>
          <td>29</td>
          <td>2016/04/17 21:20:18</td>
          <td>Operator</td>
        </tr>
      </tbody>
  </table>
  <h5>Row selection</h5>
  <p>Change the color of a table row when it is selected.</p>
  <ul>
      <li>Row selection should take effect when the user clicks anywhere in a row, except for table cells that contain hyperlinks. Note the following checkboxes are greyed out for demo purposes.</li>
  </ul>
  <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th class="gutter">
          <div class="checkbox">
            <input type="checkbox" name="tablecheckboxs" id="tablecheckboxs1" class="input-checkbox checkbox-partial">
            <label for="tablecheckboxs1"></label>
          </div>
          </th>
          <th>Deployment Plan</th>
          <th>Type</th>
          <th>Appliance</th>
          <th>Deployed</th>
          <th>Creator</th>
        </tr>
      </thead>

      <tbody>
        <tr class="active">
          <td scope="row">
            <div class="checkbox">
              <input type="checkbox" name="tablecheckboxs" id="tablecheckboxs2" class="input-checkbox checked">
              <label for="tablecheckboxs2"></label>
            </div>
          </td>
          <td>Hotfix_DDEI</td>
          <td>Hotfix</td>
          <td>8</td>
          <td>2016/06/02 23:15:00</td>
          <td>Administrator</td>
        </tr>
        <tr>
          <td scope="row">
            <div class="checkbox disabled">
              <input type="checkbox" name="tablecheckboxs" id="tablecheckboxs3" class="input-checkbox disabled" disabled>
              <label for="tablecheckboxs3"></label>
            </div>
          </td>
          <td>Hotfix_DDI_01</td>
          <td>Virtual Analyzer image</td>
          <td>12</td>
          <td>2016/04/18 23:17:20</td>
          <td>Administrator</td>
        </tr>
        <tr>
          <td scope="row">
            <div class="checkbox disabled">
              <input type="checkbox" name="tablecheckboxs" id="tablecheckboxs4" class="input-checkbox disabled" disabled>
              <label for="tablecheckboxs4"></label>
            </div>
          </td>
          <td>TW_Patch_01_DDI</td>
          <td>Firmware</td>
          <td>29</td>
          <td>2016/04/17 21:20:18</td>
          <td>Operator</td>
        </tr>
      </tbody>
  </table>
  <h5>Hyperlinks</h5>
  <p>Preferrably, use no more one hyperlink in a table cell.</p>
  <ul>
      <li>A hyperlink should take effect when the user clicks anywhere in a table cell that contains the hyperlink.</li>
  </ul>
  <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Deployment Plan</th>
          <th>Type</th>
          <th>Appliance</th>
          <th>Deployed</th>
          <th>Creator</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Hotfix_DDEI</td>
          <td>Hotfix</td>
          <td class="td-link"><a href="javascript:;">8</a></td>
          <td>2016/06/02 23:15:00</td>
          <td>Administrator</td>
        </tr>
        <tr>
          <td>Hotfix_DDI_01</td>
          <td>Virtual Analyzer image</td>
          <td class="td-link"><a href="javascript:;">12</a></td>
          <td>2016/04/18 23:17:20</td>
          <td>Administrator</td>
        </tr>
        <tr>
          <td>TW_Patch_01_DDI</td>
          <td>Firmware</td>
          <td class="td-link"><a href="javascript:;">29</a></td>
          <td>2016/04/17 21:20:18</td>
          <td>Operator</td>
        </tr>
      </tbody>
  </table>
  <h5>Sortable header</h5>
  <p>Table rows may be sorted by clicking on table headers.</p>
  <ul>
      <li>The first click should sort table rows in descending order, and the second click in ascending order.</li>
      <li>When a sortable table header is hovered over, display a pointer and show the header in another color to indicate that the column is sortable.</li>
  </ul>
  <table class="table table-bordered table-hover table-sortable">
      <thead>
        <tr>
          <th class="sortabled">Deployment Plan<span class="icon icon_sortDescending"></span></th>
          <th>Type</th>
          <th>Appliance</th>
          <th>Deployed</th>
          <th>Creator</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Hotfix_DDEI</td>
          <td>Hotfix</td>
          <td>8</td>
          <td>2016/06/02 23:15:00</td>
          <td>Administrator</td>
        </tr>
        <tr>
          <td>Hotfix_DDI_01</td>
          <td>Virtual Analyzer image</td>
          <td>12</td>
          <td>2016/04/18 23:17:20</td>
          <td>Administrator</td>
        </tr>
        <tr>
          <td>TW_Patch_01_DDI</td>
          <td>Firmware</td>
          <td>29</td>
          <td>2016/04/17 21:20:18</td>
          <td>Operator</td>
        </tr>
      </tbody>
  </table>
  <h5>Fixed header</h5>
  <p>A fixed header remains visible as the table body is scrolled. This is useful for larger amounts of data.</p>
  <ul>
      <li>Use either of the following scroll bar styles: an in-table scroll bar with which only the table content can be scrolled or a browser scroll bar with the table header row fixed to the top of the browser while scrolling down.</li>
  </ul>
  <div class="table-with-pagination">
    <div class="div-header">
      <table class="table table-bordered">
          <thead>
            <tr>
              <th>Deployment Plan</th>
              <th>Type</th>
              <th>Appliance</th>
              <th>Deployed</th>
              <th>Creator</th>
              <th></th>
            </tr>
          </thead>
      </table>
    </div>
    <div class="table-scrollable mCustomScrollbar mCustomScrollbar-dragger-hover">
      <table class="table table-bordered table-hover">
          <div class="table-scrollable mCustomScrollbar mCustomScrollbar-dragger-hover">
            <tbody>
              <tr>
                <td>Hotfix_DDEI</td>
                <td>Hotfix</td>
                <td>8</td>
                <td>06/02/2016 23:15:00</td>
                <td>Administrator</td>
              </tr>
              <tr>
                <td>Hotfix_DDI_01</td>
                <td>Virtual Analyzer image</td>
                <td>12</td>
                <td>04/18/2016 23:17:20</td>
                <td>Administrator</td>
              </tr>
              <tr>
                <td>TW_Patch_01_DDI</td>
                <td>Firmware</td>
                <td>29</td>
                <td>04/17/2016 21:20:18</td>
                <td>Operator</td>
              </tr>
              <tr>
                <td>Patch_02_DDI</td>
                <td>Hotfix</td>
                <td>10</td>
                <td>03/20/2016 21:00:55</td>
                <td>Operator</td>
              </tr>
              <tr>
                <td>JP_Hotfix_DDI</td>
                <td>Hotfix</td>
                <td>7</td>
                <td>03/11/2016 12:34:02</td>
                <td>Operator</td>
              </tr>
              <tr>
                <td>JP_Hotfix_DDEI_01</td>
                <td>Firmware</td>
                <td>2</td>
                <td>03/10/2016 10:12:36</td>
                <td>Operator</td>
              </tr>
              <tr>
                <td>TW_VA Image_DDAN</td>
                <td>Virtual Analyzer image</td>
                <td>22</td>
                <td>03/08/2016 20:12:22</td>
                <td>Operator</td>
              </tr>
              <tr>
                <td>CN_Hotfix_DDI</td>
                <td>Hotfix</td>
                <td>86</td>
                <td>03/05/2016 05:20:15</td>
                <td>Administrator</td>
              </tr>
              <tr>
                <td>CN_Patch_01_DDAN</td>
                <td>Hotfix</td>
                <td>2</td>
                <td>02/20/2016 21:00:01</td>
                <td>Operator</td>
              </tr>
              <tr>
                <td>CN_Patch_02_DDEI</td>
                <td>Firmware</td>
                <td>6</td>
                <td>02/18/2016 12:50:32</td>
                <td>Operator</td>
              </tr>
            </tbody>
          </div>
      </table>
    </div>
    <div class= "table-pagination">
      <div class="table-pagination-block">
        <div class="pagination-records">Records: 1-25 / 250</div>
        <div class="dropdown">
          <button class="btn btn-xs btn-link dropdown-toggle" data-toggle="dropdown" type="button">
            <span class="caret"></span>25 per page
          </button>
          <ul class="dropdown-menu dropdown-menu-multi-select">
            <li><a href="javascript:;">10</a></li>
            <li class="selected"><a href="javascript:;">25</a></li>
            <li><a href="javascript:;">50</a></li>
            <li><a href="javascript:;">100</a></li>
          </ul>
        </div>
        <div class="pagination-input"><input type="text" value="1"> / 20</div>
        <div>
          <ul class="pagination">
            <li>
              <a href="javascript:;" aria-label="Previous">
                <span class="fa fa-angle-left" aria-hidden="true"></span>
              </a>
            </li>
            <li>
              <a href="javascript:;" aria-label="Next">
                <span class="fa fa-angle-right" aria-hidden="true"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="placeholder" data-type="iframe" data-class="table-fixed-example" data-src="table-fixed-top-example.html"></div>
  <h5>Loader</h5>
  <p>Display a loader overlay to indicate progress or an unindeterminate amount of time required for a process.</p>
  <div class="table-container">
      <table class="table table-bordered">
          <thead>
            <tr>
              <th>Deployment Plan</th>
              <th>Type</th>
              <th>Appliance</th>
              <th>Deployed</th>
              <th>Creator</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Hotfix_DDEI</td>
              <td>Hotfix</td>
              <td>8</td>
              <td>2016/06/02 23:15:00</td>
              <td>Administrator</td>
            </tr>
            <tr>
              <td>Hotfix_DDI_01</td>
              <td>Virtual Analyzer image</td>
              <td>12</td>
              <td>2016/04/18 23:17:20</td>
              <td>Administrator</td>
            </tr>
            <tr>
              <td>TW_Patch_01_DDI</td>
              <td>Firmware</td>
              <td>29</td>
              <td>2016/04/17 21:20:18</td>
              <td>Operator</td>
            </tr>
          </tbody>
      </table>
      <div class="loader-overlay">
        <span class="loader loader-large"></span>
      </div>
  </div>
  <h5>Tables without data</h5>
  <p>Display a message at the center of the table.</p>
  <ul>
      <li>Use two rows for the table content  if the table is not set for full-page display.</li>
  </ul>
  <table class="table table-bordered table-no-data">
      <thead>
        <tr>
          <th>Deployment Plan</th>
          <th>Type</th>
          <th>Appliance</th>
          <th>Deployed</th>
          <th>Creator</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td colspan="5">No data to display</td>
        </tr>
      </tbody>
  </table>
</section>