.tables-example .table .input-checkbox + label:before {
	margin-right: 0;
}
.tables-example .table-with-pagination .table > thead > tr > th:nth-last-child(3) {
	text-align: left;
}
.tables-example .table-with-pagination .table-pagination {
	width: 100%;
}
.tables-example .table-with-pagination .table-pagination .table-pagination-block .pagination {
	margin-bottom: 0;
}
.tables-example .table-with-pagination .table-scrollable .table {
	border: 0;
}
.tables-example .table-with-pagination .table-scrollable .mCSB_inside > .mCSB_container {
	margin-right: 0;
}
.tables-example .table-with-pagination .mCustomScrollbar-dragger-hover .mCSB_draggerRail {
	background-color: #e6e6e6;
	border: 1px solid #ddd;
    border-left: 0;
}
.tables-example .table-with-pagination .table-scrollable .table > tbody > tr:first-child > td {
	border-top: 0;
}
.tables-example .table-with-pagination .table-scrollable .table > tbody > tr:last-child > td {
	border-bottom: 0;
}
.tables-example .table-with-pagination .div-header .table > thead > tr > th:nth-child(3) {
	text-align: right;
}

.tables-example .table-with-pagination .div-header .table > thead > tr > th:nth-child(5) {
	border-right: 0
}

.tables-example .table-fixed-example {
	width: 100%;
  	height: 288px;
  	overflow-y: auto;
  	border: 1px solid #ccc;
  	margin-top: 24px;
}
.tables-example .table-row-selection > thead > tr > th.gutter {
	width: 38px;
}
.tables-example .table-row-selection > thead > tr > th:nth-child(2),
.tables-example .table-row-selection > tbody > tr > td:nth-child(2) {
	width: 35.3%;
}
.tables-example .table-row-selection > thead > tr > th:nth-child(3),
.tables-example .table-row-selection > tbody > tr > td:nth-child(3) {
	width: 23.53%;
	text-align: left;
}
.tables-example .table-row-selection > thead > tr > th:nth-child(4),
.tables-example .table-row-selection > tbody > tr > td:nth-child(4) {
	width: 11.76%;
	text-align: right;
}
.tables-example .table-row-selection > thead > tr > th:nth-child(5),
.tables-example .table-row-selection > tbody > tr > td:nth-child(5) {
	width: 17.64%;
}
.tables-example .table-row-selection > thead > tr > th:nth-child(6),
.tables-example .table-row-selection > tbody > tr > td:nth-child(6) {
	width: 11.77%;
}
.tables-example .fixed-table-loading {
	display: none;
}

.tables-example .longtext-example .table > thead > tr > th:nth-child(1),
.tables-example .longtext-example .table > tbody > tr > td:nth-child(1) {
	width: 30.3%;
}
.tables-example .longtext-example .table > thead > tr > th:nth-child(2),
.tables-example .longtext-example .table > tbody > tr > td:nth-child(2) {
	width: 15.53%;
}
.tables-example .longtext-example .table > thead > tr > th:nth-child(3),
.tables-example .longtext-example .table > tbody > tr > td:nth-child(3) {
	width: 8.76%;
	text-align: right;
}
.tables-example .longtext-example .table > thead > tr > th:nth-child(4),
.tables-example .longtext-example .table > tbody > tr > td:nth-child(4) {
	width: 11.64%;
}
.tables-example .longtext-example .table > thead > tr > th:nth-child(5),
.tables-example .longtext-example .table > tbody > tr > td:nth-child(5) {
	width: 8.77%;
}
.tables-example .longtext-example .table > thead > tr > th:nth-child(6),
.tables-example .longtext-example .table > tbody > tr > td:nth-child(6) {
	width: 17.77%;
}
.tables-example .longtext-example .table > thead > tr > th:nth-child(7),
.tables-example .longtext-example .table > tbody > tr > td:nth-child(7) {
	width: 15.77%;
}
.tables-example .longtext-example .table > thead > tr > th:nth-child(8),
.tables-example .longtext-example .table > tbody > tr > td:nth-child(8) {
	width: 11.77%;
}
.tables-example .longtext-example .table-longtext {
	margin-bottom: 20px;
}