<section class="tables-example">
  <p>Tables are a structured way of presenting large volumes of data in a manner that makes the data readable and comparable.</p>
  <div class="lists-unordered">
    <ul>
      <li><strong>Content alignment:</strong> Content should be left aligned except where using a different alignment option helps with comprehension. For example, numeric data is easier to scan when right aligned. The alignment of column headers matches its content.</li>
      <li><strong>Columns and rows:</strong> The number and type of columns that you choose should be based on the information needs for a majority of the use cases. To help users read the table, order the columns by importance from left to right.</li>
      <li><strong>Long text:</strong> There are two options to handle text that does not fit into a table cell. You can choose to display all by warp the text with extend height of rows, or truncate text (the ending or in the middle) with adding a tooltip to display it in full on hover. Do not mix techniques in one table.</li>
    </ul>
  </div>
</section>