.table-bordered {
	border: 0;
}

.div-header .table-bordered {
	border-top: 1px solid #dddddd;
}

.div-body .table > tbody > tr:first-child > td {
	border-top: 0;
}
.div-body .table > tbody > tr:last-child > td {
	border-bottom: 0;
}
.table-fixed-example .site-header {
	padding-right: 0;
}
.table-fixed-example .breadcrumb {
	padding: 12px 20px;
	background: #fff;
}
.affix.div-header {
	top: 48px;
}
.table > thead > tr > th:nth-child(1),
.table > tbody > tr > td:nth-child(1) {
	width: 35.3%;
}
.table > thead > tr > th:nth-child(2),
.table > tbody > tr > td:nth-child(2) {
	width: 23.53%;
}
.table > thead > tr > th:nth-child(3),
.table > tbody > tr > td:nth-child(3) {
	width: 11.76%;
	text-align: right;
}
.table > thead > tr > th:nth-child(4),
.table > tbody > tr > td:nth-child(4) {
	width: 17.64%;
}
.table > thead > tr > th:nth-child(5),
.table > tbody > tr > td:nth-child(5) {
	width: 11.77%;
}