.div-header .table > thead > tr > th:nth-child(1),
.div-body .table > tbody > tr > td:nth-child(1) {
	width: 20%;
}
.div-header .table > thead > tr > th:nth-child(2),
.div-body .table > tbody > tr > td:nth-child(2) {
	width: 25%;
}
.div-header .table > thead > tr > th:nth-child(3),
.div-body .table > tbody > tr > td:nth-child(3) {
	width: 15%;
	text-align: right;
}
.div-header .table > thead > tr > th:nth-child(4),
.div-body .table > tbody > tr > td:nth-child(4) {
	width: 20%;
}

.table-bordered {
	border: 0;
}

.div-header .table-bordered {
	border-top: 1px solid #dddddd;
}

.div-body .table > tbody > tr:first-child > td {
	border-top: 0;
}
.div-body .table > tbody > tr:last-child > td {
	border-bottom: 0;
}
.table-fixed-example .site-header {
	padding-right: 0;
}
.table-fixed-example .breadcrumb {
	padding: 12px 20px;
}