<section class="fixed-header-example">
  <p>A fixed header can be useful to ensure that table header will remain always visible on a table, even when a user scrolls with the page. This lets your users quickly determine what each column refers to rather than needing to scroll back to the top of the table.</p>
  <ul>
      <li>A browser scroll bar with the table header row fixed to the top of the browser while scrolling down. This is useful for larger amounts of data.</li>
  </ul>
  <div class="placeholder" data-type="iframe" data-class="table-fixed-example" data-src="table-fixed-top-example.html"></div>
</section>