<section class="fixed-header-example">
  <p>A fixed header remains visible as the table body is scrolled. This is useful for larger amounts of data.</p>
  <ul>
      <li>Use either of the following scroll bar styles: an in-table scroll bar with which only the table content can be scrolled or a browser scroll bar with the table header row fixed to the top of the browser while scrolling down.</li>
  </ul>
  <div class="table-with-pagination">
    <div class="div-header">
      <table class="table table-bordered">
          <thead>
            <tr>
              <th>Deployment Plan</th>
              <th>Type</th>
              <th>Appliance</th>
              <th>Deployed</th>
              <th>Creator</th>
            </tr>
          </thead>
      </table>
    </div>
    <div class="table-scrollable mCustomScrollbar mCustomScrollbar-dragger-hover">
      <table class="table table-bordered table-hover">
          <div class="table-scrollable mCustomScrollbar mCustomScrollbar-dragger-hover">
            <tbody>
              <tr>
                <td>Hotfix_DDEI</td>
                <td>Hotfix</td>
                <td>8</td>
                <td>2016-06-02 23:15:00</td>
                <td>Administrator</td>
              </tr>
              <tr>
                <td>Hotfix_DDI_01</td>
                <td>Virtual Analyzer image</td>
                <td>12</td>
                <td>2016-04-18 23:17:20</td>
                <td>Administrator</td>
              </tr>
              <tr>
                <td>TW_Patch_01_DDI</td>
                <td>Firmware</td>
                <td>29</td>
                <td>2016-04-17 21:20:18</td>
                <td>Operator</td>
              </tr>
              <tr>
                <td>Patch_02_DDI</td>
                <td>Hotfix</td>
                <td>10</td>
                <td>2016-03-20 21:00:55</td>
                <td>Operator</td>
              </tr>
              <tr>
                <td>JP_Hotfix_DDI</td>
                <td>Hotfix</td>
                <td>7</td>
                <td>2016-03-11 12:34:02</td>
                <td>Operator</td>
              </tr>
              <tr>
                <td>JP_Hotfix_DDEI_01</td>
                <td>Firmware</td>
                <td>2</td>
                <td>2016-03-10 10:12:36</td>
                <td>Operator</td>
              </tr>
              <tr>
                <td>TW_VA Image_DDAN</td>
                <td>Virtual Analyzer image</td>
                <td>22</td>
                <td>2016-03-08 20:12:22</td>
                <td>Operator</td>
              </tr>
              <tr>
                <td>CN_Hotfix_DDI</td>
                <td>Hotfix</td>
                <td>86</td>
                <td>2016-03-05 05:20:15</td>
                <td>Administrator</td>
              </tr>
              <tr>
                <td>CN_Patch_01_DDAN</td>
                <td>Hotfix</td>
                <td>2</td>
                <td>2016-02-20 21:00:01</td>
                <td>Operator</td>
              </tr>
              <tr>
                <td>CN_Patch_02_DDEI</td>
                <td>Firmware</td>
                <td>6</td>
                <td>2016-02-18 12:50:32</td>
                <td>Operator</td>
              </tr>
            </tbody>
          </div>
      </table>
    </div>
    <div class= "table-pagination">
      <div class="table-pagination-block">
        <div class="pagination-records">Records: 1-10 / 200</div>
        <div class="dropdown">
          <button class="btn btn-xs btn-link dropdown-toggle" data-toggle="dropdown" type="button">
            <span class="caret"></span>10 per page
          </button>
          <ul class="dropdown-menu dropdown-menu-multi-select">
            <li class="selected"><a href="javascript:;">10</a></li>
            <li><a href="javascript:;">25</a></li>
            <li><a href="javascript:;">50</a></li>
            <li><a href="javascript:;">100</a></li>
          </ul>
        </div>
        <div class="pagination-input"><input type="text" value="1"> / 20</div>
        <div>
          <ul class="pagination">
            <li>
              <a href="javascript:;" aria-label="Previous">
                <span class="fa fa-angle-left" aria-hidden="true"></span>
              </a>
            </li>
            <li>
              <a href="javascript:;" aria-label="Next">
                <span class="fa fa-angle-right" aria-hidden="true"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="placeholder" data-type="iframe" data-class="table-fixed-example" data-src="table-fixed-top-example.html"></div>
</section>