<section class="css-reference">
  <h5>Checkbox Container</h5>
  <p>Wrap an <code>input</code> and a <code>label</code> within an element. For example, the Boostrap checkbox container is <code>.checkbox</code></p>
  <pre>
    <style data-selector=".checkbox"></style>
  </pre>
  <h5>Input checkbox</h5>
  <p>A checkbox element should be wrapped using a checkbox container.</p>
  <pre>
    <style data-selector=".input-checkbox">In order to customized checkbox, hide the input checkbox type</style>
  </pre>

  <h5>Label</h5>
  <p>The Label element should be wrapped using a checkbox container.</p>
  <pre>
    <style data-selector=".checkbox label"></style>
  </pre>
  <pre data-title="Disabled Class">
    <style data-selector=".checkbox.disabled label"></style>
  </pre>
  <h5>Customizing a Checkbox</h5>
  <p>To customize a checkbox, replace the hidden checkbox with the pseudo-element.</p>
  <pre>
    <style data-selector=".input-checkbox + label:before"></style>
    <style data-selector=".checkbox label:before"></style>
  </pre>
  <pre data-title=":hover">
    <style data-selector=".input-checkbox + label:hover::before"></style>
  </pre>
  <pre data-title=":checked">
    <style data-selector=".input-checkbox:checked + label:before">When checkbox is checked, put a background image on label class pseudo-element :before</style>
  </pre>
  <pre data-title=":checked and :hover">
    <style data-selector=".checkbox .checked-hover + label:before"></style>
  </pre>
  <pre data-title="Partial checked">
    <style data-selector=".checkbox-partial + label:before">Add HTML character to content property</style>
  </pre>
  <pre data-title="Disabled Style">
    <style data-selector=".checkbox .disabled + label:before">This style should come after an input checkbox with disabled attribute</style>
  </pre>

  <h5>A stacked checkbox</h5>
  <pre>
    <style data-selector=".checkbox + .checkbox">Such as Bootstrap checkbox of a stacked: .checkbox + .checkbox</style>
  </pre>

  <h5>An inline checkbox</h5>
  <pre>
	  <style data-selector=".checkbox-inline"></style>
    <style data-selector=".checkbox-inline + .checkbox-inline">Such as Bootstrap checkbox in a row: .checkbox-inline + .checkbox-inline</style>
  </pre>
	<pre>
    <style data-selector=".checkbox-inline.disabled">Disabled</style>
  </pre>
</section>

<section class="form-elements-example">
  <p>Checkboxes are used to permit the user to select one or more options from a set.</p>
	<div class="lists-unordered">
		<ul>
			<li>The user can select one, one, or multiple options from a set</li>
			<li>When clicked, a checkbox displays or removes its check mark</li>
			<li>Use sentence case for checkbox labels</li>
			<li>Align checkbox labels vertically whenever possible</li>
			<li>Make labels clickable whenever possible</li>
		</ul>
	</div>
	<div class="checkbox-wrapper">
		<div class="checkbox">
		  <input type="checkbox" name="optionscheckboxs" id="optionscheckboxs1" class="input-checkbox">
		  <label for="optionscheckboxs1">Normal</label>
		</div>
		<div class="checkbox">
		  <input type="checkbox" name="optionscheckboxs" id="optionscheckboxs2" class="input-checkbox hover">
		  <label for="optionscheckboxs2">Hover</label>
		</div>
		<div class="checkbox">
		    <input type="checkbox" name="optionscheckboxs" id="optionscheckboxs3" class="input-checkbox checked">
		    <label for="optionscheckboxs3">Checked</label>
		</div>
		<div class="checkbox">
		    <input type="checkbox" name="optionscheckboxs" id="optionscheckboxs4" class="input-checkbox checked-hover checked">
		    <label for="optionscheckboxs4">Checked hover</label>
		</div>
		<div class="checkbox">
		    <input type="checkbox" name="optionscheckboxs" id="optionscheckboxs5" class="input-checkbox checkbox-partial">
		    <label for="optionscheckboxs5">Partial checked</label>
		</div>
		<div class="checkbox disabled">
		    <input type="checkbox" name="optionscheckboxs" id="optionscheckboxs6" class="input-checkbox checked" disabled>
		    <label for="optionscheckboxs6">Checked disabled</label>
		</div>
		<div class="checkbox disabled">
		    <input type="checkbox" name="optionscheckboxs" id="optionscheckboxs7" class="input-checkbox disabled" disabled>
		    <label for="optionscheckboxs7">Disabled</label>
		</div>
	</div>
	<hr>
	<h5>Default (stacked)</h5>
	<div class="checkbox-wrapper">
		<div class="checkbox">
		  <input type="checkbox" name="default" id="defaultcheckboxs1" class="input-checkbox">
		  <label for="defaultcheckboxs1">Normal label one</label>
		</div>
		<div class="checkbox">
		  <input type="checkbox" name="default" id="defaultcheckboxs2" class="input-checkbox">
		  <label for="defaultcheckboxs2">Normal label two</label>
		</div>
		<div class="checkbox disabled">
		    <input type="checkbox" name="default" id="defaultcheckboxs3" class="input-checkbox disabled" disabled>
		    <label for="defaultcheckboxs3">Disabled label</label>
		</div>
		<div class="checkbox">
		    <input type="checkbox" name="default" id="defaultcheckboxs4" class="input-checkbox checked">
		    <label for="defaultcheckboxs4">Checked label</label>
		</div>
		<div class="default-block">
			<div>Sed posuere consecteyur est at lobortus. Aenean eu leo quam.</div>
			<div>Pellentesque omare sem lacinia quam venenatis vestibulum.</div>
		</div>
	</div>
	<hr>
	<h5>Inline</h5>
	<div class="checkbox-wrapper">
		<div class="checkbox-inline">
		  <input type="checkbox" name="inline" id="inlinecheckboxs1" class="input-checkbox">
		  <label for="inlinecheckboxs1">Normal label</label>
		</div>
		<div class="checkbox-inline disabled">
		    <input type="checkbox" name="inline" id="inlinecheckboxs2" class="input-checkbox disabled" disabled>
		    <label for="inlinecheckboxs2">Disabled label</label>
		</div>
		<div class="checkbox-inline">
		    <input type="checkbox" name="inline" id="inlinecheckboxs3" class="input-checkbox" checked>
		    <label for="inlinecheckboxs3">Checked label</label>
		</div>
	</div>
</section>