<section class="css-reference">
  <h5>Input icon group container</h5>
  <p>Wrap the input and the icon with a <code data-tag="div"></code> element, also create the container class. For example, <code>.input-icon-group</code> is used in Bootstrap.</p>
  <pre>
    <style data-selector=".input-icon-group"></style>
  </pre>

  <h5>Input with form controls</h5>
  <pre>
    <style data-selector=".input-icon-group > .form-control"></style>
  </pre>
  <h5>Icon wrapper</h5>
  <pre data-title="For font-awesome icon wrapper:">
    <style data-selector=".input-icon-label">Wrap i into a label element.</style>
  </pre>
  <h5>Icon</h5>
  <p>The icon should only be used on elements that do not contain any text or child elements. We recommend wrapping any <code data-tag="span"></code>, <code data-tag="i"></code> element.</p>
  <pre data-title=":focus">
    <style data-selector=".input-icon-group > .form-control:focus + .input-icon-label > i"></style>
  </pre>
</section>

<section class="form-input-groups-example">
  <p>You can add icons into a search box and have the icon highlighted when the input is focused.</p>

	<div class="input-icon-group">
      <input id="filter" type="text" class="form-control" placeholder="Case name">
      <label class="input-icon-label" for="filter">
        <i class="fa fa-search"></i>
      </label>
  </div>
  <div class="input-icon-group">
      <input id="filter1" type="text" class="form-control input-focus" value="DDEI">
      <label class="input-icon-label" for="filter1">
        <i class="fa fa-search focus"></i>
      </label>
  </div>
  <div class="input-icon-group">
      <input id="filter2" type="text" class="form-control" value="08/30/2016" placeholder="mm/dd/yyyy">
      <label class="input-icon-label" for="filter2">
        <i class="fa fa-calendar"></i>
      </label>
  </div>
</section>