.pie-donut-charts-container {
	height: 264px;
}
.pie-donut-charts-example .highcharts-title .donut-chart-title {
	font-family: Interstate-Light, Arial, "Helvetica Neue", Helvetica, font-family-sans-serif;
}
.pie-donut-charts-example .highcharts-title .donut-chart-subtitle {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.pie-donut-charts-example .highcharts-container {
	z-index: 1 !important;
}
.pie-donut-charts-example .highcharts-container,
.pie-donut-charts-example .highcharts-container svg {
    overflow: visible !important;
}