<section class="pie-donut-charts-example">
	<p>Pie charts are used to compare values of a dimension as proportions or percentages of the whole. The data should be categorical.</p>
	<div class="lists-unordered">
		<ul>
			<li>Use <a href="#/styles/{{theme}}/{{version}}/dffba378-6723-4701-9087-3d527c831509">qualitative colors</a> for pie pieces if the labels indicate opposite and specific meanings. Example, Online/Offline or High/Medium/Low/Safe risk.</li>
			<li>Start the pie chart at "12 o'clock" and move in a clockwise direction.</li>
			<li>Ensure that the segments are ordered by size (largest to smallest).</li>
			<li>Limit pie chart slices to ten, too many different values to be represented, the chart becomes illegible.</li>
			<li>Avoid using gradient colors and 3-D charts.</li>
		</ul>
	</div>
</section>