<section class="pie-donut-charts-example">
	<p>Pie charts are used to compare values of a dimension as proportions or percentages of the whole. The data should be categorical.</p>
	<div class="lists-unordered">
		<ul>
			<li>Start the pie chart at "12 o'clock" and move in a clockwise direction.</li>
			<li>Ensure that the segments are ordered by size (largest to smallest).</li>
			<li>Limit pie chart slices to ten, too many different values to be represented, the chart becomes illegible.</li>
			<li>Avoid using gradient colors and 3-D charts.</li>
		</ul>
	</div>
</section>