.hidden-scrollable-example {
    margin-top: 230px;
}

.hidden-scrollable-container {
    height: 340px;
    border: 1px solid #cccccc;
    display: flex;
}
.hidden-scrollable-container .hidden-scrollable {
    overflow-y: auto;
    width: 281px;
}

.hidden-scrollable-container .hidden-scrollbar-text {
    flex: 1;
    text-align: center;
    color: #999999;
    font-size: 13px;
    line-height: 340px;
}