<section class="css-reference">
	<h5>Scroll bar container</h5>
	<pre>
		<style data-selector=".mCS-autoHide > .mCustomScrollBox .mCSB_scrollTools"></style>
	</pre>
	<pre data-title=":hover">
		<style data-selector=".mCS-autoHide:hover > .mCustomScrollBox .mCSB_scrollTools">Change the opacity property when  cursor hovers over a scrollable area.</style>
	</pre>
</section>

<section>
    <p>A hidden scroll bar can be used to reduce visual clutter on the UI. For example, you can use a hidden scroll bar for a tree view component.</p>

	<ul class="description">
		<li>When the cursor hovers over a scrollable area, display the slider grip to indicate that there is more content to display.</li>
		<li>When the cursor hovers over the vertical area under the slider grip, display a translucent background to indicate the slider track.</li>
        <li>When the cursor hovers over the slider grip, change the slider grip color.</li>
    </ul>

	<div class="example">
        <h6>Hidden scroll bar for a tree view component</h6>
		<div class="hidden-scrollbar-example-container">
			<div class="hidden-scrollbar mCustomScrollbar mCustomScrollbar-dragger-hover">
				<div class="placeholder" data-type="image" data-src="images/scrollbar_img1_treeview.png"></div>
			</div>
			<div class="hidden-scrollbar-text">Please hover your mouse over the tree view example to see how the hidden scroll bar is presented on the UI.</div>
		</div>
	</div>
</section>