.table-scrollbar-example .table-with-scrollbar .table-pagination {
	width: 100%;
	vertical-align: top;
}
.table-scrollbar-example .table-with-scrollbar .table-pagination .table-pagination-block .pagination {
	margin-bottom: 0;
}

.table-scrollbar-example .table-with-scrollbar .table-scrollable .table {
	border: 0;
}
.table-scrollbar-example .table-with-scrollbar .table-scrollable .table > tbody > tr:first-child > td {
	border-top: 0;
}
.table-scrollbar-example .table-with-scrollbar .table-scrollable .table > tbody > tr:last-child > td {
	border-bottom: 0;
}
.table-scrollbar-example .table-with-scrollbar .table-scrollable.mCustomScrollbar-dragger-fixed .mCSB_draggerRail {
	border-right: 1px solid #dddddd;
}

/*Table horizontal scroll bar */
.table-scrollbar-example .table-with-scrollbar .table-horizontal-scrollable {
	float: left;
}
.table-scrollbar-example .table-with-scrollbar .table-horizontal-scrollable .table {
	table-layout: auto;
}
.table-scrollbar-example .table-with-scrollbar .table-horizontal-scrollable .table > thead > tr > th,
.table-scrollbar-example .table-with-scrollbar .table-horizontal-scrollable .table > tbody > tr > td {
    white-space: nowrap;
    text-align: left;
}
.table-scrollbar-example .table-with-scrollbar .table-horizontal-scrollable .table > tbody > tr.hover {
    background-color: #e6f4fc;
}
.table-scrollbar-example .table-with-scrollbar .table-horizontal-scrollable.mCustomHorizontalScrollbar .table {
	border-left: 0;
	border-right: 0;
}
.table-scrollbar-example .table-with-scrollbar .table-horizontal-scrollable.mCustomHorizontalScrollbar .table > thead > tr > th:first-child,
.table-scrollbar-example .table-with-scrollbar .table-horizontal-scrollable.mCustomHorizontalScrollbar .table > tbody > tr > td:first-child {
	border-left: 0;
}
.table-scrollbar-example .table-with-scrollbar .table-horizontal-scrollable.mCustomHorizontalScrollbar .table > thead > tr > th:last-child,
.table-scrollbar-example .table-with-scrollbar .table-horizontal-scrollable.mCustomHorizontalScrollbar .table > tbody> tr > td:last-child {
	border-right: 0;
}

.table-scrollbar-example .table-with-scrollbar .table-horizontal-scrollable .mCSB_horizontal.mCSB_inside > .mCSB_container {
	margin-bottom: 8px;
}
.table-scrollbar-example .table-with-scrollbar .table-horizontal-scrollable .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
	margin: 0 auto;
}
.table-scrollbar-example .table-with-scrollbar .table-horizontal-scrollable .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail {
	margin: 0;
}
