<section class="css-reference">
  <h5>Custom range wrapper</h5>
  <p>Wrap the dropdown menu and calender container.</p>
  <pre>
    <style data-selector=".date-time-picker-example .custom-wrapper"></style>
  </pre>

  <h5>Dropdown menu</h5>
  <p>Extend dropdown menu style, please refer to Drop-downs.</p>
  <pre>
    <style data-selector=".date-time-picker-example .custom-wrapper > ul.dropdown-menu"></style>
    <style data-selector=".date-time-picker-example .dropdown.open > .custom-wrapper > ul.dropdown-menu"></style>
  </pre>

  <h5>Calender container</h5>
  <p>Wrap the simple date time, start/end datepicker, buttons.</p>
  <pre>
    <style data-selector=".date-time-picker-example .custom-wrapper .date-picker-pane"></style>
  </pre>

  <h5>Simple date time</h5>
  <pre>
    <style data-selector=".date-time-picker-example .simple-date-time-container .input-icon-group + .input-icon-group">Leave space between start/end date and start/end time</style>
    <style data-selector=".date-time-picker-example .custom-wrapper .date-picker-pane .date-picker-pane-header .tilde">Leave space between end date and start time</style>
  </pre>

  <h5>Datepicker wrapper</h5>
  <pre>
    <style data-selector=".date-time-picker-example .custom-wrapper .date-picker-pane .date-picker-pane-body">Leave space between start/end datepicker and simple date time</style>
  </pre>

  <h5>Datepicker attached to wrapper</h5>
  <p>A datepicker attached to wrapper can created with a block-level element.</p>

  <h5>Datepicker container</h5>
  <pre>
    <style data-selector=".date-time-picker-example .custom-wrapper .date-picker-pane .date-picker-pane-body .date-picker-pane-container .datepicker table"></style>
  </pre>
  <pre>
    <style data-selector=".date-time-picker-example .custom-wrapper .date-picker-pane .date-picker-pane-body .date-picker-pane-container + .date-picker-pane-container">Leave a space between containers</style>
  </pre>
  <pre data-title="Vertical line between containers">
    <style data-selector=".date-time-picker-example .custom-wrapper .date-picker-pane .date-picker-pane-body .date-picker-pane-container + .date-picker-pane-container:before">::before</style>
  </pre>

  <h5>Button container</h5>
  <pre>
    <style data-selector=".date-time-picker-example .custom-wrapper .date-picker-pane .date-picker-pane-footer">Leave space between button and datepicker wrapper</style>
    <style data-selector=".btn + .btn">Leave space between buttons</style>
  </pre>

</section>

<section class="date-time-picker-example">
  <p>When the user specifies a date range using date and time pickers from two calendars.</p>
  <p>The calendar pane can be opened on the left or the right, dpending on the available space.</p>
  
  <div id="date-time-range-dropdown" class="dropdown open">
    <button class="btn btn-border dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button">
      <span class="caret"></span><span id="date-time-range-text">Last 30 days</span>
    </button>

    <div class="custom-wrapper">
      <ul class="dropdown-menu">
        <li><a class="predefine-range" href="javascript:;">Last 24 hours</a></li>
        <li><a class="predefine-range" href="javascript:;">Last 7 days</a></li>
        <li><a class="predefine-range" href="javascript:;">Last 30 days</a></li>
        <li><a class="predefine-range" href="javascript:;">Last 90 days</a></li>
        <li><a class="custom-range focus" href="javascript:;">Custom range</a></li>
      </ul>

      <div class="date-picker-pane show">
        <div class="date-picker-pane-header">
          <div class="simple-date-time-container">
            <div class="input-icon-group">
              <input id="pane-date-start-input" type="text" class="form-control input-width-xs" placeholder="yyyy-mm-dd">
              <label class="input-icon-label" for="pane-date-start-input">
                <i class="fa fa-calendar"></i>
              </label>
            </div>

            <div class="input-icon-group">
              <input id="pane-time-start-input" type="text" class="form-control input-width-xs" placeholder="hh:mm:ss">
              <label class="input-icon-label" for="pane-time-start-input">
                <i class="fa fa-clock-o"></i>
              </label>
            </div>
          </div>

          <div class="tilde">~</div>
          <div class="simple-date-time-container">
            <div class="input-icon-group">
              <input id="pane-date-end-input" type="text" class="form-control input-width-xs" placeholder="yyyy-mm-dd">
              <label class="input-icon-label" for="pane-date-end-input">
                <i class="fa fa-calendar"></i>
              </label>
            </div>
            
            <div class="input-icon-group">
              <input id="pane-time-end-input" type="text" class="form-control input-width-xs" placeholder="hh:mm:ss">
              <label class="input-icon-label" for="pane-time-end-input">
                <i class="fa fa-clock-o"></i>
              </label>
            </div>
          </div>
        </div>

        <div class="date-picker-pane-body">
          <div class="date-picker-pane-container" id="date-pane-date-start"></div>
          <div class="date-picker-pane-container" id="date-pane-date-end"></div>
        </div>

        <div class="date-picker-pane-footer">
          <button class="btn btn-primary">Apply</button>
          <button class="btn btn-default">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</section>