<section class="css-reference">

  <h5>Date range wrapper</h5>
  <p>About the date range wrapper style, please refer to Forms -> Input Groups -> Label Addon style.</p>

</section>

<section class="date-time-picker-example">
	<p>Users can type or select dates in the calendar to form a date range.</p>
	<div class="input-group">
		<div class="input-icon-group">
			<input id="datepicker-start" type="text" class="form-control" placeholder="mm/dd/yyyy" data-date-picker="date-picker-start">
		    <label class="input-icon-label" for="datepicker-start">
		    	<i class="fa fa-calendar"></i>
		    </label>
		</div>
    <span class="input-group-addon">~</span>
    <div class="input-icon-group">
		    <input id="datepicker-end" type="text" class="form-control" placeholder="mm/dd/yyyy" data-date-picker="date-picker-end">
		    <label class="input-icon-label" for="datepicker-end">
		    	<i class="fa fa-calendar"></i>
		    </label>
		</div>
	</div>
</section>