<section class="css-reference">

  <h5>Date Range Wrapper</h5>
  <p>About the date range wrapper style, please refer to Forms -> Input Groups -> Label Addon style.</p>

</section>

<section class="date-time-picker-example">
	<p>Users can type two dates into the date range input field or select a date in the calendar.</p>
	<div class="input-group">
		<div class="input-icon-group">
			<input id="datepicker-start" type="text" class="form-control" value="23/10/2016" placeholder="dd/mm/yyyy" data-date-picker="date-picker-start">
		    <label class="input-icon-label" for="datepicker-start">
		    	<i class="fa fa-calendar"></i>
		    </label>
		</div>
	    <span class="input-group-addon">to</span>
	    <div class="input-icon-group">
		    <input id="datepicker-end" type="text" class="form-control" value="24/10/2016" placeholder="dd/mm/yyyy" data-date-picker="date-picker-end">
		    <label class="input-icon-label" for="datepicker-end">
		    	<i class="fa fa-calendar"></i>
		    </label>
		</div>
	</div>
</section>