<section class="date-time-picker-example">
	<p>Use one date picker and one time picker to form a simple date and time selection.</p>

	<div class="simple-date-time-container">
		<div class="input-icon-group">
	      	<input id="datepicker-with-time" type="text" class="form-control input-width-xs" placeholder="yyyy-mm-dd">
	      	<label class="input-icon-label" for="datepicker-with-time">
	        	<i class="fa fa-calendar"></i>
	      	</label>
	      	<div id="datepicker-with-time-container" class="dropdown-menu"></div>
	  	</div>
		<div class="input-icon-group">
	        <input id="time-picker-date" type="text" class="form-control input-width-xs" placeholder="hh:mm:ss" value="12:00:00">
	        <label class="input-icon-label" for="time-picker-date">
	          <i class="fa fa-clock-o"></i>
	        </label>
	    </div>
    </div>
</section>