<section class="date-time-picker-example">
	<p>Use one date picker and one time picker to form a simple date and time selection.</p>
	<p>For detailed information, see <a href="http://tw-hie/ui_standards/2010/11/calendar/#simple-date-/-time-picker" target="_blank">Simple Date / Time Picker</a>.</p>
	<div class="simple-date-time-container">
		<input id="datepicker-with-time" type="text" class="form-control input-width-xs">
		<input id="time-picker-date" type="text" class="form-control input-width-xs" value="12:00:00">
</section>