<section class="date-time-picker-example">
	<p>The time picker allows the user to select a time.</p>
	<ul class="description">
		<li>Support up/down keyboard selection</li>
		<li>Show a placeholder help text to indicate the time format. (hh:mm:ss)</li>
	</ul>
	<div class="input-icon-group">
        <input id="time-picker"type="text" class="form-control input-width-xs" data-time-picker="time-picker" placeholder="hh:mm:ss">
        <label class="input-icon-label" for="time-picker">
          <i class="fa fa-clock-o"></i>
        </label>
    </div>
</section>