.tables-advanced-example h5:not(:first-child) {
	margin-top: 40px
}
.tables-advanced-example .table > thead > tr > th:nth-child(1),
.tables-advanced-example .table > tbody > tr > td:nth-child(1) {
	width: 35.3%;
}
.tables-advanced-example .table > thead > tr > th:nth-child(2),
.tables-advanced-example .table > tbody > tr > td:nth-child(2) {
	width: 23.53%;
}
.tables-advanced-example .table > thead > tr > th:nth-child(3),
.tables-advanced-example .table > tbody > tr > td:nth-child(3) {
	width: 11.76%;
	text-align: right;
}
.tables-advanced-example .table > thead > tr > th:nth-child(4),
.tables-advanced-example .table > tbody > tr > td:nth-child(4) {
	width: 17.64%;
}
.tables-advanced-example .table > thead > tr > th:nth-child(5),
.tables-advanced-example .table > tbody > tr > td:nth-child(5) {
	width: 11.77%;
}
.tables-advanced-example .table-resize > tbody > tr > td, 
.tables-advanced-example .table-resize > tbody > tr > td {
	padding-left: 12px !important;
	padding-right: 12px !important;
}
.longtext-toggle {
	position: absolute;
	z-index: 1070;
}


.tables-advanced-example .sortabled .table-row-actions {
	float: right;
	margin-top: 1px;
	display: none;
}
.tables-advanced-example .sortabled:hover .table-row-actions {
	display: block;
}
.tables-advanced-example .sortabled .table-row-actions .btn-table-row-action {
	width: 16px;
	height: 16px;
}