.tables-example h5:not(:first-child) {
	margin-top: 40px
}
.tables-example .table > thead > tr > th:nth-child(1),
.tables-example .table > tbody > tr > td:nth-child(1) {
	width: 35.3%;
}
.tables-example .table > thead > tr > th:nth-child(2),
.tables-example .table > tbody > tr > td:nth-child(2) {
	width: 23.53%;
}
.tables-example .table > thead > tr > th:nth-child(3),
.tables-example .table > tbody > tr > td:nth-child(3) {
	width: 11.76%;
	text-align: right;
}
.tables-example .table > thead > tr > th:nth-child(4),
.tables-example .table > tbody > tr > td:nth-child(4) {
	width: 17.64%;
}
.tables-example .table > thead > tr > th:nth-child(5),
.tables-example .table > tbody > tr > td:nth-child(5) {
	width: 11.77%;
}
.tables-example .table-resize > tbody > tr > td, 
.tables-example .table-resize > tbody > tr > td {
	padding-left: 12px !important;
	padding-right: 12px !important;
}
.longtext-toggle {
	position: absolute;
	z-index: 1070;
}