<section class="css-reference">
  <h5>Popover Class</h5>
  <p>Use the popover class on a <code data-tag="div"></code> or <code data-tag="span"></code> element. For example, <code>.popover</code></p>
  <pre>
    <style data-selector=".popover"></style>
  </pre>
  <pre data-title="Position the popover">
    <style data-selector=".popover.top">Top, Top-left, Top-right</style>
    <style data-selector=".popover.right">Right, Right-top, Right-bottom</style>
    <style data-selector=".popover.bottom">Bottom, Bottom-left, Bottom-right</style>
    <style data-selector=".popover.left">Left, Left-top, Left-bottom</style>
  </pre>

  <h5>Popover Arrow Class</h5>
  <p>Use <code data-tag="div"></code> or <code data-tag="span"></code> to create an arrow class. For example, <code>.arrow</code> is used in Bootstrap.</p>
  <pre data-title="Popover arrow">
    <style data-selector=".popover > .arrow"></style>
  </pre>
  <pre data-title="Popover arrow ::after pseudo-elements">
    <style data-selector=".popover > .arrow:after"></style>
    <style data-selector=".popover.top > .arrow">Top</style>
    <style data-selector=".popover.top-left > .arrow">Top-left</style>
    <style data-selector=".popover.top-right > .arrow">Top-right</style>
    <style data-selector=".popover.top > .arrow:after">Popover arrow ::after pseudo-elements for Popover Top, Top-left, Top-right</style>
    <style data-selector=".popover.right > .arrow">Right</style>
    <style data-selector=".popover.right-top > .arrow">Right-top</style>
    <style data-selector=".popover.right-bottom > .arrow">Right-bottom</style>
    <style data-selector=".popover.right > .arrow:after">Popover arrow ::after pseudo-elements for Popover Right, Right-top, Right-bottom</style>
    <style data-selector=".popover.bottom > .arrow">Bottom</style>
    <style data-selector=".popover.bottom-left > .arrow">Bottom-left</style>
    <style data-selector=".popover.bottom-right > .arrow">Bottom-right</style>
    <style data-selector=".popover.bottom > .arrow:after">Popover arrow ::after pseudo-elements for Popover Bottom, Bottom-left, Bottom-right</style>
    <style data-selector=".popover.left > .arrow">Left, Left-top, Left-bottom</style>
    <style data-selector=".popover.left-top > .arrow">Left-top</style>
    <style data-selector=".popover.left-bottom > .arrow">Left-bottom</style>
    <style data-selector=".popover.left > .arrow:after">Popover arrow ::after pseudo-elements for Popover Left, Left-top, Left-bottom</style>
  </pre>

  <h5>Popover Content Class</h5>
  <p>Wrap the content within a <code data-tag="div"></code> or <code data-tag="span"></code> element under the popover element. For example, <code>.popover-content</code></p>
  <pre>
    <style data-selector=".popover-content"></style>
  </pre>
</section>

<section class="popover-examples">
  <p>Popovers display additional information or functionality related to an object without leaving the page.</p>

	<ul class="description">
		<li>Popovers can contain various UI elements, such as links, images, or controls.</li>
		<li>The content can be scrollable if it exceeds the specified height of the pop-over box.</li>
		<li>Popovers should be positioned based on the screen space available.</li>
		<li>Popovers should have directional arrows pointing to the related object.</li>
	</ul>

	<div>
		<!-- popover top -->
		<div class="popover top popover-example popover-example-rwd">
			<div class="arrow"></div>
			<div class="popover-content">
				<span>Popover Top</span><br>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Duis mollis, est non commod luctus, nisi erat porttitor ligula, eget lacinia.
			</div> 
		</div>

		<div class="popover top-left popover-example popover-example-rwd">
			<div class="arrow"></div>
			<div class="popover-content">
				<span>Popover Top-left</span><br>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Duis mollis, est non commod luctus, nisi erat porttitor ligula, eget lacinia.
			</div> 
		</div>

		<div class="popover top-right popover-example popover-example-rwd">
			<div class="arrow"></div>
			<div class="popover-content">
				<span>Popover Top-right</span><br>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Duis mollis, est non commod luctus, nisi erat porttitor ligula, eget lacinia.
			</div> 
		</div>

		<!-- popover right -->
		<div class="popover right popover-example popover-example-rwd">
			<div class="arrow"></div>
			<div class="popover-content">
				<span>Popover Right</span><br>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Duis mollis, est non commod luctus, nisi erat porttitor ligula, eget lacinia.
			</div> 
		</div>

		<div class="popover right-top popover-example popover-example-rwd">
			<div class="arrow"></div>
			<div class="popover-content">
				<span>Popover Right-top</span><br>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Duis mollis, est non commod luctus, nisi erat porttitor ligula, eget lacinia.
			</div> 
		</div>

		<div class="popover right-bottom popover-example popover-example-rwd">
			<div class="arrow"></div>
			<div class="popover-content">
				<span>Popover Right-bottom</span><br>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Duis mollis, est non commod luctus, nisi erat porttitor ligula, eget lacinia.
			</div> 
		</div>

		<!-- popover bottom -->
		<div class="popover bottom popover-example popover-example-rwd">
			<div class="arrow"></div>
			<div class="popover-content">
				<span>Popover Bottom</span><br>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Duis mollis, est non commod luctus, nisi erat porttitor ligula, eget lacinia.
			</div> 
		</div>

		<div class="popover bottom-left popover-example popover-example-rwd">
			<div class="arrow"></div>
			<div class="popover-content">
				<span>Popover Bottom-left</span><br>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Duis mollis, est non commod luctus, nisi erat porttitor ligula, eget lacinia.
			</div> 
		</div>

		<div class="popover bottom-right popover-example popover-example-rwd">
			<div class="arrow"></div>
			<div class="popover-content">
				<span>Popover Bottom-right</span><br>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Duis mollis, est non commod luctus, nisi erat porttitor ligula, eget lacinia.
			</div> 
		</div>

		<!-- popover left -->
		<div class="popover left popover-example popover-example-rwd">
			<div class="arrow"></div>
			<div class="popover-content">
				<span>Popover Left</span><br>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Duis mollis, est non commod luctus, nisi erat porttitor ligula, eget lacinia.
			</div> 
		</div>

		<div class="popover left-top popover-example popover-example-rwd">
			<div class="arrow"></div>
			<div class="popover-content">
				<span>Popover Left-top</span><br>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Duis mollis, est non commod luctus, nisi erat porttitor ligula, eget lacinia.
			</div> 
		</div>

		<div class="popover left-bottom popover-example popover-example-rwd">
			<div class="arrow"></div>
			<div class="popover-content">
				<span>Popover Left-bottom</span><br>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Duis mollis, est non commod luctus, nisi erat porttitor ligula, eget lacinia.
			</div> 
		</div>
	</div>
</section>