<section class="css-reference">
  <h5>Tooltip Series Percentage Value</h5>
  <pre>
     <style data-selector=".highcharts-tooltip > span > table > tbody > tr > td:last-child > span"></style>
  </pre>
</section>
<section class="bar-charts-example stacked-percent-bar-chart">
	<div id="stacked-percent-bar-chart-container" class="bar-chart-container"></div>
	<section class="chart-title">
        <span>Total Scanned Traffic (GB)</span>
    </section>
	<section class="legend">
        <ul></ul>
    </section>
</section>