<section class="bar-charts-example">
	<p>Bar charts are used to compare data across categories. They are especially effective when you have numerical data that can be categorized, for example, volume of scanned traffic in different continents.</p>
	<div class="lists-unordered">
		<ul>
			<li>Use <a href="#/styles/{{theme}}/{{version}}/dffba378-6723-4701-9087-3d527c831509">qualitative colors</a> to group items. For example, use blue for Ransomware, orange for web reputation.</li>
			<li>Ensure the numerical axis starting at zero.</li>
			<li>Avoid use long labels. Truncated your label and add an ellipsis (...) when the label is too long to fit into the provided space.</li>
			<li>Avoid using gradient color and 3-D bar charts.</li>
			<li>Avoid using different colors for data sets of the same category.</li>
			<li>Do not show legends when there is only one category.</li>
		</ul>
	</div>
</section>