<section class="css-reference">
  <h5>Search container</h5>
  <p>Use a <code data-tag="div"></code> element to create a container that wraps the input and the button. For example, <code>.input-group</code> is used as a search container in Bootstrap.</p>
  <pre>
    <style data-selector=".input-group"></style>
  </pre>

  <h5>Search container with an icon</h5>
  <pre>
    <style data-selector=".input-group .input-icon-group"></style>
  </pre>
  <pre data-title="Input tag">
    <style data-selector=".input-group .input-icon-group > .form-control"></style>
    <style data-selector=".input-group .input-icon-group > .icon">Icon stack order</style>
  </pre>

  <h5>Input with form control</h5>
  <pre>
    <style data-selector=".input-group .form-control"></style>
  </pre>
  <pre data-title=":focus">
    <style data-selector=".input-group .form-control:focus"></style>
  </pre>
  <pre data-title=":first-child">
    <style data-selector=".input-group .form-control:first-child"></style>
  </pre>
  <h5>Search button</h5>
  <pre>
    <style data-selector=".input-group-btn">Use span element to wrap the button</style>
  </pre>
  <pre data-title="Button Class">
    <style data-selector=".input-group-btn > .btn">About the button with icon style, please refer to buttons component</style>
  </pre>
  <pre data-title=":focus :active">
    <style data-selector=".input-group-btn > .btn:focus"></style>
  </pre>
  <pre data-title=":last-child">
    <style data-selector=".input-group-btn:last-child > .btn">Negative margin to only have a 1px border between the two</style>
  </pre>
</section>

<section class="search-example">
  <p>Click the search button to start querying for the typed text.</p>

	<ul class="description">
		<li>Use the default button style for the search button. You may also use the primary or emphasis style for emphasis.</li>
		<li>You can include a reset button for clearing up the search text. Only show the reset button when text is typed into the search box and the search is complete.</li>
	</ul>
	<div>
	  <div class="input-group">
      <input type="text" class="form-control" placeholder="Case name">
      <span class="input-group-btn">
        <button type="button" class="btn btn-default btn-icon-only"><span class="fa fa-search"></span></button>
      </span>
    </div><!-- /input-group -->
    <div class="input-group">
      <input type="text" class="form-control input-focus" value="DDEI">
      <span class="input-group-btn">
        <button type="button" class="btn btn-default btn-icon-only"><span class="fa fa-search"></span></button>
      </span>
    </div><!-- /input-group -->
    <div class="input-group">
	  	<div class="input-icon-group">
	      <input type="text" class="form-control" value="DDEI">
	      <span class="icon icon-cancel" data-clear-field="clearField"></span>
	    </div>
	    <span class="input-group-btn">
	      <button type="button" class="btn btn-default btn-icon-only"><span class="fa fa-search"></span></button>
	    </span>
    </div><!-- /input-group -->
  </div>
</section>