
.colors-circle {
  display: inline-block;
  width: 110px;
  height: 110px;
  line-height: 110px;
  margin-right: 32px;
  text-align: center;
  border-radius: 100%;
  font-size: 16px;
  align-items: center;
}

.colors-dark {
  color: #fff;
}