.color-example {
  display: table;
  width: 100%;
  height: 100%;
}
.colors-container {
  display: table-row;
  height: 100%;  
}
.colors-container .colors-palette {
	padding: 0 32px;
	display: table-cell;
	vertical-align: middle;	
}
.colors-container .colors-palette .colors-palette-row {
  float: left;
}
.colors-circle  {
  display: inline-block;
  width: 110px;
  height: 110px;
  line-height: 110px;
  margin-right: 32px;  
  text-align: center;
  border-radius: 100%;
  font-size: 16px;
  align-items: center;
}
.colors-dark {
  color: #fff;
}