.colors-palette-container {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0 32px;
  margin-bottom: 20px;  
}
.colors-palette-container:last-child {
  margin-bottom: 0;
}
.colors-palette-container h3 {
  display: inline-block;
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  font-family: @header-text-family;    
  line-height: 40px;
}
.colors-palette-container .colors-palette {
  margin-left: 56px;
  width: 100%;     
}
.colors-palette-container .colors-palette:first-child {
  margin-left: 0;
} 
.colors-palette-container ul {
  list-style: none;    
  padding: 0;
  width: 100%;
}  
.colors-palette-container ul li {
  margin-top: 1px;
  height: 48px;
  line-height: 48px;
  padding: 0 16px;  
}   
.colors-palette-container ul li:first-child {
  margin-top: 0;
}
.colors-palette-container ul li span {
  float: right;
}
@media screen and (max-width: 1382px) {
  .colors-container .colors-palette-row + .colors-palette-row {
    margin-top: 24px;
  }
}
@media screen and (max-width: 780px) {
  .colors-container .colors-palette,
  .colors-palette-container {
    padding: 0;
  }
}
