//== Alerts
//
//## Define alert colors, border radius, and padding.
@alert-success-bg:        extract(@greens, 9);
@alert-success-border:    1px solid extract(@greens, 8);

@alert-info-bg:           extract(@blues, 9);
@alert-info-border:       1px solid extract(@blues, 8);

@alert-warning-bg:        extract(@yellows, 9);
@alert-warning-border:    1px solid extract(@yellows, 5);

@alert-danger-bg:         extract(@reds, 9);
@alert-danger-border:     1px solid extract(@reds, 8);