//== Badges
//
//##
@badge-color:                 #ffffff;
//** Linked badge text color on hover
@badge-link-hover-color:      #ffffff;

//** Light Gray badge background color
@badge-light-gray-bg:         @gray-light;
//** Blue badge background color
@badge-blue-bg:           	  extract(@blues, 5);
//** Green badge background color
@badge-green-bg:              extract(@greens, 5);
//** Cyan badge background color
@badge-cyan-bg:           	  extract(@cyans, 4);
//** Orange badge background color
@badge-orange-bg:             extract(@oranges, 5);
//** Red badge background color
@badge-red-bg:           	  extract(@reds, 5);
//** Yellow badge background color
@badge-yellow-bg:             extract(@yellows, 6);
//** Dark badge background color
@badge-dark-bg:               extract(@grays, 3);

//** Badge text color in active nav link
@badge-active-color:          link-color;
//** Badge background color in active nav link
@badge-active-bg:             #ffffff;

@badge-font-weight:           bold;
@badge-line-height:           1;
@badge-border-radius:         10px;
