//== Breadcrumbs
//
//##
@breadcrumb-height: 			 48px;
//** Breadcrumb background color
@breadcrumb-bg: 				 transparent;
//** Breadcrumb border
@breadcrumb-border-width:		 1px;
@breadcrumb-border-color:		 #444;
//** Breadcrumb font size
@breadcrumb-font-size:			 @font-size-lead;
//** Breadcrumb line-height
@breadcrumb-line-height:		 (@breadcrumb-font-size * @line-height-base);
//** Breadcrumb margin
@breadcrumb-margin:			  	 0;
//** Breadcrumb padding
@breadcrumb-padding-vertical: 	 ((@breadcrumb-height - @breadcrumb-line-height) / 2);
@breadcrumb-padding-horizontal:  0;
//** Breadcrumb text color
@breadcrumb-color:			  	 #888888;
//** Text color of current page in the breadcrumb
@breadcrumb-active-color:		 #ffffff;
//** Textual separator for between breadcrumb elements
@breadcrumb-separator:			 "›";