//== Buttons
//
//## For each of Bootstraps buttons, define text, background and border color.
@btn-font-weight: 		  	  	normal;
@btn-min-width:              	80px;
@btn-cursor-disable:          	not-allowed;

@btn-default-color:  	 	  	@text-color;
@btn-default-bg: 		 	  	#fbfbfb;
@btn-default-bg-top:  	 	  	#fbfbfb;
@btn-default-bg-bottom: 	  	#ececec;	
@btn-default-border:	 	  	#cccccc;
@btn-default-bg-hover-top:   	#ffffff;
@btn-default-bg-hover-bottom: 	#f5f5f5;	
@btn-default-border-hover:	  	#999999;
@btn-default-focus-border: 		#0096cc;
@btn-default-bg-active: 	  	#eeeeee;	
@btn-default-border-active:		#bbbbbb;
@btn-default-active-shadow: 	0px 1px 4px rgba(0,0,0,0.10)inset;

@btn-primary-color:     	 	#fff;
@btn-primary-bg:		 	 	@brand-primary;	
@btn-primary-bg-top:  	 	 	#00a7e6;
@btn-primary-bg-bottom: 	 	#0096cc;
@btn-primary-border:	 	 	#0095ce;	
@btn-primary-bg-hover-top:   	#1daee5;
@btn-primary-bg-hover-bottom: 	#00a3df;	
@btn-primary-border-hover:	 	#00759f;
@btn-primary-focus-border: 		#444444;
@btn-primary-focus-shadow: 		0px 0px 1px rgba(255,255,255,1)inset;
@btn-primary-bg-active: 	  	#009ed8;
@btn-primary-border-active:		#00759f;
@btn-primary-active-shadow: 	0px 1px 6px rgba(0,0,0,0.15)inset;

@btn-danger-color:     	 		#fff;	
@btn-danger-bg:		 	 		@brand-danger;	
@btn-danger-bg-top:  	 	 	#e15054;
@btn-danger-bg-bottom: 	 		@brand-danger;
@btn-danger-border:	 	 		#d8262b;	
@btn-danger-bg-hover-top:   	#e15f5f;
@btn-danger-bg-hover-bottom: 	#e15054;	
@btn-danger-border-hover:	 	#c22327;
@btn-danger-focus-border: 		#444444;
@btn-danger-focus-shadow: 		0px 0px 1px rgba(255,255,255,1)inset;
@btn-danger-bg-active: 	  		#e15054;
@btn-danger-border-active:		#c22327;
@btn-danger-active-shadow: 		0px 1px 6px rgba(0,0,0,0.15)inset;

@btn-border-color:     	 		@text-color;
@btn-border-transition: 	    all .2s linear 0s;
@btn-border-bg:		 	 		@component-active-color;
@btn-border-bg-top:  	 	 	@btn-border-bg;
@btn-border-bg-bottom: 	 		@btn-border-bg;
@btn-border-border:	 	 		@btn-default-border;
@btn-border-bg-hover-top:   	#f4f4f4;
@btn-border-bg-hover-bottom: 	@btn-border-bg-hover-top;
@btn-border-border-hover:	 	#999999;
@btn-border-focus-border: 		#0096cc;
@btn-border-bg-active: 	  		#eeeeee;
@btn-border-border-active:		#bbbbbb;
@btn-border-active-shadow: 		0px 1px 2px rgba(0,0,0,0.1)inset;

@btn-success-color:	 	 		#fff;
@btn-success-bg:		 	 	@brand-success;
@btn-success-bg-top:  	 	 	@brand-success;
@btn-success-bg-bottom: 	 	@brand-success;
@btn-success-border: 	  	 	darken(@btn-success-bg, 5%);	
@btn-success-bottom-border: 	darken(@btn-success-bg, 5%);
@btn-success-border-hover:	 	#999;

@btn-warning-color: 	 	 	#fff;
@btn-warning-bg: 		 	 	@brand-warning;
@btn-warning-bg-top:  	 	 	@brand-warning;
@btn-warning-bg-bottom: 	 	@brand-warning;
@btn-warning-border: 	 	 	darken(@btn-warning-bg, 5%);
@btn-warning-bottom-border: 	darken(@btn-warning-bg, 5%);
@btn-warning-border-hover:		#999;

@btn-link-disabled-color: 	 	@gray-light;
//** Allows for customizing button radius independently from global border radius
@btn-border-radius-base:    	@border-radius-base;
@btn-border-radius-lead:    	@border-radius-lead;
@btn-border-radius-large: 	 	@border-radius-large;
@btn-border-radius-small: 	 	@border-radius-small;