//== Charts
//
//##

@widgetLagendListColors:   				extract(@blues, 4), extract(@greens, 4), extract(@oranges, 5), extract(@cyans, 4), extract(@reds, 5), extract(@indigos, 5), extract(@teals, 4), extract(@light-greens, 5), extract(@yellows, 3), extract(@purples, 7), extract(@grays, 8);
@highcharts-series-size:    			8px;
@highcharts-series-stroke-size:    		14px;
@highcharts-series-outer-glow-size:		24px;
@highcharts-series-border-radius:    	50%;
