//== Colors
//
//## Gray and brand colors for use across Style Portal.

//** Black
@black: 			#000000;

//** White
@white: 			#ffffff;

//** Gray
@gray-darkest: 		#222222;
@gray-darker:  		#444444;
@gray-dark: 		#888888;
@gray:				#bbbbbb;
@gray-light:		#e6e6e6;
@gray-lighter:		#f8f8f8;

//** Brand colors
@brand-primary:		#33abd6;
@brand-success:		#00a94f;
@brand-warning: 	#fd884e;
@brand-danger: 		#db3d44;

//** Red level
@reds:				#c22327, #cd363a, #db3d44, #e15054, #e56669, #e6777c, #e98b8f, #f3c0c3, #f8dcdd, #fde8e9;

//** Blue level
@blues:			 	#036f96, #0382b0, #0096cc, #33abd6, #4cb5db, #66c0e0, #7fcae5, #99d5eb, #cceaf5, #e6f4fc;

//** Orange level
@oranges:			#eb5004, #fc661d, #ff7633, #fd884e, #fe9967, #ffad85, #ffba99, #ffc8ad, #ffe4d6, #ffede3;

//** Yellow level
@yellows:			#eeb711, #f5c217, #faca2a, #fcd140, #fcd963, #fcde78, #fce38d, #fce79e, #fdf0c3, #fcf8da;

//** Light Green level
@light-greens:		#83aa32, #93be37, #9fca45, #a8cf57, #b2d56a, #bcda7c, #cfe4a2, #e2efc7, #f3f9e8, #f8fbf1;

//** Green level
@greens:			#027437, #028d43, #00a94f, #33ba72, #4cc383, #75d09f, #99ddb9, #c4ebd6, #dbf5e7, #e8f9f0;

//** Teal level
@teals:				#088e78, #09a78c, #0abfa1, #09dab7, #3ae1c5, #6be9d4, #89ecde, #b3f4e9, #cef8f1, #e2faf6;

//** Cyan level
@cyans:				#1396b1, #15a5c3, #16bfe1, #45cce7, #5bd2ea, #73d9ed, #8adff0, #a7e6f3, #d0f2f9, #ebfafd;

//** Indigo level
@indigos:			#2939cb, #3646d7, #4b59dc, #5d69df, #7883e5, #8a93e8, #a5aced, #bbc1f1, #dbdef8, #ebedfc;

//** Purple level
@purples:			#891d7b, #9c218d, #b325a0, #c829b3, #d643c3, #db58ca, #e07ad3, #e9ade1, #f7d9f3, #fcf0fb;

//** Gray level
@grays:				@gray-darkest, @gray-darker, #666666, #777777, @gray-dark, #999999, #aaaaaa, @gray, #cccccc, #dddddd, @gray-light, #eeeeee, #f4f4f4, @gray-lighter;

//** Black & White
@black_white:		@black, @white;