//== Colors
//
//## Gray and brand colors for use across Style Portal.

//** Black
@black: 			#000000;

//** White
@white: 			#ffffff;

//** Gray
@gray-darkest: 		#222222;
@gray-darker:  		#444444;
@gray-dark: 		#888888;
@gray:				#bbbbbb;
@gray-light:		#e6e6e6;
@gray-lighter:		#f8f8f8;

//** Brand colors
@brand-primary:		#33abd6;
@brand-success:		#00a94f;
@brand-notice:      #faca2a;
@brand-warning: 	#ff7633;
@brand-danger: 		#db3d44;
@brand-info:        #888888;

//** Red level
@reds:				#a70004, #ba0005, #d11e23, #df2a32, #db3d44, #e45256, #e56669, #ef797e, #ff979b, #ffb0b3;

//** Blue level
@blues:			 	#00548a, #01619e, #0170aa, #0080bb, #0096cc, #33abd6, #4cb5db, #66c0e0, #84d3f0, #a1e0f7;

//** Orange level
@oranges:			#dc2f01, #e84200, #f25204, #fc661d, #ff7633, #fd884e, #fe9967, #ffad85, #ffbc9c, #ffd0b9;

//** Yellow level
@yellows:			#e48100, #ee9700, #f8ab06, #f7bb05, #faca2a, #fcd140, #fcd963, #fde67e, #fff59d, #fff9c4;

//** Light Green level
@light-greens:		#508504, #649604, #79ab1b, #8bc01a, #9cd22a, #ade33d, #beef58, #cdf970, #dbff8f, #e6ffb0;

//** Green level
@greens:			#055c1e, #006b28, #077d2e, #039232, #00a94f, #24b65c, #4cc383, #61e29d, #8cf3bc, #aeffd4;

//** Teal level
@teals:				#026151, #007864, #088e78, #09a78c, #0abfa1, #13d0b1, #2ae0c1, #56eed5, #7dfae6, #a1ffea;

//** Cyan level
@cyans:				#007189, #07859f, #0698b7, #08abce, #16bfe1, #3dc6e4, #5bd2ea, #73e0f7, #8aebff, #a9f1ff;

//** Indigo level
@indigos:			#1c268a, #2431af, #2939cb, #3646d7, #4b59dc, #5d69df, #717eef, #8793fb, #a0aafb, #bec5fb;

//** Purple level
@purples:			#720076, #840086, #9a0298, #ab02a9, #bf02bd, #cf25c5, #d643c3, #e45dd3, #f578e5, #ff99f2;

//** Gray level
@grays:				#111111, #222222, #2c2c2c, #333333, #3c3c3c, #444444, #4c4c4c, #555555, #666666, #888888, #bbbbbb, #dddddd;

//** Black & White
@black_white:		@black, @white;
