//== Dropdowns
//
//## Dropdown menu container and contents.

//** Background for the dropdown menu.
@dropdown-bg: 		 	 	   @component-active-color;
//** Dropdown menu `border-color`.
@dropdown-border:  	           @btn-default-border-active;
//** Dropdown menu shadow color.
@dropdown-shadow-color:  	    rgba(0, 0, 0, 0.2);
//** Dropdown menu `border-color` **for IE8**.
@dropdown-fallback-border:     @btn-default-border-active;
//** Divider color for between dropdown items.
@dropdown-divider-bg:	  	   #eeeeee;

//** Dropdown link text color.
@dropdown-link-color:         @text-color;
//** Hover color for dropdown links.
@dropdown-link-hover-color:   @text-color;
//** Hover background for dropdown links.
@dropdown-link-hover-bg:	   #eeeeee;

//** Active dropdown menu item text color.
@dropdown-link-active-color:  @brand-danger;
//** Active dropdown menu item background color.
@dropdown-link-active-bg:	  transparent;

//** Disabled dropdown menu item background color.
@dropdown-link-disabled-opacity:0.4;
//** Text color for headers within dropdown menus.
@dropdown-header-color: 	   #888888;

//** Deprecated `@dropdown-caret-color` as of v3.1.0
@dropdown-caret-color: 	   @caret-color;

//Disabled
@dropdown-link-disabled-color:   @text-disabled;