//== Forms
//
//##

@form-horizontal-padding-base:   12px;
@form-vertical-padding-base:     5px;
@form-vertical-padding-lead: 	9px;
@form-vertical-padding-large:    6px;
@form-vertical-padding-small: 	4px;
@form-vertical-padding-xs: 	  	1px;

@input-inner-icon-color: 		#666666;
@input-inner-icon-focus-color:   @brand-primary;
//** `<input>` background color
@input-bg:                       @component-active-color;
//** `<input disabled>` background color
@input-bg-disabled:              #dddddd;

//** Text color for `<input>`s
@input-color:                    @gray-base;
//** `<input>` border color #cccccc
@input-border:                   extract(@grays, 9);
//** `<input type="checkbox">` border color #999999
@input-checkbox-radio-border:    extract(@grays, 6);

//** TODO: Rename `@input-border-radius` to `@input-border-radius-base` in v4
//** Default `.form-control` border radius
//** This has no effect on `<select>`s in some browsers, due to the limited stylability of `<select>`s in CSS.
@input-border-radius:            @border-radius-base;
//** Large `.form-control` border radius
@input-border-radius-large:      @border-radius-large;
//** Small `.form-control` border radius
@input-border-radius-small:      @border-radius-small;

//** Border color for inputs on focus
@input-border-focus:             @brand-primary;
//** order color for inputs on danger
@input-border-danger:            @brand-danger;

//** Placeholder text color
@input-color-placeholder:        @text-muted;


//** Default `.form-control` height
@input-height-base:              (ceil(@font-size-base * @line-height-base) + (@padding-base-vertical * 2) + 2);
//** Large `.form-control` height
@input-height-large:             (ceil(@font-size-lead * @line-height-base) + (@padding-lead-vertical * 2) + 2);
//** Small `.form-control` height
@input-height-small:             (floor(@font-size-small * @line-height-base) + (@padding-small-vertical * 2) + 2);
//** Extra Small `.form-control` height
@input-height-xs:            	(floor(@font-size-small * @line-height-base) + (@padding-xs-vertical * 2) + 2);

//** `.form-group` margin
@form-group-margin-bottom:       12px;

@legend-color:                   @gray-base;
@legend-border-color:            #e6e6e6;

//** Background color for textual input addons
@input-group-addon-bg:           @gray-lighter;
//** Border color for textual input addons
@input-group-addon-border-color: @input-border;

//** Disabled cursor for form controls and buttons.
@cursor-disabled:                not-allowed;