//== Forms
//
//##

@form-horizontal-padding-base:   12px;
@form-vertical-padding-base:     5px;
@form-vertical-padding-lead: 	9px;
@form-vertical-padding-large:    6px;
@form-vertical-padding-small: 	4px;
@form-vertical-padding-xs: 	  	1px;

@input-inner-icon-color: 		 @tmicon-default-color;
@input-inner-icon-focus-color:   @brand-primary;
//** `<input>` background color
@input-bg:                       transparent;
//** `<input disabled>` background color
@input-bg-disabled:              #555555;

//** Text color for `<input>`s
@input-color:                    @text-color;
//** `<input>` border color
@input-border:                   #888888;
//** `<input type="checkbox">` or `<input type="radio">` border color
@input-checkbox-radio-border:    #bbbbbb;

//** `<input type="checkbox">` or `<input type="radio">` background color 
@input-checkbox-radio-background: @input-bg;

//** `<input type="checkbox">` or `<input type="radio">` color 
@input-checkbox-radio-point-color: @input-bg;

@input-checkbox-radio-checked-hover-background: #33abd6;

@input-checkbox-radio-checked-border: #0382b0;
@input-checkbox-radio-checked-background: @input-checkbox-radio-checked-border;

@input-checkbox-radio-disabled-border: #666666;
@input-checkbox-radio-disabled-background: #555555;

@input-checkbox-radio-checked-hover-border: @input-checkbox-radio-checked-hover-background;

//** TODO: Rename `@input-border-radius` to `@input-border-radius-base` in v4
//** Default `.form-control` border radius
//** This has no effect on `<select>`s in some browsers, due to the limited stylability of `<select>`s in CSS.
@input-border-radius:            @border-radius-base;
//** Large `.form-control` border radius
@input-border-radius-large:      @border-radius-large;
//** Small `.form-control` border radius
@input-border-radius-small:      @border-radius-small;

//** Border color for inputs on focus
@input-border-focus:             @brand-primary;
//** order color for inputs on danger
@input-border-danger:            @brand-danger;

//** Placeholder text color
@input-color-placeholder:        @text-muted;

//** Select
@select-option-bg:               #2c2c2c;

//** Default `.form-control` height
@input-height-base:              (ceil(@font-size-base * @line-height-base) + (@padding-base-vertical * 2) + 2);
//** Large `.form-control` height
@input-height-large:             (ceil(@font-size-lead * @line-height-base) + (@padding-lead-vertical * 2) + 2);
//** Small `.form-control` height
@input-height-small:             (floor(@font-size-small * @line-height-base) + (@padding-small-vertical * 2) + 2);
//** Extra Small `.form-control` height
@input-height-xs:            	(floor(@font-size-small * @line-height-base) + (@padding-xs-vertical * 2) + 2);

//** `.form-group` margin
@form-group-margin-bottom:       12px;

@legend-color:                   @text-color;
@legend-border-color:            #e6e6e6;

//** Background color for textual input addons
@input-group-addon-bg:           @gray-lighter;
//** Border color for textual input addons
@input-group-addon-border-color: @input-border;

//** Disabled cursor for form controls and buttons.
@cursor-disabled:                not-allowed;


//** Help block
@help-block-color:               @text-muted;

//== Datepicker
@datepicker-cell-normal-color: @text-color;
@datepicker-cell-normal-hover-bg: #eee;

@datepicker-cell-faded-color: @text-muted;

@datepicker-cell-active-bg: @brand-danger;
@datepicker-cell-active-color: #fff;

@datepicker-cell-disabled-bg: none;
@datepicker-cell-disabled-color: @text-muted;

@datepicker-cell-today-color: @brand-danger;

@datepicker-custom-wrapper-border: @gray;
@datepicker-custom-wrapper-shadow: 0 2px 6px rgba(0, 0, 0, .2);
@datepicker-custom-wrapper-pane-border-left: #dddddd;
@datepicker-custom-wrapper-divider: #e6e6e6;
