//== Iconography
//
//## Specify custom location and filename of the included Glyphicons icon font. Useful for those including Bootstrap via Bower.

//** Load fonts from this directory.
@icon-font-path:          "../fonts/";
//** File name for all font files.
@icon-font-name:          "glyphicons-halflings-regular";
//** Element ID within SVG icon file.
@icon-font-svg-id:        "glyphicons_halflingsregular";

//== TMIcon

//** Font Size
@tmicon-default-size:    16px;
@tmicon-large-size:      24px;
@tmicon-small-size:      16px;

//** Colors
@tmicon-default-color:   #bbbbbb;
@tmicon-hover-color:     #ffffff;
@tmicon-error-color:     @brand-danger;
@tmicon-warning-color:   @brand-warning;
@tmicon-notice-color:    @brand-notice;
@tmicon-success-color:   @brand-success;
@tmicon-info-color:      @brand-info;
@tmicon-tball-color:     #d71920;

@tmicon-visible-low-color:     @tmicon-hover-color;
@tmicon-visible-low-opacity:   0.3;
