//== Iconography
//
//## Specify custom location and filename of the included Glyphicons icon font. Useful for those including Bootstrap via Bower.

//** Load fonts from this directory.
@icon-font-path:          "../fonts/";
//** File name for all font files.
@icon-font-name:          "glyphicons-halflings-regular";
//** Element ID within SVG icon file.
@icon-font-svg-id:        "glyphicons_halflingsregular";

//== TMIcon

//** Font Size
@tmicon-default-size:    16px;
@tmicon-large-size:      24px;
@tmicon-small-size:      16px;

//** Colors
@tmicon-default-color:   #666;
@tmicon-hover-color:     #222;
@tmicon-error-color:     #db3d44;
@tmicon-warning-color:   #ff7633;
@tmicon-notice-color:    #faca2a;
@tmicon-success-color:   #00a94f;
@tmicon-info-color:      #bbb;
@tmicon-brand-color:     #d71920;