//== Labels
//
//##

//** Blue label background color
@label-blue-bg:           	  #0096cc;
//** Green label background color
@label-green-bg:              #00a94f;
//** Cyan label background color
@label-cyan-bg:           	  #16bfe1;
//** Orange label background color
@label-orange-bg:             #ff7633;
//** Red label background color
@label-red-bg:           	    #db3d44;
//** Indigo label background color
@label-indigo-bg:             #5d69df;
//** Yellow label background color
@label-yellow-bg:             #faca2a;
//** Light Gray label background color
@label-light-gray-bg:         #cccccc;
//** Gray label background color
@label-gray-bg:           	  #999999;
//** Dark label background color
@label-dark-bg:               #666666;


//** Default label text color
@label-color:                 #ffffff;
//** Inverted label text color
@label-inverse-color:         #444444;
//** Default text color of a linked label
@label-link-hover-color:      #ffffff;