//== Modals
//
//##

//** Padding applied to the modal body
@modal-inner-padding:         16px;

//** Padding applied to the modal title
@modal-title-padding:         24px;
//** Modal title line-height
@modal-title-line-height:     @headings-line-height;

//** Background color of modal content area
@modal-content-bg:                             @body-bg;
//** Modal content border color
@modal-content-border-color:                   #666;
//** Modal content border color **for IE8**
@modal-content-fallback-border-color:          #666;
//** Modal content shadow
@modal-content-shadow:          0 5px 25px rgba(0, 0, 0, .6);

@modal-body-primary-message-color: #fff;

//** Modal backdrop background color
@modal-backdrop-bg:           #111;
//** Modal backdrop opacity
@modal-backdrop-opacity:      .85;

//** Modal header border color
@modal-header-border-color:   #444;

//** Modal footer border color
@modal-footer-border-color:   @modal-header-border-color;
//** Modal footer background color
@modal-footer-background-color:   #333;

@modal-lg:                    928px;
@modal-md:                    688px;
@modal-sm:                    544px;
@modal-xs:                    400px;