//== Multiple Selection
//
//##
@ms-bg:                         @component-active-color;
@ms-list-border:                @input-border;
@ms-option-group-label-color:   #888888;
@ms-option-hover-color:         @text-color;
@ms-option-hover-background:    #eeeeee;