//== Navbar
//
//##

//** Basics of a navbar
@navbar-height:                    40px;
@navbar-margin-bottom:             @line-height-base-computed;
@navbar-border-radius:             @border-radius-base;
@navbar-padding-horizontal:        24px;
@navbar-padding-vertical:          ((@navbar-height - @line-height-base-computed) / 2);
@navbar-collapse-max-height:       340px;
@navbar-collapse-shadow:         rgba(255,255,255, .1);
@navbar-affix-shadow:              0 5px 15px rgba(0, 0, 0, 0.6);
@navbar-brand-bg:                  transparent;

@navbar-nav-dropdown-menu-shadow:  rgba(0, 0, 0, .15);
@navbar-nav-caret-border:          #fff;

@navbar-default-color:             @white;
@navbar-default-bg:                #2c2c2c;
@navbar-default-border:            #2c2c2c;
@navbar-default-border-bottom:     #4c4c4c;

@navbar-vertical-default-bg:               #111;

//** Navbar links
@navbar-default-link-color:                #bbb;
@navbar-default-link-border:               #4c4c4c;
@navbar-default-link-hover-color:          #bbb;
@navbar-default-link-hover-bg:             rgba(255, 255, 255, .15);
@navbar-default-link-focus-color:          #bbb;
@navbar-default-link-focus-bg:             rgba(255, 255, 255, .05);
@navbar-default-link-active-color:         #fff;
@navbar-default-link-active-bg:            #111;
@navbar-default-link-disabled-color:       #ccc;
@navbar-default-link-disabled-bg:          transparent;

//** Navbar brand label
@navbar-default-brand-color:               @white;
@navbar-default-brand-hover-color:         @white;
@navbar-default-brand-hover-bg:            rgba(255, 255, 255, .15);

//** Navbar toggle
@navbar-default-toggle-hover-bg:           #ddd;
@navbar-default-toggle-icon-bar-bg:        #888;
@navbar-default-toggle-border-color:       #ddd;


//** Inverted navbar
//** Reset inverted navbar basics
@navbar-inverse-color:                      lighten(@gray-light, 15%);
@navbar-inverse-bg:                         #222;
@navbar-inverse-border:                     darken(@navbar-inverse-bg, 10%);

//** Inverted navbar links
@navbar-inverse-link-color:                 lighten(@gray-light, 15%);
@navbar-inverse-link-hover-color:           #fff;
@navbar-inverse-link-hover-bg:              transparent;
@navbar-inverse-link-active-color:          @navbar-inverse-link-hover-color;
@navbar-inverse-link-active-bg:             darken(@navbar-inverse-bg, 10%);
@navbar-inverse-link-disabled-color:        #444;
@navbar-inverse-link-disabled-bg:           transparent;

//** Inverted navbar brand label
@navbar-inverse-brand-color:                @navbar-inverse-link-color;
@navbar-inverse-brand-hover-color:          #fff;
@navbar-inverse-brand-hover-bg:             transparent;

//** Inverted navbar toggle
@navbar-inverse-toggle-hover-bg:            #333;
@navbar-inverse-toggle-icon-bar-bg:         #fff;
@navbar-inverse-toggle-border-color:        #333;

//**  Side navigation Customize
@side-navigation-width:                      64px;
@side-navigation-extend-width:               240px;
@side-navigation-transition:                 all .15s;

@side-navigation-toggle-height:              64px;
@side-navigation-toggle-icon-bar-bg:       #fff;

@side-navigation-category-expand-opacity:    1;
@side-navigation-category-selected-opacity:  1;
@side-navigation-category-text-opacity:      .6;
@side-navigation-category-bg-light:          #fff;
@side-navigation-category-bg-dark:           transparent;

@side-navigation-category-hover-bg-opacity:  .15;

@side-navigation-item-hover-text-color:        #fff;
@side-navigation-item-text-color:              #fff;
@side-navigation-item-text-selected-color:     @brand-danger;

@side-navigation-expand-selected-border-left:   @brand-danger;
@side-navigation-expand-item-text-color:        #fff;

@side-navigation-expand-sub-nav-bg:                     transparent;
@side-navigation-expand-sub-nav-item-color:             #bbb;
@side-navigation-expand-sub-nav-item-selected-color:    @side-navigation-item-text-selected-color;
@side-navigation-expand-sub-nav-item-hover-bg:          transparent;
@side-navigation-expand-sub-nav-item-hover-color:       @side-navigation-item-hover-text-color;

@side-navigation-sub-nav-bg:                            #2c2c2c;
@side-navigation-sub-nav-border:                        #888;
@side-navigation-sub-nav-shadow:                        0 5px 25px rgba(0, 0, 0, 0.6);
@side-navigation-sub-nav-first-item-border-bottom:      #444;
@side-navigation-sub-nav-item-hover-bg:                 rgba(255, 255, 255, 0.15);
@side-navigation-sub-nav-item-color:                    @text-color;
@side-navigation-sub-nav-item-selected-color:           @brand-danger;
