//== Navs
//
//##

//** Shared nav styles
@nav-link-padding:         						10px 24px;

@nav-link-hover-bg:         					extract(@grays, 13);

@nav-disabled-link-color:            			@gray-light;

@nav-disabled-link-hover-color:      			@gray-light;

//** Tabs
@nav-tabs-border-color:                     	#cccccc;

@nav-tabs-link-hover-border-color:          	#cccccc;

@nav-tabs-active-link-hover-bg:             	#ffffff;
@nav-tabs-normal-link-hover-color:          	#777777;
@nav-tabs-active-link-hover-color:          	#222222;
@nav-tabs-active-link-hover-border-color:   	#cccccc;
@nav-tabs-active-link-hover-border-top-color:   #db3d44;

@nav-tabs-justified-link-border-color:          #cccccc;
@nav-tabs-justified-active-link-border-color:   #ffffff;

//** Pills
@nav-pills-border-radius:                   	@border-radius-base;
@nav-pills-active-link-hover-bg:            	#ffffff;
@nav-pills-active-link-hover-color:         	#ffffff;