//== Navs
//
//##

//** Shared nav styles
@nav-link-padding:         						10px 24px;

@nav-link-hover-bg:         					#f4f4f4;

@nav-link-active-bg:                            #eeeeee;

@nav-disabled-link-color:            			@gray-light;

@nav-disabled-link-hover-color:      			@gray-light;

@nav-link-border-color:                         #cccccc;

//** Header navs
@nav-header-item-border-left:                   #eeeeee;

//** Tabs

@nav-tabs-normal-link-bg:          	            #fbfbfb;
@nav-tabs-normal-link-gradient-start:           @nav-tabs-normal-link-bg;
@nav-tabs-normal-link-gradient-end:             #ececec;  
@nav-tabs-normal-link-border-color:             @nav-link-border-color;
@nav-tabs-normal-link-color:          	        #777777;
@nav-tabs-normal-link-hover-bg:             	#ffffff;
@nav-tabs-normal-link-hover-gradient-start:     @nav-tabs-normal-link-hover-bg;
@nav-tabs-normal-link-hover-gradient-end:       #f5f5f5;   
@nav-tabs-normal-link-hover-border-color:       #bbbbbb;
@nav-tabs-normal-link-active-bg:                @nav-link-active-bg;
@nav-tabs-normal-link-active-border-color:      @nav-tabs-normal-link-hover-border-color;
@nav-tabs-normal-link-active-shadow:            0 1px 4px rgba(0, 0, 0, .1) inset;
@nav-tabs-active-link-color:          	        @text-color;
@nav-tabs-active-link-hover-bg:                 @nav-tabs-normal-link-hover-bg;
@nav-tabs-active-link-hover-border-color:   	@nav-link-border-color;
@nav-tabs-active-link-hover-border-top-color:   @brand-danger;

@nav-tabs-justified-link-bg:                    #f4f4f4;
@nav-tabs-justified-link-border-color:          @nav-link-border-color;
@nav-tabs-justified-link-inner-border-color:    #dddddd;
@nav-tabs-justified-link-hover-bg:              #eeeeee; 
@nav-tabs-justified-active-link-border-color:   #ffffff;

//** Pills
@nav-pills-border-radius:                   	@border-radius-base;
@nav-pills-normal-link-bg:                      #ffffff;
@nav-pills-normal-link-hover-border-color:      #bbbbbb;
@nav-pills-active-link-hover-bg:            	@nav-pills-normal-link-bg;

@nav-pills-vertical-active-link-hover-bg:       @nav-link-hover-bg;
@nav-pills-vertical-light-link-hover-bg:        @nav-link-hover-bg;
@nav-pills-vertical-light-active-link-bg:       #ffffff;