//== Pagination
//
//##

@pagination-color:                     @btn-border-color;
@pagination-bg:                        @btn-border-bg;
@pagination-border:                    @btn-border-border;

@pagination-hover-color:               @btn-border-color;
@pagination-hover-bg:                  @btn-border-bg-hover;
@pagination-hover-border:              @btn-border-border-hover;

@pagination-active-color:              @btn-primary-color;
@pagination-active-bg:                 @btn-primary-bg-active;
@pagination-active-border:             @btn-border-border-active;
@pagination-active-shadow:             rgba(0, 0, 0, .1);

@pagination-disabled-color:            @btn-border-color;
@pagination-disabled-bg:               @pagination-bg;
@pagination-disabled-border:           @pagination-border;
@pagination-disabled-opacity:          0.4;

@table-pagination-bg:                        #3d3d3d;
@table-pagination-border:                    #4c4c4c;
@table-pagination-text-color:                #888888;
@table-pagination-divider-border:            #666666;
@table-pagination-page-input-color:          @table-pagination-text-color;
@table-pagination-page-input-border:         @pagination-border;
@table-pagination-page-input-bg:             @pagination-bg;
@table-pagination-page-input-focus-border:   @input-border-focus;