//== Pagination
//
//##

@pagination-color:                     @btn-border-color;
@pagination-bg:                        @btn-border-bg;
@pagination-border:                    @btn-border-border;

@pagination-hover-color:               @btn-border-color;
@pagination-hover-bg:                  @btn-border-bg-hover;
@pagination-hover-border:              @btn-border-border-hover;

@pagination-active-color:              @btn-border-color;
@pagination-active-bg:                 @btn-border-bg-active;
@pagination-active-border:             @btn-border-border-active;
@pagination-active-shadow:             rgba(0, 0, 0, .1);

@pagination-disabled-color:            @btn-border-color;
@pagination-disabled-bg:               #fff;
@pagination-disabled-border:           #ccc;

@table-pagination-bg:                        #f8f8f8;
@table-pagination-border:                    #ddd;
@table-pagination-text-color:                #666;
@table-pagination-divider-border:            #ddd;
@table-pagination-page-input-border:         @input-border;
@table-pagination-page-input-focus-border:   @input-border-focus;