//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

//** Padding for `<th>`s and `<td>`s.
@table-cell-padding:                        8px 12px;
//** Padding for cells in `.table-condensed`.
@table-condensed-cell-padding:              5px;
//** Table Zebra-striping color
@zebra-sriping:                             #f9f9f9;

//** Background color used for all tables.
@table-bg:                                  transparent;
//** Background color used for nesting tables.
@table-nested-bg:                           #f8f8f8;
//** Header font color used for all tables.
@table-header-color:                        #999999;
//** Background color used for `.table-striped`.
@table-bg-accent:                           @zebra-sriping;
//** Background color used for `.table-hover`.
@table-bg-hover:                            rgba(255,255,255, 0.05);
@table-bg-active:                           #111111;

//** Border color for table and cell borders.
@table-border-color:                        #4c4c4c;
@table-header-border-bottom-color:          #555555;

//** Bordered table background color.
@table-bordered-header-bg:                  #3c3c3c;
//** No data table font color.
@table-no-data-color:                       @text-muted;
//** Sortable table.
@table-sortable-hover-bg:                   #444444;
@table-sortable-icon-color:                 #ffffff;
@table-sortable-sorted-color:               #ffffff;
//** Resizable table.
@table-resizable-border-left-color:         #888888;
@table-resizable-border-right-color:        rgba(255, 255, 255, .1);
//** Toolbar table.
@table-with-header-toolbar-bg:              @table-bordered-header-bg;
@table-with-header-toolbar-selected-info-color:  #888888;
@table-with-header-toolbar-plain-bg:        @table-bg;
@table-with-header-toolbar-plain-shadow:    0 5px 5px -5px rgba(0, 0, 0, 0.5);
@table-with-header-toolbar-divider-border-color: #666666;
//** Draggable table.
@table-drag-placeholder-bg:                 #111111;
@table-drag-placeholder-border-color:       #111111;
@table-drag-helper-shadow:                  0 5px 25px rgba(0, 0, 0, 0.6);
@table-drag-helper-bg:                      #3c3c3c;
@table-drag-column-bg:                      #4c4c4c;
@table-drag-column-header-bg:               #444444;
@table-drag-column-header-color:            #555555;
@table-drag-column-helper-color:            #aaaaaa;
@table-drag-column-helper-border-color:     #777777;

//** Fixed table.
@table-sb-fixed-col-border-right-color:     #666666;
@table-sb-vh-fixed-col-border-right-color:  #666666;
@table-sb-vh-fixed-col-scrollbar-rail-border-top-color: @table-border-color;
@table-sb-vh-col-border-right-color:        @table-border-color;

//** Editable table.
@table-edit-editable-hover-border-color:    @brand-primary;
@table-edit-error-border-color:             @brand-danger;

@table-group-detail-list-bg: #f8f8f8;
@table-group-detail-table-bg: #ffffff;
@table-group-detail-table-left-border-color: #888888;