@token-bg:                  extract(@blues, 9);
@token-active-bg:           extract(@blues, 8);
@token-invalid-bg:          extract(@reds, 9);
@token-invalid-active-bg:   extract(@reds, 8);

@token-editable-hover-bg:           extract(@blues, 10);
@token-editable-invalid-hover-bg:   extract(@reds, 10);
@token-font-color-editable: @brand-primary;
@token-autocomplete-item-hover-bg:         #eeeeee;
@token-autocomplete-no-match: extract(@grays, 6);
