//== Toggle Switch
//
//##

@toggle-border:                     @gray;
@toggle-hover-border:               #cccccc;
@toggle-checked-border:             #0096cc;
@toggle-checked-bg:                 @toggle-checked-border;
@toggle-switcher-bg:                #ffffff;
@toggle-switcher-shadow:            0 1px 4px rgba(0,0,0,0.3);