//== Tooltips
//
//##

//** Tooltip max width
@tooltip-max-width:           320px;
@tooltip-inverse-max-width:     680px;

//** Tooltip text color
@tooltip-color:               @text-color;
//** Tooltip background color
@tooltip-bg:                  #444;
@tooltip-boder-color:         #888;
@tooltip-opacity:             1;

//** Tooltip shadow
@tooltip-shadow:              1px 1px 12px rgba(0, 0, 0, 0.5);

//** Tooltip arrow width
@tooltip-arrow-width:         5px;
//** Tooltip arrow color
@tooltip-arrow-color:         @tooltip-bg;

//** Tooltip light
@tooltip-inverse-color:         @tooltip-color;
@tooltip-inverse-bg:            @tooltip-bg;
@tooltip-inverse-shadow:        @tooltip-shadow;