<section class="css-reference">
  <h5>Modal wrapper</h5>
  <p>Use <code data-tag="div"></code> to create a modal wrapper class. For example, <code>.modal</code> is a modal wrapper class used in Bootstrap.</p>
  <pre>
    <style data-selector=".modal"></style>
  </pre>
  <pre data-title="Common fade class">
    <style data-selector=".fade"></style>
  </pre>
  <pre data-title="Common fade in class">
    <style data-selector=".fade.in"></style>
  </pre>
  </pre>
  <pre data-title="Modal fade">
    <style data-selector=".modal.fade"></style>
  </pre>
  <pre data-title=":before">
    <style data-selector=".modal:before">Let modal dialog position in the middle of the screen</style>
  </pre>

  <h5>Modal backdrop</h5>
  <pre>
    <style data-selector=".modal-backdrop"></style>
  </pre>
  <pre data-title="Modal backdrop in">
    <style data-selector=".modal-backdrop.in"></style>
  </pre>
  <pre data-title="Modal backdrop fade">
    <style data-selector=".modal-backdrop.fade"></style>
  </pre>

  <h5>Modal dialog</h5>
  <p>Use <code data-tag="div"></code> to create a modal dialog class. For example, <code>.modal-dialog</code> is a modal dialog class used in Bootstrap.</p>
  <pre>
    <style data-selector=".modal-dialog"></style>
  </pre>
  <pre data-title="The modal dialog of the medium and large size">
    <style data-selector=".modal-dialog.modal-lg">Let modal max height always 80% of the screen.</style>
  </pre>

  <h5>Modal width</h5>
  <p>Extend the modal dialog class to define the modal width.</p>
  <pre data-title="Extra Small">
    <style data-selector=".modal-xs"></style>
  </pre>
  <pre data-title="Small">
    <style data-selector=".modal-sm"></style>
  </pre>
  <pre data-title="Medium">
    <style data-selector=".modal-md"></style>
  </pre>
  <pre data-title="Large">
    <style data-selector=".modal-lg"></style>
  </pre>

  <h5>Modal container</h5>
  <p>Wrap the modal header, body, and footer with a modal container. <code>.modal-content</code> is a modal container used in Bootstrap.</p>
  <pre>
    <style data-selector=".modal-content"></style>
  </pre>

  <h5>Modal header</h5>
  <p>Use <code data-tag="div"></code> to create a modal header class. For example, <code>.modal-header</code> is a modal header used in Bootstrap.</p>
  <pre>
    <style data-selector=".modal-header"></style>
  </pre>
  <pre data-title="A modal without header">
    <style data-selector=".modal-header.no-header"></style>
  </pre>
  <pre data-title="Title text class within header">
    <style data-selector=".modal-title"></style>
  </pre>

  <h5>Close button class</h5>
  <pre>
    <style data-selector=".modal-header .close"></style>
  </pre>
  <pre data-title=":hover">
    <style data-selector=".modal-header .close:hover"></style>
  </pre>
  <pre data-title=":focus">
    <style data-selector=".modal-header .close:focus"></style>
  </pre>

  <h5>Icon class</h5>
  <p>The icon class should only be used on elements that do not contain any text or child elements. We recommend wrapping any <code data-tag="span"></code> or <code data-tag="i"></code> element.</p>
  <pre>
    <style data-selector=".icon"></style>
    <style data-selector=".icon-modal-close"></style>
  </pre>

  <h5>Modal body</h5>
  <p>Use <code data-tag="div"></code> to create a modal body class. For example, <code>.modal-body</code> is a modal body used in Bootstrap.</p>
  <pre>
    <style data-selector=".modal-body"></style>
  </pre>
  <pre data-title="The modal body of the extra small size">
    <style data-selector=".modal-body.body-xs"></style>
  </pre>
  <pre data-title="The modal body of the small size">
    <style data-selector=".modal-body.body-sm"></style>
  </pre>
  <pre data-title="The modal body of the medium and large size">
    <style data-selector=".modal-lg .modal-body"></style>
  </pre>

  <h5>Modal footer</h5>
  <p>Use <code data-tag="div"></code> to create a modal footer class. For example, <code>.modal-footer</code> is a modal footer used in Bootstrap.</p>
  <pre>
    <style data-selector=".modal-footer"></style>
  </pre>
  <pre data-title="More than one buttons in a row in footer">
    <style data-selector=".modal-footer .btn + .btn"></style>
  </pre>
</section>

<section class="modal-example">
  <p>Modal dialogs are used to get a response from a user before other features can be assessed from the main page. Use title case for the titles.</p>
  <p>There are four common modal sizes. You may also adjust the size as required.</p>
  <div class="lists-unordered">
    <ul>
      <li><span>Extra small</span>:W400 x H240 px (minimum height)</li>
      <li><span>Small</span>:W544 x H304 px (minimum height)</li>
      <li><span>Medium</span>:W688 x H304 px (minimum height)</li>
      <li><span>Large</span>:W928 x H304 px (minimum height)</li>
    </ul>
  </div>
  <div class="modal-example-wrapper">
    <div>
      <h5>Basic dialog</h5>
      <div class="modal xs-example" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-xs" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="icon icon-modal-close"></span></button>
              <h3 class="modal-title">Modal Title</h3>
            </div>
            <div class="modal-body body-xs">
              <form>
                <div class="form-group">
                  <label class="control-label" for="modalInput1">Text input:</label>
                  <input type="text" class="form-control" id="modalInput1">
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">Save</button><button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    </div>
    <div>
      <h5>Basic dialog with no title</h5>
      <div class="modal xs-example" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-xs" role="document">
          <div class="modal-content">
            <div class="modal-header no-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="icon icon-modal-close"></span></button>
            </div>
            <div class="modal-body body-xs">
              <div class="placeholder" data-type="image" data-src="images/modal_content.png"></div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">Save</button><button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    </div>
  </div>
  <div class="example">
    <div>
      <button class="btn btn-default" id="demo-xs-button" data-toggle="modal" data-target="#modal-xs">Extra Small Modal</button>
      <button class="btn btn-default" id="demo-sm-button" data-toggle="modal" data-target="#modal-sm">Small Modal</button>
      <button class="btn btn-default" id="demo-md-button" data-toggle="modal" data-target="#modal-md">Medium Modal</button>
      <button class="btn btn-default" id="demo-lg-button" data-toggle="modal" data-target="#modal-lg">Large Modal</button>
    </div>
  </div>
</section>



<div class="modal fade" data-template="modal-xs" tabindex="-1" role="dialog" aria-labelledby="xsModalLabel">
      <div class="modal-dialog modal-xs" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="icon icon-modal-close"></span></button>
            <h3 class="modal-title" id="xsModalLabel">Modal Title</h3>
          </div>
          <div class="modal-body body-xs">
            <form>
              <div class="form-group">
                <label class="control-label" for="modalInput2">Text input:</label>
                <input type="text" class="form-control" id="modalInput2">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" data-template="modal-sm" tabindex="-1" role="dialog" aria-labelledby="smModalLabel">
<div class="modal-dialog modal-sm" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="icon icon-modal-close"></span></button>
      <h3 class="modal-title">Modal Title</h3>
    </div>
    <div class="modal-body body-sm">
      <form class="form-horizontal">
        <div class="form-group">
          <label class="control-label" for="modalInput3">Title:</label>
          <div class="control-wrapper">
            <input type="text" class="form-control" id="modalInput3" value="Security Risk Detection Over Time">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">Threat type:</label>
          <div class="control-wrapper">
            <div class="checkbox">
              <input type="checkbox" name="optionscheckboxs" id="modalcheckboxs" class="input-checkbox">
              <label for="modalcheckboxs">Virus/Malware</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" name="optionscheckboxs" id="modalcheckboxs1" class="input-checkbox">
              <label for="modalcheckboxs1">Spyware/Adware</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" name="optionscheckboxs" id="modalcheckboxs2" class="input-checkbox" checked>
              <label for="modalcheckboxs2">Web Reputation</label>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" data-template="modal-md" tabindex="-1" role="dialog" aria-labelledby="mdModalLabel">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="icon icon-modal-close"></span></button>
        <h3 class="modal-title">Modal Title</h3>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="control-label" for="modalInput4">Title:</label>
            <div class="control-wrapper">
              <input type="text" class="form-control" id="modalInput4" value="Security Risk Detection Over Time">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">Threat type:</label>
            <div class="control-wrapper">
              <div class="checkbox">
                <input type="checkbox" name="optionscheckboxs" id="modalmdcheckboxs" class="input-checkbox">
                <label for="modalmdcheckboxs">Virus/Malware</label>
              </div>
              <div class="checkbox">
                <input type="checkbox" name="optionscheckboxs" id="modalmdcheckboxs1" class="input-checkbox">
                <label for="modalmdcheckboxs1">Spyware/Adware</label>
              </div>
              <div class="checkbox">
                <input type="checkbox" name="optionscheckboxs" id="modalmdcheckboxs2" class="input-checkbox" checked>
                <label for="modalmdcheckboxs2">Web Reputation</label>
              </div>
              <div class="checkbox">
                <input type="checkbox" name="optionscheckboxs" id="modalmdcheckboxs3" class="input-checkbox" checked>
                <label for="modalmdcheckboxs3">Predictive Machine Learning</label>
              </div>
              <div class="checkbox">
                <input type="checkbox" name="optionscheckboxs" id="modalmdcheckboxs4" class="input-checkbox" checked>
                <label for="modalmdcheckboxs4">Behavior Monitoring</label>
              </div>
              <div class="checkbox">
                <input type="checkbox" name="optionscheckboxs" id="modalmdcheckboxs5" class="input-checkbox" checked>
                <label for="modalmdcheckboxs5">Suspicious Connection</label>
              </div>
              <div class="checkbox">
                <input type="checkbox" name="optionscheckboxs" id="modalmdcheckboxs6" class="input-checkbox" checked>
                <label for="modalmdcheckboxs6">Suspicious Files Objects</label>
              </div>
              <div class="checkbox">
                <input type="checkbox" name="optionscheckboxs" id="modalmdcheckboxs7" class="input-checkbox" checked>
                <label for="modalmdcheckboxs7">Firewall</label>
              </div>
              <div class="checkbox">
                <input type="checkbox" name="optionscheckboxs" id="modalmdcheckboxs8" class="input-checkbox" checked>
                <label for="modalmdcheckboxs8">Device Control</label>
              </div>
              <div class="checkbox">
                <input type="checkbox" name="optionscheckboxs" id="modalmdcheckboxs9" class="input-checkbox" checked>
                <label for="modalmdcheckboxs9">Data Protection</label>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" data-template="modal-lg" tabindex="-1" role="dialog" aria-labelledby="lgModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="icon icon-modal-close"></span></button>
        <h3 class="modal-title">Modal Title</h3>
      </div>
      <div class="modal-body mCustomScrollbar mCustomScrollbar-dragger-fixed">
        <div class="placeholder" data-type="image" data-class="modal-table-img" data-src="images/table.png"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>