<section class="tables-example">
  <p>Tables are a structured way of presenting large volumes of data in a manner that makes the data readable and comparable.</p>
  <div class="lists-unordered">
    <ul>
      <li><strong>Content alignment:</strong> Content should be left aligned except when using a different alignment option helps with comprehension. For example, numeric data is easier to scan when right aligned. The alignment of column headers matches their content.</li>
      <li><strong>Columns:</strong> To help users read tables, order the columns by importance from left to right. Provide useful columns of metadata, keep the number of columns small. Avoid the need to scroll horizontally in default delivery on desktop screens, don't make columns so narrow that it truncates the information in typical cases.</li>
    </ul>
  </div>
</section>