.tables-example .longtext-example .table > thead > tr > th:nth-child(1),
.tables-example .longtext-example .table > tbody > tr > td:nth-child(1) {
	width: 30.3%;
}
.tables-example .longtext-example .table > thead > tr > th:nth-child(2),
.tables-example .longtext-example .table > tbody > tr > td:nth-child(2) {
	width: 15.53%;
}
.tables-example .longtext-example .table > thead > tr > th:nth-child(3),
.tables-example .longtext-example .table > tbody > tr > td:nth-child(3) {
	width: 8.76%;
	text-align: right;
}
.tables-example .longtext-example .table > thead > tr > th:nth-child(4),
.tables-example .longtext-example .table > tbody > tr > td:nth-child(4) {
	width: 11.64%;
}
.tables-example .longtext-example .table > thead > tr > th:nth-child(5),
.tables-example .longtext-example .table > tbody > tr > td:nth-child(5) {
	width: 8.77%;
}
.tables-example .longtext-example .table > thead > tr > th:nth-child(6),
.tables-example .longtext-example .table > tbody > tr > td:nth-child(6) {
	width: 17.77%;
}
.tables-example .longtext-example .table > thead > tr > th:nth-child(7),
.tables-example .longtext-example .table > tbody > tr > td:nth-child(7) {
	width: 15.77%;
}
.tables-example .longtext-example .table > thead > tr > th:nth-child(8),
.tables-example .longtext-example .table > tbody > tr > td:nth-child(8) {
	width: 11.77%;
}
.tables-example .longtext-example .table-longtext {
	margin-bottom: 24px;
}