//
// Forms
// --------------------------------------------------


// Normalize non-controls
//
// Restyle and baseline non-control form elements.

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  // Chrome and Firefox set a `min-width: min-content;` on fieldsets,
  // so we reset that to ensure it behaves more like a standard block element.
  // See https://github.com/twbs/bootstrap/issues/12359.
  min-width: 0;
  margin-bottom: 24px;
}

legend {
  display: block;
  width: 100%;
  margin-bottom: 16px;
  font-family: @font-family-arial;
  font-size: @font-size-large;
  font-weight: 700;
  line-height: @line-height-base;
  color: @legend-color;
  border-bottom: 1px solid @legend-border-color;
  padding-bottom: 4px;
}

label {
  display: inline-block;
  max-width: 100%; // Force IE8 to wrap long content (see https://github.com/twbs/bootstrap/issues/13141)
  margin-bottom: 4px;
}


// Normalize form controls
//
// While most of our form styles require extra classes, some basic normalization
// is required to ensure optimum display with or without those classes to better
// address browser inconsistencies.

// Position radios and checkboxes better
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9; // IE8-9
  line-height: normal;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
textarea:focus,
.input-focus {
	border-color: @input-border-focus;
	transition: all 0.2s linear 0s;
	outline: none;
}

input[type="file"] {
  display: none;//customized
}

// Make range inputs behave like textual form controls
input[type="range"] {
  display: block;
  width: 100%;
}

// Make multiple select elements height not fixed
select[multiple],
select[size] {
  height: auto;
}

// Focus for file, radio, and checkbox
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  //.tab-focus();
}

// Adjust output element
output {
  display: block;
  padding-top: (@padding-base-vertical + 1);
  font-size: @font-size-base;
  line-height: @line-height-base;
  color: @input-color;
}


// Common form controls
//
// Shared size and type resets for form controls. Apply `.form-control` to any
// of the following form controls:
//
// select
// textarea
// input[type="text"]
// input[type="password"]
// input[type="datetime"]
// input[type="datetime-local"]
// input[type="date"]
// input[type="month"]
// input[type="time"]
// input[type="week"]
// input[type="number"]
// input[type="email"]
// input[type="url"]
// input[type="search"]
// input[type="tel"]
// input[type="color"]

.form-control {
  display: block;
  width: 100%;
  padding: @padding-base-vertical @form-horizontal-padding-base;
  font-size: @font-size-base;
  color: @input-color;
  background-color: @input-bg;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid @input-border;
  border-radius: @input-border-radius; // Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.
  //.box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
  //.transition(~"border-color ease-in-out .15s, box-shadow ease-in-out .15s");

  // Customize the `:focus` state to imitate native WebKit styles.
  //.form-control-focus();

  // Placeholder
  .placeholder(@input-color-placeholder);

  select&{
    height: 32px;
    appearance:none;
    background: url("../images/icon/selectCaretDown.svg") no-repeat;
    background-position: right 12px center;
  }
  select[multiple]& {
    height: auto;
    background-image: none;
  }
  select:focus&{
    outline: 0;
  }

  // Unstyle the caret on `<select>`s in IE10+.
  &::-ms-expand {
    border: 0;
    background-color: transparent;
  }

  // Disabled and read-only inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    background-color: @input-bg-disabled;
    opacity: 0.5; // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655
  }

  &[disabled],
  fieldset[disabled] & {
    cursor: @cursor-disabled;
  }

  // Reset height for `textarea`s
  textarea& {
    height: auto;
    resize: none; //Default textarea can't resize
  }
}
//form control height in IE 10 and above
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
   input.form-control {
    height: 32px;
  }
}


// Search inputs in iOS
//
// This overrides the extra rounded corners on search inputs in iOS so that our
// `.form-control` class can properly style them. Note that this cannot simply
// be added to `.form-control` as it's not specific enough. For details, see
// https://github.com/twbs/bootstrap/issues/11586.

input[type="search"] {
  -webkit-appearance: none;
}


// Special styles for iOS temporal inputs
//
// In Mobile Safari, setting `display: block` on temporal inputs causes the
// text within the input to become vertically misaligned. As a workaround, we
// set a pixel line-height that matches the given height of the input, but only
// for Safari. See https://bugs.webkit.org/show_bug.cgi?id=139848
//
// Note that as of 9.3, iOS doesn't support `week`.

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="date"],
  input[type="time"],
  input[type="datetime-local"],
  input[type="month"] {
    &.form-control {
      line-height: @input-height-base;
    }

    &.input-sm,
    .input-group-sm & {
      line-height: @input-height-small;
    }

    &.input-lg,
    .input-group-lg & {
      line-height: @input-height-large;
    }
  }
}


// Form groups
//
// Designed to help with the organization and spacing of vertical forms. For
// horizontal forms, use the predefined grid classes.


.form-group{
  .tmicon-info-o {
    margin-top: 6px;
  }
  .popover-example {
    &.bottom-right{
      margin-top: 8px;
    }
  }
  margin-bottom: 12px;
}

//form with infotips
form {
  .tmicon-info-o {
    color: #000;
    vertical-align: top;
    margin-left: 12px;
    opacity: 0.5;
  }
  .tmicon-info-o:hover{
    opacity: 1;
  }
}


// Checkboxes and radios
//
// Indent the labels to position radios/checkboxes as hanging controls.

.radio,
.radio-inline,
.checkbox,
.checkbox-inline {
  position: relative;
  display: block;

  label {
    min-height: @line-height-base-computed; // Ensure the input doesn't jump when there is no text
    padding: 0;
    margin-bottom: 0;
    cursor: pointer;
    color: #000000;
    line-height: 20px;
  }
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-left: -20px;
  margin-top: 4px \9;
}

.radio + .radio,
.checkbox + .checkbox {
  margin-top: 8px; // Move up sibling radios or checkboxes for tighter spacing
}

// Radios and checkboxes on same line
.radio-inline,
.checkbox-inline {
  position: relative;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
  float: left;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-left: 16px; // space out consecutive inline controls
}

// Apply same disabled cursor tweak as for inputs
// Some special care is needed because <label>s don't inherit their parent's `cursor`.
//
// Note: Neither radios nor checkboxes can be readonly.
input[type="radio"],
input[type="checkbox"] {
  &[disabled],
  &.disabled,
  fieldset[disabled] & {
    cursor: @cursor-disabled;
  }
}
// These classes are used directly on <label>s
.radio-inline,
.checkbox-inline {
  &.disabled,
  fieldset[disabled] & {
    cursor: @cursor-disabled;
  }
}
// These classes are used on elements with <label> descendants
.radio,
.radio-inline,
.checkbox,
.checkbox-inline {
  &.disabled,
  fieldset[disabled] & {
    label {
      opacity: 0.5;
      cursor: @cursor-disabled;
    }
  }
}

//input text
.input-focus{
  border-color: @input-border-focus;
}
.form-invalid,
.form-invalid:focus {
  border-color: @input-border-danger;
}
.label-required:after{
  content: "*";
  color: @brand-danger;
}

//textarea

.textarea-resizable{
  textarea&{
    resize: vertical;//only can resize vertical
  }
}

//Customized Radio ans Checkbox
.input-radio ,
.input-checkbox {
  display: none;
}

.input-radio + label:before,
.input-checkbox + label:before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 8px;
  border: 1px solid @input-checkbox-radio-border;
  vertical-align: top;
  margin-top: 3px;
  background-color: #ffffff;
  color: #ffffff;
}

.radio label:before,
.radio-inline label:before {
  border-radius: 50%;
}
.checkbox label:before,
.checkbox-inline label:before {
  border-radius: 2px;
}

.input-radio + label:hover::before,
.input-checkbox + label:hover::before,
.radio .hover + label:before,
.radio-inline .hover + label:before,
.checkbox .hover + label:before,
.checkbox-inline .hover + label:before {
  border: 1px solid @input-border-focus;
}

.radio .checked + label:before,
.radio-inline .checked + label:before,
.input-radio:checked + label:before {
    content: "\2022";
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    line-height: 14px;
    border: 1px solid @input-border-focus;
    background-color: @input-border-focus;
    transition: background-color 0.2s;
}

.input-radio:checked + label:hover::before,
.radio .checked-hover + label:before,
.radio-inline .checked-hover + label:before {
    border: 1px solid #33ABD6;
    background-color: #33ABD6;
}

.radio .disabled + label:before,
.radio-inline .disabled + label:before {
  border: 1px solid @input-checkbox-radio-border;
  background-color: #dddddd;
}


.checkbox .checked + label:before,
.checkbox-inline .checked + label:before,
.input-checkbox:checked + label:before {
    content: "";
    background-image: url(../images/icon/component_check.svg);
    background-position: center;
    border: 1px solid @input-border-focus;
    background-color: @input-border-focus;
    transition: 0.2s;
}

.input-checkbox:checked + label:hover::before,
.checkbox .checked-hover + label:before,
.checkbox-inline .checked-hover + label:before {
    border: 1px solid #33ABD6;
    background-color: #33ABD6;
}

.checkbox-partial + label:before{
  content: "\25A0";
  color: @input-border-focus;
  font-size: 13px;
  text-align: center;
  line-height: 10px;
  transition: color 0.2s;
}

.checkbox .disabled + label:before,
.checkbox-inline .disabled + label:before {
  border: 1px solid @input-checkbox-radio-border;
  background-color: #dddddd;
}


// Static form control text
//
// Apply class to a `p` element to make any string of text align with labels in
// a horizontal form layout.

.form-control-static {
  // Size it appropriately next to real form controls
  padding-top: @padding-base-vertical;
  padding-bottom: @padding-base-vertical;
  // Remove default margin from `p`
  margin-bottom: 0;
  min-height: @input-height-base;

  &.input-lg,
  &.input-sm {
    padding-left: 0;
    padding-right: 0;
  }
}


// Help text
//
// Apply to any element you wish to create light text for placement immediately
// below a form control. Use for general help, formatting, or instructional text.

.help-block {
  display: block; // account for any element using help-block
  margin-top: 4px;
  color: #999999;
  &.help-block-with-icon {
    padding-left: 20px;
  }
  .tmicon {
    margin-right: 4px;
    vertical-align: top;
    margin-top: 0;
    margin-left: -20px;
  }
}
.help-block-invalid {
  color: @brand-danger;
}
