//
// Custom scrollbar
// --------------------------------------------------

.mCSB_inside > .mCSB_container {
	margin-right: 0;
}

.mCS-autoHide {
  &:hover {
    > .mCustomScrollBox {
      .mCSB_scrollTools {
        opacity: 1;
      }
    }
  }
  > .mCustomScrollBox {
    .mCSB_scrollTools {
      opacity: 0;
      transition: all 0.2s ease-in-out;
    }
  }
}


.mCSB_scrollTools {
  width: 8px;
  opacity: 1;

  .mCSB_draggerRail {
    width: 8px;
    border-radius: 0;
    background-color: transparent;
    transition: all 0.5s ease-in-out;
  }
  
  .mCSB_dragger .mCSB_dragger_bar {
    background-color: rgba(0, 0, 0, .3); 
    border: 1px solid rgba(0, 0, 0, .15);
    width: 8px;
    border-radius: 0;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }

  .mCSB_dragger .mCSB_dragger_bar:hover {
    background-color: rgba(0, 0, 0, .45);
    border: 1px solid rgba(0, 0, 0, .3);
  }

  .mCSB_dragger:active .mCSB_dragger_bar,
  .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background-color: rgba(0, 0, 0, .45);
    border: 1px solid rgba(0, 0, 0, .3);
  }
}

.mCustomScrollbar-box-hover {
  .mCustomScrollBox:hover .mCSB_draggerRail {
    background-color: rgba(0, 0, 0, .15);
  }
}

.mCustomScrollbar-dragger-hover {
  .mCSB_draggerContainer:hover .mCSB_draggerRail {
    background-color: rgba(0, 0, 0, .15);
  }
}