<section class="css-reference">
  <h5>Axis</h5>
  <p></p>
  <pre>
    <style data-selector=".style-portal .highcharts .axis"></style>
  </pre>
  <pre data-title="xAxis">
     <style data-selector=".style-portal .highcharts .axis.xAxis"></style>
  </pre>
  <h5>Series</h5>
  <p></p>
  <pre>
     <style data-selector=".style-portal .highcharts .series"></style>
  </pre>
  <pre data-title=":hover">
     <style data-selector=".style-portal .highcharts .series.hover .stroke">Stroke white circle overlapping the series</style>
  </pre>
  <pre>
     <style data-selector=".style-portal .highcharts .series.hover .outer-glow">Series outer glow circle</style>
  </pre>
  <h5>Tooltips</h5>
  <p>About tooltips style, please refer to Tooltips component.</p>
  <pre>
     <style data-selector=".style-portal .highcharts .tooltips"></style>
  </pre>
  <h5>Legend Wrapper</h5>
  <pre>
     <style data-selector="section.legend"></style>
  </pre>
  <h5>Legend Container</h5>
  <p>Wrap all legends with a <code data-tag="ul"></code> element.</p>
  <pre>
     <style data-selector="section.legend ul"></style>
  </pre>
  <h5>Legend</h5>
  <p>Use <code data-tag="li"></code> for each legend under the <code data-tag="ul"></code> elements.</p>
  <pre>
     <style data-selector="section.legend ul li"></style>
  </pre>
  <pre data-title="More than one legends in a row:">
     <style data-selector="section.legend ul li + li"></style>
  </pre>
  <pre data-title="Mute state:">
     <style data-selector="section.legend ul li.mute"></style>
  </pre>
  <pre data-title=":before">
     <style data-selector="section.legend ul li:before"></style>
  </pre>
</section>


<section class="line-charts-example standard-line-chart">
	<div id="line-chart container" class="chart-container"></div>
	<section class="legend">
        <ul></ul>
    </section>
</section>