<section class="line-charts-example">
	<p>If you have continuous data that you would like to represent through a chart then a line chart is a good option. This graph is especially effective when trying to identify a trend or pattern in your data, for example seasonal effects and large changes over time.</p>
  <ul class="description">
    <li>Readable labels. Whenever possible, avoid rotated labels; they are hard for people to read and distract from focusing on the numbers.</li>
    <li>Avoid smoothing and 3D. Avoid adding a smoothing feature to your line; it gives the impression of data points that are not there.</li>
    <li>Don’t use gradients. Use flat colors.</li>
    <li>Keep one line legends in the bottom or one column in the right.</li>
  </ul>
</section>