.button-dropdowns-example .inline-block-group {
  margin-bottom: 12px;
}
.button-dropdowns-example .inline-block {
  width: 110px;
}
.button-dropdowns-example .inline-block h5 {
  margin-top: 0;
}