<section class="css-reference">
  <p>Wrap an <code>input</code> and a <code>label</code> within <code>span</code> element to implement a checkbox under the dropdown menu items.</p>
  <p>About checkbox style, please refer to Form Elements.</p>
  <pre data-title="Make whole dropdown menu items can checked">
    <style data-selector=".dropdown-menu .checkbox > label">Label style</style>
  </pre>
</section>

<section class="dropdown-example">
  <p>Sometimes form element like checkboxes can be added to a dropdown menu for multi-select options. Selected item can be displayed the number of items in the button, or items separate by "," when the items are longer than the width of dropdown button to show "..." .</p>
  <p>
    <div class="dropdown open">
      <button class="btn btn-border dropdown-toggle" type="button">
        <span class="caret"></span>Product <span>(3)</span>
      </button>
      
      <ul class="dropdown-menu">
        <li>
          <a href="javascript:;">
            <sapn class="checkbox">
              <input type="checkbox" name="dropdowncheckboxs" id="dropdowncheckboxs1" class="input-checkbox checked" >
              <label for="dropdowncheckboxs1">Deep Discovery Email Inspector</label>
            </sapn>
          </a>
        </li>
        <li>
          <a href="javascript:;">
            <sapn class="checkbox">
              <input type="checkbox" name="dropdowncheckboxs" id="dropdowncheckboxs2" class="input-checkbox checked">
              <label for="dropdowncheckboxs2">Deep Discovery Inspector</label>
            </sapn>
          </a>
        </li>
        <li>
          <a href="javascript:;">
            <sapn class="checkbox">
              <input type="checkbox" name="dropdowncheckboxs" id="dropdowncheckboxs3" class="input-checkbox checked">
              <label for="dropdowncheckboxs3">Deep Security</label>
            </sapn>
          </a>
        </li>
        <li>
          <a href="javascript:;">
            <sapn class="checkbox">
              <input type="checkbox" name="dropdowncheckboxs" id="dropdowncheckboxs4" class="input-checkbox">
              <label for="dropdowncheckboxs4">Mobile Security</label>
            </sapn>
          </a>
        </li>
        <li>
          <a href="javascript:;">
            <sapn class="checkbox">
              <input type="checkbox" name="dropdowncheckboxs" id="dropdowncheckboxs5" class="input-checkbox">
              <label for="dropdowncheckboxs5">OfficeScan</label>
            </sapn>
          </a>
        </li>
        <li>
          <a href="javascript:;">
            <sapn class="checkbox">
              <input type="checkbox" name="dropdowncheckboxs" id="dropdowncheckboxs6" class="input-checkbox">
              <label for="dropdowncheckboxs6">Threat Discovery Appliance</label>
            </sapn>
          </a>
        </li>
      </ul>
    </div>
  </p>
</section>