<section class="css-reference">
  <h5>Banner Notification Class</h5>
  <p>Use <code data-tag="div"></code> to create the banner notification class. For example, <code>.alert</code> is used in Bootstrap.</p>
  <pre>
    <style data-selector=".alert"></style>
  </pre>
  <pre data-title="Stack Notifications:">
    <style data-selector=".alert + .alert">Such as .alert + .alert</style>
  </pre>

  <h5>Error Notification Class</h5>
  <pre>
    <style data-selector=".alert-danger"></style>
  </pre>

  <h5>Warning Notification Class</h5>
  <pre>
    <style data-selector=".alert-warning"></style>
  </pre>

  <h5>Success Notification Class</h5>
  <pre>
    <style data-selector=".alert-success"></style>
  </pre>

  <h5>Info Notification Class</h5>
  <pre>
    <style data-selector=".alert-info"></style>
  </pre>

  <h5>Icon Class</h5>
  <p>The icon class should only be used on elements that do not contain text or child elements. We recommend using the <code data-tag="span"></code> element for the icon class. For example, <code data-html="<span class="icon"></span>Text"></code></p>
  <pre data-title="For Image icon:">
    <style data-selector=".icon">Default size of icon</style>
  </pre>

  <h5>Alert Icon</h5>
  <pre>
    <style data-selector=".alert .icon">Leave a space between icon and text. Put an icon on the vertical center of the alert.</style>
  </pre>

  <h5>Cancel Icon</h5>
  <pre data-title="Normal:">
    <style data-selector=".pull-right">Cnacel icon should padding to the right of the alert.</style>
    <style data-selector=".cancel"></style>
  </pre>
  <pre data-title=":hover">
    <style data-selector=".cancel:hover"></style>
    <style data-selector=".alert .icon-cancel">Because alert icon puts a right space. Cancel icon should remove the space.</style>
  </pre>

  <h5>Buttons Within Notifications (Optional)</h5>
  <p>Buttons within notifications should be extra small in size. Refer to Components > Buttons > Button Sizes.</p>
  <pre>
    <style data-selector=".alert .btn-xs">Leave a space between button and text.</style>
  </pre>

  <h5>Links Within Notifications (Optional)</h5>
  <p>Alert inline link should be a link style. Please refer to Typography style.</p>
  <pre>
    <style data-selector=".alert a">Remove underline from link.</style>
  </pre>
</section>

<section class="alert-example">
  <p>Banner notifications are messages about banner statuses and events that require user attention and sometimes actions. A banner notification: </p>
	<p>
		<div class="lists-unordered">
			<ul>
				<li>should appear on the top of a product console, just below the navigation bar.</li>
				<li>should be full-width, static, and closable.</li>
				<li>can contain action buttons or hyperlinks.</li>
				<li>involving critical issues should only be closable when the alerted situations are resolved.</li>
			</ul>
		</div>
	</p>
	<p><strong>Types:</strong></p>
	<div class="lists-unordered">
		<ul>
			<li><strong>Error:</strong> This type of banner notifications are used to notify critical issues that require the user&apos;s immediate attention and action.</li>
			<li><strong>Warning:</strong> This type of banner notfications are used to notify potential issues, but users may not need to do anything.</li>
			<!-- <li><strong>Confirmational:</strong> they are used to confirm configurations.</li> -->
			<li><strong>Informational:</strong> This type of banner notifications are used to provide users with potentially useful, relevant informational.</li>
		</ul>
	</div>
	<p>	
		<div class="alert alert-danger" role="alert">
		  <span class="icon icon-danger"></span>Your license will expire in 3 days.<button class="btn btn-border btn-xs">Renew Now</button>
		  <a href="#" class="cancel pull-right" data-dismiss="alert" aria-label="close"><span class="icon icon-cancel"></span></a>
		</div>
		<div class="alert alert-warning" role="alert">
		  <span class="icon icon-warn"></span>Your browser is currently not supported. <a href="javascript:;">More Information</a>
		  <a href="#" class="cancel pull-right" data-dismiss="alert" aria-label="close"><span class="icon icon-cancel"></span></a>
		</div>
		<!--
		<div class="alert alert-success" role="alert">
		  <span class="icon icon-success"></span>You successfully read this important alert message.
		  <a href="#" class="cancel pull-right" data-dismiss="alert" aria-label="close"><span class="icon icon-cancel"></span></a>
		</div>
		-->
		<div class="alert alert-info" role="alert">
		  <span class="icon icon-info"></span>This notification needs tour attention, but it&apos;s not super important.
		  <a href="#" class="cancel pull-right" data-dismiss="alert" aria-label="close"><span class="icon icon-cancel"></span></a>
		</div>
	</p>
	<div class="example">	
		<div class="banner-alert-example">
			<div class="alert-banner">
				<img src="./dist/img/alert_img1_left.png"><img src="./dist/img/alert_img1_right.png">
			</div>
			<div class="alert alert-warning" role="alert">
			  <span class="icon icon-warn"></span>Your browser is currently not supported. <a href="javascript:;">More Information</a>
			  <a href="#" class="cancel pull-right" data-dismiss="alert" aria-label="close"><span class="icon icon-cancel"></span></a>
			</div>
		</div>
	</div>
	
	<div class="example">
		<div class="banner-alert-example">
			<h5>Stack Notifications<small> (displayed by severity and group similar messages)</small></h5>
			<div class="banner-alert-example">
				<div class="alert-banner">
					<img src="./dist/img/alert_img1_left.png"><img src="./dist/img/alert_img1_right.png">
				</div>
				<div class="alert alert-danger" role="alert">
				  <span class="icon icon-danger"></span>Your license will expire in 3 days.<button class="btn btn-border btn-xs">Renew Now</button>
				  <a href="#" class="cancel pull-right" data-dismiss="alert" aria-label="close"><span class="icon icon-cancel"></span></a>
				</div>
				<div class="alert alert-warning" role="alert">
				  <span class="icon icon-warn"></span>Your browser is currently not supported. <a href="javascript:;">More Information</a>
				  <a href="#" class="cancel pull-right" data-dismiss="alert" aria-label="close"><span class="icon icon-cancel"></span></a>
				</div>
			</div>
		</div>
	</div>
</section>