//
// Nav Icons
// 
// These icons will be apllied to sidebar nav items by Style Portal.
// For reusable, all themes share this LESS file, so each rules
// should not be modified without confirmation.
// 
// The icon names will be written in /data/categories.json
// Selector prefix is not required. E.g. Use "home" only
// --------------------------------------------------

.nav-icon-home {
  background-image: url(../images/icon/home.png);
}

.nav-icon-type {
  background-image: url(../images/icon/type.png);
}

.nav-icon-components {
  background-image: url(../images/icon/components.png);
}

.nav-icon-form {
  background-image: url(../images/icon/form.png);
}

.nav-icon-line-chart {
  background-image: url(../images/icon/line-chart.png);
}

.nav-icon-templates {
  background-image: url(../images/icon/templates.png);
}
