//
// Breadcrumbs
// --------------------------------------------------
.icon-t-ball {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(../images/tball.svg);
  background-size: 24px 24px;
}
nav {
  &.affix {
    width: auto;
    left: 0;
    right: 0;
    z-index: 3;
  }
  &.affix-top .breadcrumb-header {
    margin-left: -54px;
    transition: margin .05s ease-out;
  }
  &.affix .breadcrumb-header {
    margin-left: 0;
  }
}
.breadcrumb-header {
  float: left;  
  margin-left: -54px;
  padding: @breadcrumb-padding-vertical @breadcrumb-padding-horizontal;  
  line-height: @breadcrumb-line-height;
  margin-right: 12px;
  transition: margin .2s ease-out;
  + .breadcrumb {
    float: left;
  }
}
.breadcrumb {    
  padding: @breadcrumb-padding-vertical @breadcrumb-padding-horizontal;  
  list-style: none;
  background-color: @breadcrumb-bg;  
  margin-bottom: @breadcrumb-margin;

  &:extend(.clearfix all);
  
  &.with-line {
    border-bottom: @breadcrumb-border-width @breadcrumb-border-color solid;
    margin-bottom: (@base-space * 2);
  }

  > li {
    float: left;
    font-size: @breadcrumb-font-size;
    color: @breadcrumb-color;
    line-height: @breadcrumb-line-height;
    > a {
      color: @breadcrumb-color;
      text-decoration: none;
      &:hover, &:focus {
        color: @link-color;
      }
    }
    + li:before {
      content: @breadcrumb-separator;
      padding: 0 5px;
      color: @breadcrumb-color;
    }
  }

  > .active {
    color: @breadcrumb-active-color;
  }
}