//
// Charts
// --------------------------------------------------

//** Charts position
.chart-container {
  margin: 0 auto;
}

//** Charts style for display only
.style-portal {
  .highcharts {
    .axis {
      color: #666666;
      font-size: 12px;
      font-family: @font-family-arial;
      &.xAxis {
        padding: 2px 0;
        &.crosshair {
          border: 1px solid #dddddd;
        }
      }
      &.yAxis {
        border: 1px solid #e6e6e6;
      }
      .chart-title {
          text-align: right;
          line-height: 30px;
          font-size: 12px;
          font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
          color: #666666;
      }
    }
    .series {
      width: @highcharts-series-size;
      height: @highcharts-series-size;
      border-radius: @highcharts-series-border-radius;
      &.stacked {
        opacity: 0.25;
      }
      &.hover {
        .stroke {
          background-color: @white;
          width: @highcharts-series-stroke-size;
          height: @highcharts-series-stroke-size;
          border-radius: @highcharts-series-border-radius;
        }
        .outer-glow {
          width: @highcharts-series-outer-glow-size;
          height: @highcharts-series-outer-glow-size;
          border-radius: @highcharts-series-border-radius;
        }
      }
    }
    .tooltip {
      box-shadow: @tooltip-light-shadow;
    }
    .area-tooltips {
      border: 1px solid #bbbbbb;
    }
    .bar-chart {
      .series {
        width: 24px;
        &.grouped {
          width: 8px;
          .bar-grouped {
            height: 6px;
          }
          .column-grouped {
            width: 6px;
          }
        }
        &.stacked {
          border: 1px solid #ffffff;
        }
      }
    }
    .pie-donut-chart {
      .pie-diameter {
        width: 250px;
      }
      .pie-slices,
      .donut-slices {
        border: 1px solid #ffffff;
        &.hover {
          width: 6px;
        }
        &.brightness {
          filter: brightness(12%);
        }
      }
      .donut-diameter {
        width: 250px;
      }
      .donut-inner-diameter {
        width: 186px;
      }
      .semi-donut-diameter {
        width: 280px;
      }
      .semi-donut-inner-diameter {
        width: 184px;
      }
      .donut-chart-title {
        color: #222222;
        font-size: 32px;
        font-family: @font-family-interstate-light;
        + .donut-chart-title {
          hight: 8px;
        }
      }
      .donut-chart-subtitle {
        color: #222222;
        font-size: 13px;
        font-family: @font-family-arial;
      }
    }
  }
}

//** Charts tooltip style
.highcharts-tooltip > span > table {
  padding: 16px;
  background-color: @white;
  font-family: @font-family-arial;
  color: #222222;
  td {
    line-height: 20px;
  }
  > thead > tr > td{
    padding-bottom: 4px;
    font-weight: bold;
  }
  > tbody > tr > td:first-child {
    padding-right: 16px;
  }
  > tbody > tr > td:last-child {
    text-align: right;
    font-weight: bold;
    > span {
      font-weight: normal;
    }
  }
}

//** Charts legend 
.legend {
  height: 30px;
  text-align: center;
  position: relative;

  &:not(.legend-vertical) {
    margin-top: 8px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0 36px;
    line-height: 30px;
    transition: all 0.5s;
    li {
      display: inline-block;
      cursor: pointer;
      line-height: 20px;
      + li {
         margin-left: 16px;
      }
      &.mute {
        .opacity(.3);
      }
      &:before {
        display: block;
        content: '';
        width: 8px;
        height: 8px;
        border-radius: 100%;
        margin-top: 6px;
        margin-right: 4px;
        float: left;
      }
    }
  }
  &.scrollable {
    overflow-y: hidden;
    padding-right: 70px;
  }
  .make-lagend-list-style();
}

//** Charts vertical legend 
.legend-vertical {
  position: absolute;
  top: 0;
  right: 0;
  width: 180px;
  height: 336px;
  ul {
    padding: 0 0 0 16px;
    li {
      display: block;
      text-align: left;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 4px 0;
      + li {
        margin-left: 0;
      }
    }
  }
  &.scrollable {
    overflow-y: hidden;
    padding: 0;
  }
}

//** Charts legend page
.legend-page {
  position: absolute;
  display: none;
  right: 12px;
  top: 5px;
  .fa {
    color: #9c9c9c;
    cursor: pointer;
  }
  .fa-caret-up {
    margin-right: 8px;
  }
  .fa-caret-down {
    margin-left: 8px;
  }
  .unable {
    cursor: default;
    color: #DDDDDD;
  }
  &.show {
    display: inline-block;
  }
}

//** Charts with vertical legend
.legend-vertical-container {
  position: relative;
  .legend-page {
    top: 334px;
    right: 106px;
  }
  .chart-container {
    position: relative;
    margin-right: 180px;
  }
}

//** Bar Chart legend style with chart title
.chart-title + .legend {
  margin-top: 0;
}

//** Donut chart with vertical legend
.donut-legend-container {
  .pie-donut-charts-container {
    width: 50%;
  }
  .legend-vertical {
    padding-left: 1px;
    width: 50%;
    height: 330px;
    ul {
      padding: 0;
      li {
        span {
          display: inline-block;
          vertical-align: top;
        }
        .legend-series-name {
          max-width: 70%;
          overflow: hidden;
          text-overflow : ellipsis;
          white-space : nowrap;
        }
        .legend-series-value {
          font-weight: bold;
        }
      }
    }
  }
  .legend-page {
    top: 252px;
    left: 50%;
  }
}







