// Combobox
.combobox {
  .form-control {
    padding-right: 48px;
    padding-left: 12px;
  }
  &.selected {
    .form-control:focus {
      color: @combobox-input-placeholder;
    }
    &:hover [data-toggle="close"],
    .form-control + [data-toggle="close"]:hover,
    .form-control:hover + [data-toggle="close"],
    .form-control:focus + [data-toggle="close"] {
      display: block;
    }
  }
  [data-toggle="close"] {
    display: none;
  }
  .tmicon-close-s {
    right: 25px;
  }
  .dropdown-menu {
    right: 0;
    left: inherit;
    width: 100%;
    > li {
      display: block;
      padding: 4px 16px;
      clear: both;
      font-weight: normal;
      line-height: 20px;
      white-space: nowrap;
      color: @text-color;
      &:hover {
        background-color: @combobox-dropdown-item-hover-bg;
        cursor: pointer;
      }
      &.selected {
        background-color: @combobox-dropdown-item-hover-bg;
        cursor: pointer;
      }
      &.actived {
        background: @combobox-dropdown-item-actived-bg;
      }
    }
    .no-matches,
    li.no-matches {
      color: @text-muted;
      &:hover,
      &.selected {
        color: @text-muted;
        background-color: @combobox-dropdown-bg;
        cursor: text;
      }
    }

  }
  &:after {
    position: absolute;
    top: 0;
    right: 0px;
    height: 32px;
    width: 24px;
    content: " ";
    background: url(../images/icon/selectCaretDown.svg) no-repeat;
    background-position-y: 7px;
    background-position-x: left;
    cursor: pointer;
    .disabled& {
      opacity: 0.5;
      filter: alpha(opacity=50);
      cursor: not-allowed;
    }
  }
}