//
// Pagination (multiple pages)
// --------------------------------------------------
.pagination {
  display: inline-block;
  padding-left: 0;
  border-radius: @border-radius-base;

  > li {
    display: inline; // Remove list-style and block-level defaults
    > a,
    > span {
      position: relative;
      float: left; // Collapse white-space
      padding: 5px 0;
      text-decoration: none;
      color: @pagination-color;
      background-color: @pagination-bg;
      border: 1px solid @pagination-border;
      margin-left: -1px;
      width: 32px;
      text-align: center;
    }
    &:first-child { //The icon border
      > a,
      > span {
        margin-left: 0;
        .border-left-radius(@border-radius-base);
      }
    }
    &:last-child {
      > a,
      > span { //The icon border
        .border-right-radius(@border-radius-base);
      }
    }
  }

  //The pagination hover and focus status
  > li > a,
  > li > span {
    cursor: pointer;
    &:hover,
    &:focus {
      z-index: 3;
      color: @pagination-hover-color;
      background-color: @pagination-hover-bg;
      border-color: @pagination-hover-border;
    }
  }

  //The pagination active status
  > li > a:active,
  > .active > a,
  > .active > span {
    &,
    &:hover,
    &:focus {
      z-index: 3;
      color: @pagination-active-color;
      background-color: @pagination-active-bg;
      border-color: @pagination-active-border;
      box-shadow: 0 1px 2px @pagination-active-shadow inset;
      background-image: none;
    }
  }


  //The pagination default active status
  > .active > a,
  > .active > span {
    cursor: default;
  }

  //The pagination disabled class status
  > .disabled {
    .opacity(@pagination-disabled-opacity);
    > span,
    > span:hover,
    > span:focus,
    > span:active,
    > a,
    > a:hover,
    > a:focus,
    > a:active,
    > a:focus:active {
      color: @pagination-disabled-color;
      background-color: @pagination-disabled-bg;
      border-color: @pagination-disabled-border;
      cursor: @cursor-disabled;
    }
  }
}
.table-pagination {
  background-color: @table-pagination-bg;
  border: 1px solid @table-pagination-border;
  display: inline-block;

 .table-pagination-block {
    float: right;
    margin-right: 12px;
    > div {
      margin-top: 8px;
      margin-bottom: 8px;
      float: left;
      + div {
        margin-left: 16px;
      }
    }
    .pagination {
      vertical-align: top;
    }
    .pagination-records {
      color: @table-pagination-text-color;
      font-size: 13px;
      margin-top: 14px;
      margin-bottom: 14px;
    }
    .pagination-records + .dropdown {
      border-left: 1px solid @table-pagination-divider-border;
    }
    .dropdown {
      padding-left: 16px;
      margin-top: 13px;
      margin-bottom: 13px;
      .dropdown-menu {
        left: 16px;
        top: (@line-height-base-computed + @padding-base-vertical + 2);
      }
      .btn {
        border-left: 0;
        border-right: 0;
        color: @table-pagination-text-color;
        font-size: 13px;
        &:hover {
          color: @link-color;
          .caret {
            border-top: 4px dashed @link-color;
          }
        }
      }
    }
    .pagination-input {
      color: @table-pagination-page-input-color;
       > input {
        width: 32px;
        padding: 5px 0;
        text-align: center;
        border-radius: 3px;
        background: @table-pagination-page-input-bg;
        border: 1px solid @table-pagination-page-input-border;
        &:focus {
          border: 1px solid @table-pagination-page-input-focus-border;
        }
      }
    }
  }
}
