// Scrollable
.table-with-scrollbar {
  .table-scrollable {
    max-height: 149px;
    overflow-y: auto;
  }
  .table-horizontal-scrollable {
    &.fixed-column {
      width: 240px;
      .table {
        > thead > tr > th,
        > tbody > tr > td {
          border-right: 1px solid #bbbbbb;
        }
      }
      &:after {
        content: "";
        height: 8px;
        width: 240px;
        display: block;
        background-color: rgba(230, 230, 230, 0.8);
        border-right: 1px solid #bbbbbb;
        border-left: 1px solid #dddddd;
      }
    }
    &.mCustomHorizontalScrollbar {
      overflow-x: auto;
      max-width: calc(~"100% - 240px");
	    border-right: 1px solid #dddddd;
    }
  }
}