.table-row-draggable {
    .icon-indicator {
        width: 8px;
        height: 32px;
        position: absolute;
        top: 2px;
        left: 4px;
        display: none;
        &.show {
            display: block;
        }
    }
}