.table-row-draggable {
	.table-draggable-placeholder td {
		background: @table-drag-placeholder-bg;
		border: 0
	}
	.ui-sortable-handle:hover {
		td {
			.draggable-indicator {
				position: relative;
				&:before {
					content: '';
					width: 8px;
					height: 36px;
					top: -8px;
					left: -10px;
					cursor: move;
					position: absolute;
					background-image: url(../images/icon/icon_indicator_darkmode.png);
					background-repeat: no-repeat;
					background-position: center center;
				}
			}
		}
	}
}

.table-row-draggable-helper {
	box-shadow: @table-drag-helper-shadow;
	background: @table-drag-helper-bg;
	cursor: move;
	> tbody {
		> tr {
			> td {
				border: 1px solid @table-header-border-bottom-color;
			}
		}
	}
}

.table-column-draggable {
	thead {
		th {
			&.column-sortable {
				&:hover {
					cursor: pointer;
				}
			}
			&.ui-column-highlight {
				background-color: @table-drag-column-header-bg;
				color: @table-drag-column-header-color;
			}
		}
	}
}

.column-sortable.ui-draggable-dragging {
	background-color: @table-drag-column-bg;
	border: 1px solid @table-drag-column-helper-border-color;
	box-shadow: @table-drag-helper-shadow;
	padding: 8px 12px;
	color: @table-drag-column-helper-color;
	font-weight: bold;
}